@font-face {
  font-family: "GmarketSans";
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url("./GmarketSansTTFLight.woff2") format("woff2-variations");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url("./GmarketSansTTFMedium.woff2") format("woff2-variations");
}

@font-face {
  font-family: "GmarketSans";
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url("./GmarketSansTTFBold.woff2") format("woff2-variations");
}
