.landing {
  // section-intro
  &-intro {
    position: relative;
    height: 400vh;
    background-color: #fefeff;

    &-title {
      display: flex;
      flex-direction: column;
      @include title(56px);
      line-height: 70px;
      letter-spacing: -1.4px;
      margin-bottom: 10px;
    }

    &-cont {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 16px;
      text-align: center;
      margin-top: -100px;

      .text-active {
        @include title(20px);
      }

      .desc {
        font-size: var(--font-20);
        line-height: 1.5;
        color: #6a7c8f;
      }

      .logo {
        display: inline-block;
        vertical-align: middle;
        margin: 1px 0 0 4px;
        img {
          width: 20px;
        }
      }
    }

    &-motion {
      // position: fixed;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      max-width: var(--max-w);
      height: 33vh;
      min-height: 200px;
      border-radius: 150px 150px 0 0;
      overflow: hidden;
      // background-color: #4d5c84;
      background-color: #f0dbf5;

      video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center top;
      }

      .landing-intro-swiper {
        height: 100%;
      }
    }

    &-mouse {
      position: absolute;
      left: 50%;
      bottom: 58px;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #fff;
      font-size: var(--font-11);
      letter-spacing: -0.1;

      .arr {
        position: absolute;
        left: 50%;
        bottom: -16px;
        margin-left: -5px;

        &::after {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          border-right: 1px solid #fff;
          border-bottom: 1px solid #fff;
          transform: rotate(45deg);
        }
      }

      .mouse {
        position: relative;
        width: 28px;
        height: 44px;
        border-radius: 14px;
        border: 1px solid #fff;
        margin-bottom: 11px;

        &::before {
          content: "";
          position: absolute;
          left: 50%;
          top: 12px;
          transform: translateX(-50%);
          width: 2px;
          height: 2px;
          background: #fff;
          border-radius: 1px;
          animation: scrollDown 1.5s ease-out infinite;
        }
      }
    }
  }

  // section-second
  &-second {
    position: relative;
    height: 300vh;
    background-color: #fff;

    .landing-section-inner {
      background-image: linear-gradient(#fff, rgb(251, 251, 255));
    }

    &-title {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      align-items: center;
      gap: 0.2em;
      margin-top: -200px;
      opacity: 0;
      @include title;
    }

    &-box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: var(--max-w);
      height: 523px;
      padding-top: 100px;
      border: 1px solid rgba(83, 80, 167, 0.05);
      border-radius: 32px;
      background-image: linear-gradient(
        146deg,
        #faf3ff -9%,
        rgba(223, 234, 253, 0.8) 80%
      );
      @include title(28px);
      text-align: center;
      overflow: hidden;

      .line1 {
        color: #3a5497;
      }
      .line2 {
        color: #8c9dca;
        opacity: 1;
      }
    }

    &-emoji {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      li {
        position: absolute;
        display: flex;
        align-items: center;
        height: 66px;
        border-radius: 66px;
        background-color: #fff;
        box-shadow: 0 3px 12px rgba(55, 29, 110, 0.07);
        padding: 0 30px;
        font-size: var(--font-18);
        font-weight: bold;
        color: #6a7b8f;
        overflow: hidden;
        white-space: nowrap;

        &:first-of-type {
          // bottom: 14px;
          bottom: 45%;
          left: 50%;
          transform: translateX(-50%);
        }

        &:nth-of-type(2) {
          bottom: 57px;
          left: 123px;
          transform: rotate(-15deg);
        }

        &:nth-of-type(3) {
          bottom: 41px;
          right: 140px;
          transform: rotate(16deg);
        }

        &:nth-of-type(4) {
          bottom: 152px;
          right: 198px;
          transform: rotate(-27deg);
        }

        &:nth-of-type(5) {
          bottom: 150px;
          left: 194px;
          transform: rotate(-10deg);
        }

        &:nth-of-type(6) {
          bottom: 123px;
          left: -13px;
          transform: rotate(-58deg);
        }
      }

      .emoji01,
      .emoji02,
      .emoji03,
      .emoji04,
      .emoji05,
      .emoji06 {
        padding-left: 40px;
        background: no-repeat left center / 30px;
      }
      .emoji01 {
        background-image: url(/static/crediview/crediview-w/image/views/landing/emoji_01.webp);
      }
      .emoji02 {
        background-image: url(/static/crediview/crediview-w/image/views/landing/emoji_02.webp);
      }
      .emoji03 {
        background-image: url(/static/crediview/crediview-w/image/views/landing/emoji_03.webp);
      }
      .emoji04 {
        background-image: url(/static/crediview/crediview-w/image/views/landing/emoji_04.webp);
      }
      .emoji05 {
        background-image: url(/static/crediview/crediview-w/image/views/landing/emoji_05.webp);
      }
      .emoji06 {
        background-image: url(/static/crediview/crediview-w/image/views/landing/emoji_06.webp);
      }
    }

    &.motion &-emoji li:first-of-type {
      background-color: transparent;
      max-width: 200px;
    }
  }

  &-third {
    position: relative;
    // height: 100vh;
    background-color: #fff;

    .landing-section-inner {
      background: url(/static/crediview/crediview-w/image/views/landing/third_bg_01.webp)
        no-repeat center bottom / cover;
    }

    &-cont {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
    }

    &-title {
      @include title;
    }

    &-card {
      display: flex;
      gap: 24px;
      margin-top: 44px;

      li {
        flex-grow: 1;
        width: 351px;
        height: 420px;
        padding: 26px;
        border-radius: 32px;
        box-shadow: 0 20px 60px 0 rgba(30, 47, 118, 0.15);
        border: solid 1px #fff;
        background-color: rgba(255, 255, 255, 0.6);

        &:nth-child(2) {
          margin-top: 69px;
        }
      }

      .picto {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 264px;
      }

      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        small {
          font-size: var(--font-20);
          line-height: 1.15;
        }
        strong {
          @include title(28px);
        }
      }
    }
  }

  &-fourth {
    position: relative;
    // height: 300vh;
    background-color: #fff;

    .landing-section-inner {
      background: linear-gradient(146deg, #e6eefb -62%, #ecf1fd 70%);

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
          to bottom,
          rgba(255, 255, 255, 0.82),
          rgba(255, 255, 255, 0) 45%
        );
      }
    }

    &-title {
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 50%;
      @include title;
      margin-top: 0.7em;
      text-align: center;
      transform: translate(-50%, -50%);

      .line1 {
        margin-top: -9em;
      }
    }

    &-cont {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .icon {
        position: absolute;

        > * {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        &.i01 {
          z-index: 9;
          top: -310px;
          left: 85px;
          img {
            width: 320px;
          }
        }
        &.i02 {
          z-index: 9;
          top: 160px;
          left: -320px;
          img {
            width: 320px;
          }
        }
        &.i03 {
          z-index: 9;
          top: 98px;
          left: 310px;
          img {
            width: 320px;
          }
        }
        &.b01 {
          z-index: 8;
          top: 224px;
          left: -470px;

          > * {
            width: 269px;
            height: 180px;
            border-radius: 16px;
            border: 1px solid #acc3f4;
            background-color: rgba(177, 203, 251, 0.76);
            box-shadow: 0 20px 60px rgba(30, 47, 118, 0.2);
            padding: 33px;
            color: #fff;
            font-size: var(--font-18);
            font-weight: 500;
            display: flex;
            flex-direction: column;
            gap: 15px;

            .num {
              font-size: 1.05em;
            }
            .text {
              position: relative;
              width: 107px;
              height: 6px;
              background-color: #d6e1f9;
              margin-top: 5px;

              &::before {
                content: "";
                position: absolute;
                top: 16px;
                left: 0;
                width: 53px;
                height: 6px;
                background-color: #d6e1f9;
              }

              &::after {
                content: "";
                position: absolute;
                top: 32px;
                left: 0;
                width: 65px;
                height: 6px;
                background-color: #d6e1f9;
              }
            }
          }
        }

        &.b02 {
          z-index: 8;
          top: -155px;
          left: -400px;

          > * {
            width: 220px;
            height: 148px;
            border-radius: 24px;
            border: 1px solid #fff;
            background: rgba(255, 255, 255, 0.64)
              url(/static/crediview/crediview-w/image/views/landing/fourth_icon_05.svg)
              no-repeat 55% 57%;
            box-shadow: 0 20px 60px rgba(30, 47, 118, 0.15);
          }
        }

        &.b03 {
          z-index: 8;
          top: -222px;
          left: 213px;

          > * {
            width: 95px;
            height: 95px;
            border-radius: 24px;
            border: 1px solid #fff;
            background: rgba(255, 255, 255, 0.6)
              url(/static/crediview/crediview-w/image/views/landing/fourth_icon_04.svg)
              no-repeat center center;
            box-shadow: 0 20px 60px rgba(30, 47, 118, 0.15);
          }
        }

        &.b04 {
          z-index: 8;
          top: -45px;
          left: 600px;

          > * {
            width: 123px;
            height: 152px;
            border-radius: 16px;
            border: 1px solid #fff;
            background-color: rgba(255, 255, 255, 0.6);
            background-image: url(/static/crediview/crediview-w/image/views/landing/fourth_icon_08_1.svg),
              url(/static/crediview/crediview-w/image/views/landing/fourth_icon_08_2.svg);
            background-repeat: no-repeat;
            background-position: center top 33px, center bottom 19px;
            box-shadow: 0 20px 60px rgba(30, 47, 118, 0.15);
          }
        }

        &.c01 {
          top: -335px;
          left: -185px;

          > * {
            width: 45px;
            height: 45px;
            background: rgba(134, 225, 252, 0.34)
              url(/static/crediview/crediview-w/image/views/landing/fourth_icon_06.svg)
              no-repeat center center;
            border-radius: 50%;
          }
        }

        &.c02 {
          top: 357px;
          left: -130px;

          > * {
            width: 77px;
            height: 77px;
            background: rgba(75, 152, 255, 0.16)
              url(/static/crediview/crediview-w/image/views/landing/fourth_icon_07.svg)
              no-repeat center center;
            border-radius: 50%;
          }
        }

        &.c05 {
          top: 0;
          left: 0;
          transform: rotate(15deg);

          > * {
            top: 50%;
            left: 50%;
            margin-left: calc(1620px / -2);
            width: 72px;
            height: 72px;
            transform: translate(-50%, -50%);
            background-color: rgba(255, 255, 255, 0.36);
            border-radius: 50%;
          }
        }

        &.c03 {
          top: 0;
          left: 0;
          animation: key-circle 20s linear infinite;

          > * {
            top: 240px;
            left: 502px;
            width: 22px;
            height: 22px;
            background-color: rgba(222, 62, 235, 0.18);
            border-radius: 50%;
          }
        }

        &.c04 {
          top: 0;
          left: 0;
          animation: key-circle2 40s 10s ease-in-out infinite;

          > * {
            top: -385px;
            left: 712px;
            width: 47px;
            height: 47px;
            background-color: #ecebff;
            border-radius: 50%;
          }
        }

        &.c06 {
          top: -185px;
          left: -525px;

          > * {
            width: 110px;
            height: 110px;
            background: rgba(75, 152, 255, 0.3)
              url(/static/crediview/crediview-w/image/views/landing/fourth_icon_09.svg)
              no-repeat center center;
            border-radius: 50%;
            opacity: 0.6;
          }
        }
      }
    }

    &-revolve {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1620px;
        height: 1620px;
        border: 2px solid rgba(189, 195, 204, 0.1);
        border-radius: 50%;

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 768px;
          height: 768px;
          border: 3px solid rgba(189, 195, 204, 0.13);
          border-radius: 50%;
        }

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 1116px;
          height: 1116px;
          border: 2px dashed rgba(189, 195, 204, 0.2);
          border-radius: 50%;
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }

      .work {
        position: absolute;
        top: 50%;
        left: 50%;
      }

      .group01 {
        scale: 0.5;
        opacity: 0;
      }
    }

    &-certi {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      padding-top: 20vh;

      .box {
        position: relative;
        width: 308px;
        height: 383px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 80px 20px 50px;
        border-radius: 16px;
        box-shadow: 0 10px 40px 0 rgba(98, 118, 188, 0.3);
        border: solid 1px #fff;
        background-image: linear-gradient(178deg, #fff 30%, #f4f9ff 102%);
        text-align: center;

        &::before {
          content: "";
          position: absolute;
          top: 20px;
          right: 20px;
          bottom: 20px;
          left: 20px;
          border: 1px solid #eae1d0;
          border-radius: 11px;
        }

        .badge {
          position: absolute;
          top: -75px;
          right: -75px;
          width: 192px;
          height: 192px;
          background: url(/static/crediview/crediview-w/image/views/landing/fourth_badge.png)
            no-repeat left top / contain;
        }

        .logo {
          position: absolute;
          top: 51%;
          left: -130px;
          width: 235px;
          height: 235px;
          background: url(/static/crediview/crediview-w/image/views/landing/fourth_logo.svg)
            no-repeat left top;
        }
      }

      .title {
        font-size: var(--font-28);
        font-weight: bold;
        letter-spacing: -1.4px;
      }

      .name {
        font-size: var(--font-16);
        color: #bebebe;
      }

      .grade {
        position: relative;
        margin-top: -10px;
        font-size: 45px;
        font-weight: 800;
        letter-spacing: -0.9px;
        color: #bb8837;

        &::before {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          width: 222px;
          height: 222px;
          background: url(/static/crediview/crediview-w/image/views/landing/img_wreath.png)
            no-repeat center center / contain;
          transform: translate(-50%, -50%);
        }
      }

      .desc {
        font-size: var(--font-18);
        opacity: 0.5;
        margin-top: 24px;
        text-align: center;
      }

      .deco {
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 0;
      }
    }
  }

  &-fifth {
    --scrHeight: 572px;

    position: relative;
    // height: 300vh;
    background-color: #fff;

    &-cont {
      z-index: 9;
      position: absolute;
      top: 50%;
      left: calc(50% - (var(--max-w) / 2));
      width: calc(var(--max-w) / 2 - 60px);
      height: var(--scrHeight);
      transform: translateY(-50%);
    }

    &-title {
      @include title;
      margin-top: 50px;
    }

    &-step {
      margin-top: 60px;
      display: flex;
      gap: 12px;

      li {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80px;
        height: 80px;
        background-color: transparent;
        opacity: 1;

        &::before {
          content: "";
          width: 100%;
          height: 100%;
          border-radius: 24px;
          opacity: 0;
          transition: opacity 0.5s;
        }

        img {
          position: absolute;
          inset: 0;
          margin: auto;
          width: 64px;
        }

        &.active,
        &.swiper-pagination-bullet-active {
          &:first-of-type::before {
            background-color: #f1f5ff;
          }
          &:nth-of-type(2)::before {
            background-color: #e5f6fc;
          }
          &:nth-of-type(3)::before {
            background-color: #f0f1f5;
          }
        }

        &.swiper-pagination-bullet-active::before {
          opacity: 1;
        }
      }
    }

    &-swiper {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      .num {
        font-size: var(--font-14);
        font-weight: 500;
        color: #bebebe;

        em {
          display: inline-block;
          width: 54px;
          color: #000;
        }
      }

      .title {
        margin-top: 13px;
        font-size: var(--font-28);
        letter-spacing: -0.56;
      }

      .desc {
        margin-top: 24px;
        font-size: var(--font-20);
        font-weight: 500;
        letter-spacing: -0.4px;
        opacity: 0.5;
      }
    }

    .swiper-slide {
      .landing-fifth-cont {
        transform: none;
        height: auto;
        margin-top: 80px;
        opacity: 0;
        margin-left: 50px;
        transition: margin-left 0.5s, opacity 0.3s;
      }

      &-active {
        .landing-fifth-cont {
          margin-left: 0;
          opacity: 1;
        }
      }
      &-prev {
        .landing-fifth-cont {
          margin-left: -50px;
        }
      }
    }

    &-screen {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: calc(50% + 100px);
      aspect-ratio: 1 / 0.55;
      max-height: 570px;
      min-height: 450px;
      border-radius: 32px 0 0 32px;
      // background-color: #f1f3f9;
      background: linear-gradient(146deg, #faf3ff -9%, #dfeafd 80%);
      overflow: hidden;

      .browser {
        position: absolute;
        width: 768px;
        max-width: 80%;
        aspect-ratio: 1556 / 906;
        left: 50%;
        bottom: -1px;
        transform: translateX(-50%);
        border-radius: 24px 24px 0 0;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-bottom: 0;
        overflow: hidden;
        box-shadow: 0 20px 60px 0 rgba(30, 47, 118, 0.2);

        &::after {
          content: "";
          position: absolute;
          inset: 0;
          background: linear-gradient(
            180.19deg,
            rgba(0, 0, 0, 0) 71.03%,
            rgba(0, 0, 0, 0.05) 130.94%
          );
        }

        img {
          width: calc(100% + 1px);
        }
      }

      .tag-wrapper {
        opacity: 0.96;
        position: absolute;
        width: 768px;
        max-width: 80%;
        aspect-ratio: 1556 / 906;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        font-size: var(--font-20);
        color: #fff;
        font-weight: 600;

        &.tag-01::before,
        &.tag-01::after,
        &.tag-03::before,
        &.tag-03::after {
          display: flex;
          justify-content: center;
          align-items: center;
          box-shadow: 10px 10px 20px rgba(85, 123, 175, 0.16);
        }
      }

      .tag-01 {
        &::before {
          content: "회원가입";
          position: absolute;
          top: 32%;
          left: 0;
          width: 20%;
          aspect-ratio: 155 / 62;
          transform: translateX(-40%);
          background-color: #a6b5dd;
          border-radius: 62px;
        }

        &::after {
          content: "*** ** ****";
          position: absolute;
          top: 65%;
          right: 0;
          width: 31%;
          aspect-ratio: 238 / 55;
          transform: translateX(30%);
          background-color: #d5def0;
          border-radius: 55px;
          font-size: var(--font-30);
          padding-top: 0.2em;
        }
      }

      .tag-02 {
        &::before {
          content: "";
          position: absolute;
          top: -10%;
          right: -9%;
          width: 22.6%;
          aspect-ratio: 174 / 201;
          background: url(/static/crediview/crediview-w/image/views/landing/fifth-ico-mark.svg)
            no-repeat left top / contain;
          box-shadow: none;
        }

        .tag-02-list {
          position: absolute;
          left: -12%;
          bottom: 6%;
          display: flex;
          gap: 4%;
          width: 64.6%;

          li {
            width: calc(92% / 3);
            aspect-ratio: 1;
            display: flex;
            flex-direction: column;
            align-items: center;
            background-color: #d5def0;
            line-height: 1.2;
            border-radius: 1em;
            overflow: hidden;

            &::before {
              content: "";
              display: block;
              width: 100%;
              height: 70%;
            }

            &.public::before {
              background: #d5def0
                url(/static/crediview/crediview-w/image/views/landing/fifth-ico-public.svg)
                no-repeat center 60% / 39%;
            }
            &.private::before {
              background: #d5def0
                url(/static/crediview/crediview-w/image/views/landing/fifth-ico-private.svg)
                no-repeat center 60% / 29%;
            }
            &.own::before {
              background: #d5def0
                url(/static/crediview/crediview-w/image/views/landing/fifth-ico-own.svg)
                no-repeat center 60% / 32%;
            }
          }
        }
      }

      .tag-03 {
        &::before {
          content: "";
          position: absolute;
          top: 30%;
          left: 0;
          width: 12.9%;
          aspect-ratio: 1;
          transform: translateX(-40%);
          border-radius: 1em;
          background: #a6b5dd
            url(/static/crediview/crediview-w/image/views/landing/fifth-ico-won.svg)
            no-repeat center center / 56%;
        }

        &::after {
          content: "";
          position: absolute;
          top: 50%;
          right: 0;
          width: 34%;
          aspect-ratio: 263 / 164;
          transform: translateX(20%);
          border-radius: 1em;
          background-color: #d5def0;
          background-image: url(/static/crediview/crediview-w/image/views/landing/fifth-ico-list.svg),
            url(/static/crediview/crediview-w/image/views/landing/fifth-ico-list.svg),
            url(/static/crediview/crediview-w/image/views/landing/fifth-ico-list.svg),
            url(/static/crediview/crediview-w/image/views/landing/fifth-ico-list.svg),
            url(/static/crediview/crediview-w/image/views/landing/fifth-ico-gauge.svg);
          background-repeat: no-repeat;
          background-position: 15% 30%, 15% 45%, 15% 60%, 15% 75%,
            right 15% center;
          background-size: 29%, 29%, 29%, 29%, 40%;
        }
      }

      .tag-06 {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateX(20%);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1em;
        padding: 24px;
        background-color: #d5def0;

        img {
          width: 106px;
        }

        .list {
          display: flex;
          flex-direction: column;
          gap: 12px;
          img {
            width: 76px;
          }
        }
      }
    }
  }

  &-sixth {
    position: relative;
    // height: 200vh;
    background-color: #fff;

    .bg {
      z-index: 1;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: radial-gradient(
        circle at 49% -5%,
        rgba(247, 247, 222, 0.4),
        rgba(241, 242, 249, 0) 28%
      );

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.9;
        background-image: radial-gradient(
          circle at -14% -18%,
          #bec8ff,
          rgba(230, 228, 244, 0) 28%
        );
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0.5;
        background-image: radial-gradient(
          circle at 101% 52%,
          #d9d4fa,
          rgba(237, 228, 244, 0) 64%
        );
      }
    }

    .landing-section-inner {
      display: flex;
      justify-content: center;
      background-color: #f8f9fb;
    }

    &-cont {
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 50%;
      width: calc(var(--max-w) / 2);
      padding-bottom: 57px;
      transform: translate(-100%, -50%);
    }

    &-title {
      @include title;
    }

    &-wrapper {
      position: absolute;
      inset: 0;
      left: calc(50% - 170px);
      overflow: hidden;
    }

    &-swiper {
      z-index: 1;
      position: absolute;
      inset: 0;
      height: 100%;
      display: flex;
      align-items: center;
      transform: translateX(170px);
    }

    .swiper-wrapper {
      height: 520px;
    }

    .swiper-slide {
      width: 375px;
      height: 100%;
      transition: opacity 0.4s ease-in-out;
      margin-left: 60px;
      opacity: 0;

      // .label-text,
      .label-bg {
        z-index: 2;
        position: absolute;
        top: -17px;
        left: 255px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 152px;
        height: 52px;
        opacity: 0;
        border-radius: 26px 26px 4px 26px;
        background-image: var(--gra);

        &::before {
          content: "";
          position: absolute;
          top: 2px;
          left: 2px;
          right: 2px;
          bottom: 2px;
          border-radius: 24px 24px 3px 24px;
          background-color: #fff;
        }
      }

      .label-text {
        z-index: 3;
        background-image: var(--gra);
        background-clip: text;
        color: transparent;
        font-size: var(--font-20);
        font-weight: bold;
      }

      .img-wrapper {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        box-shadow: 0 10px 40px rgba(6, 19, 70, 0.14);
        background-color: #fff;
        overflow: hidden;

        img {
          width: 100%;
        }
      }

      &-next,
      &-next + .swiper-slide {
        opacity: 0.4;
      }

      &-active {
        opacity: 1;

        .label-bg {
          animation: label-opa 0.5s 0.7s both;
        }
      }
    }

    .swiper-controller {
      display: flex;
      align-items: center;
      margin-top: 78px;

      .swiper-prevBtn,
      .swiper-nextBtn,
      .swiper-stopBtn,
      .swiper-playBtn {
        position: relative;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        transition: background-color 0.3s;

        &:hover {
          background-color: rgba(0, 0, 0, 0.03);
        }
      }

      .swiper-stopBtn {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 8px;
          height: 10px;
          border-left: 2px solid #000;
          border-right: 2px solid #000;
        }
      }

      .swiper-playBtn {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          border-style: solid;
          border-color: transparent;
          border-width: 6px 8px;
          border-left-color: #000;
          border-radius: 3px;
          margin-left: 6px;
        }
      }

      .swiper-prevBtn,
      .swiper-nextBtn {
        &::after {
          content: "";
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%) rotate(135deg);
          display: block;
          width: 8px;
          height: 8px;
          border-bottom: 2px solid #000;
          border-right: 2px solid #000;
          border-radius: 1px;
        }
      }

      .swiper-nextBtn::after {
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }

    .swiper-page {
      width: auto;
      padding: 0 1em 0 0.3em;
      font-size: var(--font-14);
      font-weight: 500;
      color: #bebebe;

      span {
        display: inline-block;
        min-width: 18px;
        text-align: center;
      }
    }

    .swiper-pagination-current {
      color: #000;
    }
  }

  &-seventh {
    position: relative;
    // height: 200vh;
    background-color: #fff;

    .landing-section-inner {
      display: flex;
      justify-content: center;
      align-items: center;

      &::after {
        // content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-image: linear-gradient(
          to right,
          #f9f5fe 10%,
          rgba(255, 255, 255, 0),
          #ebf2fe 90%
        );
      }
    }

    // &:has(.colormv) {
    //     .benefit {
    //         color: #fff;
    //         li { opacity: 0.7 }
    //     }
    // }

    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      overflow: hidden;

      &.colormv {
        background: linear-gradient(
          -45deg,
          #efd3f0,
          #e5d9e9,
          #cbb6fc,
          #b3baf8,
          #a6d5f5
        );
        // background: linear-gradient(45deg, #e6dee9, #e0c3fc, #a6c1ee, #a6c0fe);
        background-size: 400% 400%;
        animation: gradient 8s ease infinite;

        &::before {
          content: "";
          position: absolute;
          inset: 0;
          margin: auto;
          width: 90%;
          padding-bottom: 100%;
          background: radial-gradient(#fff, rgba(255, 255, 255, 0) 70%);
          opacity: 0.3;
          border-radius: 50%;
        }
      }

      video {
        opacity: 0.4;
      }
    }

    &-title {
      @include title(32px);
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      opacity: 0;
    }

    &-cont {
      z-index: 1;
      position: relative;
      display: flex;
      justify-content: flex-end;
      gap: 24px;
      width: var(--max-w);

      .benefit {
        position: relative;
        transform: translateY(50%);
        margin-top: -38px;
        opacity: 0;

        ul {
          position: relative;
          // top: calc(32px * 1.4);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 0.8em;
          font-size: 43px;
          font-weight: 800;
          white-space: nowrap;
          padding: 0.4em 0;
        }

        li {
          display: flex;
          align-items: center;
          height: 1.2em;
          border-bottom: 3px solid transparent;
          border-image-slice: 1 !important;
          background-clip: text;
          opacity: 0.5;
          transition: color 0.3s, opacity 0.3s,
            border-image 0.3s background-image 0.3s;

          &:first-of-type {
            opacity: 1;
            color: transparent;
            border-image: linear-gradient(97deg, #0046ff, #8e48ff 60%);
            background-image: linear-gradient(97deg, #0046ff, #8e48ff 60%);
          }
        }
      }
    }

    &-fin {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      white-space: nowrap;
      text-align: center;

      p {
        @include title(48px);
      }

      .fin-btn {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 208px;
        height: 60px;
        margin-top: 60px;
        border-radius: 60px;
        box-shadow: 0 10px 40px rgba(35, 55, 139, 0.47),
          inset 0 -1px 0 rgba(0, 0, 0, 0.06);
        background-image: var(--gra);
        color: #fff;
        font-size: var(--font-16);
        font-weight: bold;
        text-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
        transition: opacity 0.2s;

        &:hover {
          opacity: 0.7 !important;
        }

        &:disabled {
          color: rgba(255, 255, 255, 0.5);
        }
      }
    }
  }
}
