.SOLPagenation-root {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin-top: 40px;
    color: var(--fc-gray2);

    button,
    .SOLIconBtn-root {
        width: 32px;
        height: 32px;
        border-radius: 4px;

        &:hover:not(.st--active, :disabled) {
            background-color: var(--bc-hover);
        }

        &.st--active {
            background-color: var(--c-active);
            color: #fff
        }
    }

    .wrapper-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        
        i {
            margin: 0 -4px
        }
    }
}

.SOLPagenation-group {
    display: flex;
    align-items: center;
}