.console-sidebar {
  --btn-w: 36px;

  z-index: 102;
  position: absolute;
  inset: 0 auto 0 0;
  border-right: 1px solid #d8e0ff;
  background-color: #f0f4ff;
  box-shadow: 3px 0px 8px 0px #0b1f5b0f;
  width: var(--w-fold);

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-thumb {
    border: 0;
    border-radius: 5px;
    background-color: rgba(33, 33, 38, 0.12);
  }

  .textfield-form {
    height: 36px;
    font-size: 13px;
  }

  // &::before {
  //   content: '';
  //   position: absolute;
  //   inset: 0 auto 0 0;
  //   width: var(--w-fold);
  //   background: #1c3bdb;
  // }
}

.sidebar-posistion {
  z-index: 1;
  position: sticky;
  top: 0;
  display: flex;
}

.sidebar-menu {
  z-index: 3;
  position: relative;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  width: var(--w-fold);
  padding: 6px;
  background-color: #1c3bdb;
}

.sidebar-btn,
.sidebar-foldBtn {
  display: flex;
  align-items: center;
  width: var(--btn-w);
  height: var(--btn-w);
  border-radius: 8px;
  color: #fff;
  opacity: 0.5;
  transition:
    opacity 0.3s,
    background-color 0.3s;

  &::before {
    content: '';
    width: var(--btn-w);
    height: var(--btn-w);
    display: block;
  }

  &.company::before {
    background: url(../image/icon/ic_side_company.svg) no-repeat center center;
  }
  &.fav::before {
    background: url(../image/icon/ic_side_fav.svg) no-repeat center center;
  }
  &.memo::before {
    background: url(../image/icon/ic_side_doc.svg) no-repeat center center;
  }
  &.calculator::before {
    background: url(../image/icon/ic_side_calculator.svg) no-repeat center center;
  }
  &.globe::before {
    background: url(../image/icon/ic_side_globe.svg) no-repeat center center;
  }
  &.network::before {
    background: url(../image/icon/ic_side_network.svg) no-repeat center center;
  }
  &.shield::before {
    background: url(../image/icon/ic_side_shield.svg) no-repeat center center;
  }
  &.money::before {
    background: url(../image/icon/ic_side_money.svg) no-repeat center center;
  }
  &.menu::before {
    background: url(../image/icon/ic_side_menu.svg) no-repeat center center;
  }
  &.history::before {
    background: url(../image/icon/ic_side_history.svg) no-repeat center center;
  }
  &.cs::before {
    background: url(../image/icon/ic_side_customer.svg) no-repeat center center;
  }

  &:hover,
  &.ac--active {
    background-color: rgba(33, 33, 38, 0.3);
  }

  &.ac--active {
    opacity: 1;
  }
}

.sidebar-csBtn {
  @extend .sidebar-btn;
}

.sidebar-popper-root {
  @include popper;
  margin-top: auto;

  .sidebar-popper {
    bottom: 2px;
    left: calc(100% + 12px);
    width: 245px;
    border-radius: 16px;
    background-color: #fff;
    box-shadow: 0px 3px 6px 0px #00000029;
    padding: 8px 16px;
  }

  .user-menu-list {
    border: 0;
    margin-bottom: 0;
    padding: 0;
  }

  &.ac--active {
    .sidebar-csBtn {
      background-color: rgba(33, 33, 38, 0.3);
      opacity: 1;
    }
  }
}

.sidebar-foldBtn {
  background: url(../image/icon/ic_side_fold.svg) no-repeat center center;

  &.open {
    transform: scaleX(-1);
  }
}

.sidebar-container {
  position: relative;
  width: 0;
  min-height: calc(100vh - var(--h-header));
  height: 100vh;
  line-height: 1.4;
  // overflow: hidden;

  .sidebar-h1 {
    font-size: 16px;
    // margin-bottom: 15px;
    color: var(--c-black);
  }
  .sidebar-h2 {
    font-size: 14px;
    // margin-top: 24px;
    // margin-bottom: 4px;
    color: var(--c-black);
  }

  .tooltip-box {
    width: 240px;
  }

  .tooltip-popper {
    bottom: auto;
    top: 100%;
  }
}

.sidebar-inner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: calc(var(--w-sidebar) - var(--w-fold));
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.sidebar-tab-cont {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &:has(.sidebar-footer) {
    .sidebar-cont-scroll {
      bottom: 62px;
    }

    .sidebar-content {
    }
  }
}

.sidebar-subtit {
  margin-top: 16px;
  margin-bottom: 12px;
  font-size: 13px;
  color: var(--c-gray1);

  display: flex;
  align-items: center;
  min-height: 30px;
}

.sidebar-box {
  padding: 14px 16px;
  border-radius: 8px;
  background-color: #fff;
}

.sidebar-our {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;

  &:has(.info) {
    border-bottom: 1px solid var(--c-border);
  }

  .info {
    display: flex;
    flex-direction: column;
    text-align: right;
    font-weight: 500;
  }

  small {
    font-size: 10px;
    color: #7e7e88;
  }
}

.sidebar-searchbox {
  position: relative;

  .textfield-root {
    &::after {
      content: '';
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 7px;
      width: 22px;
      height: 22px;
      transform: translateY(-50%);
      background: url(../image/icon/ic_search.svg) no-repeat center center / 16px;
      opacity: 0.6;
    }
  }

  .textfield-form {
    height: 36px;
    padding-left: 32px;
    padding-right: 0;
    font-size: 13px;
  }
}

.sidebar-searchbox-btm {
  display: flex;
  justify-content: flex-end;
  margin-top: 8px;
  margin-bottom: 8px;
}

.sidebar-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .textarea-form {
    resize: none;
    height: 100%;
    font-size: 14px;
  }

  &.ac--del {
    .sidebar-memo-footer,
    .radiocheck-root {
      display: none;
    }
  }
}

.sidebar-cont-scroll {
  position: absolute;
  inset: 0 -9px 0 0;
  padding-right: 9px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.sidebar-empty {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-align: center;
  color: var(--c-gray2);
  font-size: 14px;

  &::before {
    content: '';
    display: inline-block;
    width: 48px;
    height: 48px;
    background: url(../image/icon/ic_empty.svg) no-repeat center center;
  }
}

.sidebar-companylist {
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-weight: 500;
  font-size: 14px;
  margin: 8px 0;

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 3px;
    border-radius: 8px;
    padding: 8px 50px 5px 5px;
    transition: background-color 0.2s;

    &:hover,
    &.ac--active {
      background-color: #e0e9ff;
    }
  }

  a {
    color: inherit;
  }

  .company {
    display: flex;
    flex-direction: column;
    gap: 3px;
  }

  .num {
    color: var(--c-gray2);
    font-weight: 400;
  }

  em {
    font-weight: inherit;
    color: var(--c-primary);
  }

  .btn-fav,
  .btn-del {
    position: absolute;
    top: 50%;
    right: -3px;
    width: 36px;
    height: 36px;
    transform: translateY(-50%);

    .icon-comm {
      width: 20px;
      color: #fff;
      font-weight: 100;
    }
  }
}

// 메모
.sidebar-footer {
  position: sticky;
  bottom: 20px;
  flex-shrink: 0;
  display: flex;
  gap: 8px;
  margin-top: auto;
  padding-top: 20px;

  button {
    flex: 1;
    height: 40px;
  }
}

.sidebar-memo-list {
  display: flex;
  flex-direction: column;
  gap: 8px;

  li {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .box {
    height: 42px;
    line-height: 42px;
    padding: 0 16px;
    border-radius: 8px;
    border: 1px solid var(--c-border2);
    background-color: #fff;
  }
}

.sidebar-memo-utils {
  position: absolute;
  top: 16px;
  right: 16px;
  display: flex;
  align-items: center;
  gap: 4px;

  .btn-icon {
    width: 26px;
    height: 26px;
  }
}

.sidebar-memo-searchbox {
  position: relative;
  overflow: hidden;
  max-height: 0;
  // transition: max-height .2s;

  &.ac--active {
    max-height: 50px;
  }

  .textfield-root {
    margin-bottom: 10px;

    &::after {
      content: '';
      z-index: 1;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background: url(../image/icon/ic_search.svg) no-repeat center center / 24px;
      opacity: 0.8;
    }
  }

  .textfield-form {
    padding-left: 30px;
    padding-right: 0;
    font-size: 14px;
    border: 0;
    background-color: transparent;
  }
}
