.SOLHeader {
  // header
  &-root {
    z-index: 99;
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.3s;
    background-color: var(--header-bg);
    color: #fff;
    white-space: nowrap;
    transition: color 0.2s;

    &.bg-active {
      &::before {
        content: '';
        width: 100%;
        height: 70px;
        background-color: #fff;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
      }
    }
    // backdrop-filter: blur(50px);
    // background-color: rgba(24,26,31,0.04);

    .SOLHeader-nav {
      color: var(--fc-default);
      font-weight: 500;
      z-index: 10;
      a {
        height: 100px;
        color: var(--fc-default);
      }
      a.c-hover {
        &:hover {
          color: #0046ff;
        }
      }

      .label {
        font-weight: 600;
        background-image: var(--beta-g);
        border: 0;

        &::before {
          content: '';
          position: absolute;
          inset: 1px;
          background-color: #fff;
          border-radius: 1.62em;
        }
      }
      .beta {
        color: transparent;
        background-image: var(--beta-g);
        background-clip: text;
      }
      &-submenu {
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        background-color: #fff;
        padding: 0px 0 25px 0;
        border-bottom: solid 1px #dedede;
        display: none;
        max-height: 0;
        transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
        overflow: hidden;
        &.other-type {
          padding: 10px 0 25px 0 !important;
        }

        &-inner {
          width: var(--max-w);
          display: flex;
          justify-content: flex-start;
          margin: 0 auto;
          padding-left: 248px;

          ul {
            padding: 0 0 0 26px;

            &:first-child {
              padding-left: 0;
            }

            &:nth-child(3) {
              padding-left: 143px;
            }
            &:nth-child(4) {
              padding-left: 78px;
            }
            li a {
              font-size: 14px;
              font-weight: 400;
              color: #242a30;
              transition: ease-in-out 0.7;
              height: auto;
              &:hover {
                color: #0046ff;
              }
            }
          }
        }
      }

      &-submenu.slide-down {
        display: block;
        max-height: 1000px;
        opacity: 1;
      }

      &-submenu.slide-up {
        max-height: 0px;
        opacity: 0;
      }

      &-submenu.slide-hidden {
        display: none;
      }
    }

    .SOLHeader-nav.service {
      a {
        color: #fff;
        height: 72px;
      }
      .SOLHeader-nav-submenu-inner ul li a {
        color: #242a30;
        height: auto;
        &:hover {
          color: #0046ff;
        }
      }
    }

    .SOLHeader-global {
      z-index: 10;
      &-link,
      &-btn {
        font-weight: 500;
        &:hover {
          // background-color: rgba(0, 0, 0, 0.02);
          text-decoration: underline;
        }
      }
      .SOLHeader-allmenu-btn {
        width: 18px;
        height: 16px;
        background: url(/static/crediview/crediview-w/image/icon/ic_w_allmenu_btn.png) no-repeat
          center center;
        display: block;
        margin-left: 10px;
      }
    }

    &.light {
      color: #fff;

      .SOLHeader-global-link,
      .SOLHeader-global-btn {
        color: #fff;

        &:hover {
          background-color: rgba(255, 255, 255, 0.05);
        }
      }

      .SOLHeader-logo .logo {
        .eng {
          background-image: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_w.svg);
        }
        .kr {
          background-image: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_w_kr.svg);
        }
      }

      .SOLHeader-nav a {
        color: #fff;
      }
    }

    &.bg-active {
      .SOLHeader-logo .logo {
        .eng {
          background-image: url(/static/crediview/crediview-w/image/views/logo/bi_crediview.svg);
        }
        .kr {
          background-image: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_kr.svg) !important;
        }
      }

      .SOLHeader-nav {
        a {
          color: var(--fc-default);
        }
      }

      .SOLHeader-global {
        a {
          color: var(--fc-default);
        }
        a.SOLHeader-global-link {
          color: var(--fc-default);
        }

        .SOLHeader-global-btn {
          color: var(--fc-default);
        }

        a svg,
        .SOLHeader-global button svg {
          fill: rgba(191, 191, 191, 0.8);
        }
        &-alarm svg {
          fill: rgba(191, 191, 191, 0.8823529412);
        }
        .blackbook-wrap {
          .blackbook-btn {
            border: 1px solid #dee3e6;

            span.blackbook-logo {
              width: 86px;
              height: 18px;
              background: url(/static/crediview/crediview-w/image/views/logo/blackbook-logo.png)
                no-repeat center center;
              display: block;
            }
          }
        }
      }
    }

    .SOLHeader-global {
      a {
        color: #fff;
        padding: 7px;
        font-size: var(--font-14);
        font-style: normal;
        font-weight: 400;
        line-height: 18px; /* 128.571% */
      }
      a.SOLHeader-global-link {
        color: #fff;
      }

      .SOLHeader-global-btn {
        color: #fff;
      }

      a svg,
      .SOLHeader-global button svg {
        fill: rgba(255, 255, 255, 0.8);
      }
      &-alarm svg {
        fill: rgba(191, 191, 191, 0.8823529412);
      }
      .blackbook-wrap {
        position: relative;
        display: inline-block;
        &::before {
          content: '';
          width: 100%;
          height: 20px;
          position: absolute;
          top: 31px;
          left: 0;
          z-index: 1;
        }
        .blackbook-btn {
          width: auto;
          height: 32px;
          border-radius: 16px;
          border: 1px solid rgba(255, 255, 255, 0.4);
          background: rgba(255, 255, 255, 0);
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 0 6px;
          padding: 0 12px;
          margin-right: 10px;
          transition: all 0.3s;
          cursor: pointer;
          span {
            display: block;

            &.blackbook-logo {
              width: 86px;
              height: 18px;
              background: url(/static/crediview/crediview-w/image/views/logo/blackbook-logo-w.png)
                no-repeat center center;
              display: block;
            }
          }
          &:hover {
            background: rgba(187, 187, 187, 0.1);
          }
          &.on {
            background: rgba(187, 187, 187, 0.1);
          }
        }
        .blackbook-tooltip {
          padding: 9px 13px;
          border-radius: 8px;
          background: #434858;
          box-shadow: 0 3px 12px 0 rgba(55, 29, 110, 0.07);
          color: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          position: absolute;
          top: 39px;
          left: 50%;
          transform: translate(-50%, 0);
          transition: ease-in-out 0.3s;
          opacity: 0;
          pointer-events: none;
          z-index: 10;
          &.on {
            opacity: 1;
            pointer-events: auto;
            z-index: 1;
          }

          &::before {
            content: '';
            width: 14px;
            height: 9px;
            background: #434858;
            clip-path: polygon(50% 0%, 100% 100%, 0% 100%);
            filter: drop-shadow(0 3px 12px rgba(55, 29, 110, 0.07));
            border-radius: 5px;
            position: absolute;
            top: -6px;
            left: 50%;
            transform: translateX(-50%);
          }
          .tooltip-txt {
            color: #fff;
            font-size: var(--font-12);
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            letter-spacing: -0.12px;
          }
          .detail-btn {
            color: rgba(255, 255, 255, 0.7);
            font-size: 10px;
            font-style: normal;
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.3px;
            text-decoration-line: underline;
            padding: 0 13px 0 20px;
            position: relative;
            &::before {
              content: '';
              width: 12px;
              height: 12px;
              background: url(/static/crediview/crediview-w/image/icon/ic_blank-link.svg)
                no-repeat center;
              position: absolute;
              top: 3px;
              right: 0;
              opacity: 0.7;
            }
          }
        }
      }
    }

    &.t--landing {
      position: fixed;
      top: 0;
      left: 0;
      color: #000001;
      background-color: rgba(255, 255, 255, 0.9);
      //opacity: 0.9;

      .SOLHeader-global {
        width: 300px;
        justify-content: flex-end;
        a {
          color: #494949;
          font-size: var(--font-14);
          font-weight: 400;
          line-height: 18px;
        }
        a.SOLHeader-global-link {
          color: #494949;
        }

        .SOLHeader-global-btn {
          color: #494949;
        }

        a svg,
        .SOLHeader-global button svg {
          fill: rgba(191, 191, 191, 0.8823529412);
        }
        &-alarm svg {
          fill: rgba(191, 191, 191, 0.8823529412);
        }

        .SOLHeader-allmenu-btn {
          width: 18px;
          height: 16px;
          background: url(/static/crediview/crediview-w/image/icon/ic_allmenu_btn.png) no-repeat
            center center;
          display: block;
        }
        .blackbook-wrap {
          .blackbook-btn {
            border: 1px solid #dee3e6;
            background: rgba(255, 255, 255, 0);
            span {
              &.blackbook-logo {
                width: 86px;
                height: 18px;
                background: url(/static/crediview/crediview-w/image/views/logo/blackbook-logo.png)
                  no-repeat center center;
                display: block;
              }
            }
            &:hover {
              background: rgba(187, 187, 187, 0.1);
            }
            &.on {
              background: rgba(187, 187, 187, 0.1);
            }
          }
        }
      }

      &.bg-active {
        &::before {
          content: '';
          width: 100%;
          height: 70px;
          background-color: #fff;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 0;
        }
      }
      // backdrop-filter: blur(50px);
      // background-color: rgba(24,26,31,0.04);

      .SOLHeader-nav {
        color: var(--fc-default);
        font-weight: 500;
        z-index: 10;
        a {
          height: 100px;
          &.link-blank-type {
            position: relative;
            padding: 0 25px 0 0;
            &::before {
              content: '';
              width: 20px;
              height: 20px;
              background: url(/static/crediview/crediview-w/image/icon/ic_blanklink_btn.svg)
                no-repeat;
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(0, -50%);
            }
          }
        }

        .label {
          font-weight: 600;
          background-image: var(--beta-g);
          border: 0;

          &::before {
            content: '';
            position: absolute;
            inset: 1px;
            background-color: #fff;
            border-radius: 1.62em;
          }
        }
        .beta {
          color: transparent;
          background-image: var(--beta-g);
          background-clip: text;
        }
        &-submenu {
          width: 100%;
          position: absolute;
          top: 70px;
          left: 0;
          background-color: rgba(255, 255, 255, 0.9);
          padding: 0 0 25px 0;
          border-bottom: solid 1px #dedede;
          display: none;
          max-height: 0;
          transition: max-height 0.4s ease-in-out, opacity 0.4s ease-in-out;
          overflow: hidden;
          opacity: 1;

          &-inner {
            width: var(--max-w);
            display: flex;
            justify-content: flex-start;
            margin: 0 auto;
            padding-left: 248px;
            ul {
              padding: 0 0 0 24px;

              &:first-child {
                padding-left: 0;
              }

              &:nth-child(3) {
                padding-left: 143px;
              }
              &:nth-child(4) {
                padding-left: 78px;
              }
              li a {
                font-size: 14px;
                font-weight: 400;
                color: #242a30;
                transition: ease-in-out 0.7;
                height: auto;
                &:hover {
                  color: #0046ff;
                }
              }
            }
          }
        }

        &-submenu.slide-down {
          display: block;
          max-height: 1000px;
        }

        &-submenu.slide-up {
          max-height: 0px;
        }

        &-submenu.slide-hidden {
          display: none;
        }
      }

      .SOLHeader-global {
        z-index: 10;
        &-link,
        &-btn {
          font-weight: 500;
          &:hover {
            // background-color: rgba(0, 0, 0, 0.02);
            text-decoration: underline;
          }
        }
      }

      .SOLHeader-logo .logo {
        .eng {
          background-image: url(/static/crediview/crediview-w/image/views/logo/bi_crediview.svg);
          animation: logoSwap 10s ease infinite;
        }
        .kr {
          display: block;
          background: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_kr.svg)
            no-repeat 5% 58% / 65%;
          opacity: 1;
          animation: logoSwap2 10s ease infinite;
        }
      }

      &.light {
        color: #fff;

        .SOLHeader-global-link,
        .SOLHeader-global-btn {
          &:hover {
            background-color: rgba(255, 255, 255, 0.05);
          }
        }

        .SOLHeader-logo .logo {
          .eng {
            background-image: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_w.svg);
          }
          .kr {
            background-image: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_w_kr.svg);
          }
        }

        .SOLHeader-nav {
          color: #fff;
        }
      }

      &.light.bg-active {
        .SOLHeader-logo .logo {
          .eng {
            background-image: url(/static/crediview/crediview-w/image/views/logo/bi_crediview.svg);
          }
          .kr {
            background-image: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_kr.svg) !important;
          }
        }

        .SOLHeader-nav {
          a {
            color: var(--fc-default);
          }
        }

        .SOLHeader-global {
          a.SOLHeader-global-link {
            color: var(--fc-default);
          }

          a.SOLHeader-global-btn {
            color: var(--fc-default);
          }
        }
      }
    }
    .all-menu-wrap {
      width: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 10;
      background-color: gray;
      transition: all 0.3s ease-in-out;
      display: none;
      padding-bottom: 40px;
      &-inner {
        width: 1200px;
        margin: 0 auto;
      }
      &.show {
        display: block;
        height: auto;
        background-color: rgba(255, 255, 255, 1);
      }
      &.hide {
        display: none;
      }
      .all-menu-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding-top: 28px;
        .all-menu-logo {
          width: 110px;
          height: 18px;
          background: url(/static/crediview/crediview-w/image/views/logo/bi_crediview.svg)
            no-repeat center center;
          background-size: 110px;
        }
      }
      .all-menu-list {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: top;
        gap: 20px;
        padding: 46px 0;
        border-bottom: solid 1px #e1e1e1;
        li {
          width: 25%;
          a {
            width: 100%;
            display: block;
            font-size: var(--font-16);
            font-weight: 700;
            color: #222222;
            padding: 7px 0px;
          }
          .depth02 {
            padding-top: 20px;
            li {
              width: 100%;
              padding-bottom: 10px;
              &:last-child {
                padding-bottom: 0;
              }
              a {
                font-size: var(--font-14);
                font-weight: 400;
                color: #000000;
                display: block;
                width: 100%;
                transition: ease-in-out 0.1s;
                &:hover {
                  background-color: rgba(77, 124, 254, 0.1);
                  border-radius: 8px;
                  padding: 7px 10px;
                }
              }
            }
          }
        }
      }
      .link-box {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-top: 30px;
        li {
          a {
            display: block;
            padding: 0 30px;
            color: #333;
            position: relative;
            font-size: var(--font-14);
            font-weight: 400;
            color: #000000;
            transition: ease-in-out 0.3s;
            &::before {
              content: '';
              width: 1px;
              height: 10px;
              background: rgba(0, 0, 0, 0.1);
              position: absolute;
              top: 50%;
              right: 0;
              transform: translate(0, -50%);
            }
            &:hover {
              color: #e1e1e1;
            }
            &.blackbook {
              width: 98px;
              height: 20px;
              background: url(/static/crediview/crediview-w/image/views/logo/blackbook-logo-l.png)
                no-repeat center center;
              margin-left: 30px;
              &:hover {
                opacity: 0.3;
              }
            }
          }
          &:first-child {
            a {
              padding-left: 0;
            }
          }
          &:last-child {
            a {
              padding-right: 0;
              &::before {
                content: none;
              }
            }
          }
        }
      }
    }
  }

  &-inner {
    display: flex;
    align-items: center;
    gap: var(--side-gap);
    width: 100%;
    height: 100%;
    max-width: var(--max-w);
  }

  &-logo {
    display: flex;
    align-items: center;
    width: 213px;
    height: 100%;

    a {
      color: inherit;
      padding: 1em 0;
    }

    .logo {
      position: relative;
      width: 120px;
      height: 25px;
      color: transparent;

      .eng {
        position: absolute;
        inset: 0 0 auto 0;
        height: 100%;
        background: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_w.svg)
          no-repeat left center / contain;
      }
      .kr {
        position: absolute;
        inset: auto 0 0 0;
        height: 100%;
        display: none;
      }
    }

    svg {
      fill: currentColor;
    }
  }

  &-global {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    font-size: var(--font-13);
    width: 300px;
    justify-content: flex-end;

    a,
    button {
      color: inherit;
    }

    &-link,
    &-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 62px;
      height: 28px;
      padding: 0 10px;
      font-size: var(--font-12);
      transition: background-color 0.3s;

      &:hover {
      }
    }

    &-alarm {
      width: 24px;
      height: 24px;
    }

    a,
    button {
      color: inherit;

      .SOLSvg-root {
        color: rgba(255, 255, 255, 1);
        transition: color 0.3s;
      }

      svg {
        fill: currentColor;
      }
      &:hover .SOLSvg-root {
        color: rgba(255, 255, 255, 1);
      }
    }

    &-user {
      display: flex;
      align-items: center;
      gap: 12px;
      .ellipsis-txt {
        min-width: 162px;

        i {
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
          display: block;
          font-style: normal;
          width: 162px;
        }
      }
    }

    &-profile {
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 7px;
      transition: all 0.3s;
      .email-adress {
        font-size: var(--font-13);
        color: rgba(255, 255, 255, 0.8);
      }
      &:hover {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 8px;
      }
    }
  }

  &-nav {
    display: flex;
    gap: 82px;
    font-size: var(--font-15);
    color: #fff;
    margin-left: -5px;

    a {
      display: inline-flex;
      align-items: center;
      color: inherit;
      padding: 5px;
    }

    .label {
      position: relative;
      display: inline-flex;
      height: 1.62em;
      padding: 0 0.7em;
      font-size: var(--font-13);
      font-weight: 500;
      border-radius: 1.62em;
      overflow: hidden;
      margin-left: 0.5em;
      color: #fff;
      border: 1px solid rgba(255, 255, 255, 0.3);
    }

    .beta {
      z-index: 1;
      position: relative;
      flex: 1;
      display: inline-flex;
      align-items: center;
    }
  }
}

@include tablet {
  .SOLHeader-inner {
    max-width: 100%;
    padding: 0 var(--spc-w);
  }
}

// 헤더 임시 모바일용
@include desktop-min {
  .SOLHeader-inner {
    flex-flow: wrap;
  }

  .SOLHeader-logo {
    position: absolute;
    top: 20px;
    display: block;
  }

  .SOLHeader-root.t--landing .SOLHeader-nav {
    width: 100%;
    position: absolute;
    top: 25px;
    display: none;
  }

  .SOLHeader-root .SOLHeader-nav {
    display: none;
  }

  .SOLHeader-root.t--landing .SOLHeader-global {
    position: absolute;
    top: 19px;
    left: auto;
    right: 30px;
  }

  .SOLHeader-root .SOLHeader-global {
    position: absolute;
    top: 19px;
    left: auto !important;
    right: 30px;
  }

  .SOLHeader-root .SOLHeader-global {
    position: absolute;
    top: 19px;
    left: 220px;
  }

  .SOLHeader-root.t--landing .SOLHeader-nav-submenu-inner {
    padding-left: 0px;
  }

  .landing-intro-desc {
    justify-content: flex-start !important;
    padding: 10px 0 10px 25px !important;
  }

  // .SOLPopper-root {
  //   display: none;
  // }

  .SOLHeader-global-profile {
    border-left: none;
  }
}
