@include mobile {
  .landing-fourth-revolve .bg-wrap {
    .bg {
      width: 100%;
      height: 684px;
      background: url('../image/landing/section04-mb-bg.png') no-repeat
        center center;
      border: none;
      position: relative;
      top: auto;
      left: auto;
      transform: none;
      border-radius: 0px;
      &::before {
        content: none;
      }
      &::after {
        content: none;
      }
    }
  }

  .SOLHeader-root .SOLHeader-inner {
    width: 100%;
  }

  .SOLHeader-root .SOLHeader-inner .SOLHeader-menu .SOL-mb-gnb {
    width: 100%;
  }

  .SOLHeader-root .SOLHeader-inner .SOLHeader-menu .SOL-mb-gnb .gnb-h {
    width: 100%;
  }

  .SOLHeader-root
    .SOLHeader-inner
    .SOLHeader-menu
    .SOL-mb-gnb
    .gnb-menu
    .depth01 {
    width: 100%;
  }

  footer.SOLFooter-root .SOLFooter-inner {
    width: 100%;
  }

  .landing-first .landing-intro-bottom p.img {
    width: 100%;
  }

  .landing-third .landing-third-cont ul.landing-third-card {
    width: 100%;
  }

  .landing-sixth .landing-sixth-cont {
    width: 100%;
  }

  .landing-seventh .landing-seventh-cont {
    width: 100%;
  }
}

@include mobile-w360 {
  .SOLHeader-root .SOLHeader-inner {
    width: 100%;
  }

  .SOLHeader-root .SOLHeader-inner .SOLHeader-menu .SOL-mb-gnb {
    width: 100%;
  }

  .SOLHeader-root .SOLHeader-inner .SOLHeader-menu .SOL-mb-gnb .gnb-h {
    width: 100%;
  }

  .SOLHeader-root
    .SOLHeader-inner
    .SOLHeader-menu
    .SOL-mb-gnb
    .gnb-menu
    .depth01 {
    width: 100%;
  }

  footer.SOLFooter-root .SOLFooter-inner {
    width: 100%;
  }

  .landing-first .landing-intro-bottom p.img {
    width: 100%;
  }

  .landing-third .landing-third-cont ul.landing-third-card {
    width: 100%;
  }

  .landing-sixth .landing-sixth-cont {
    width: 100%;
  }

  .landing-seventh .landing-seventh-cont {
    width: 100%;
  }
}
