.landing-first {
  position: relative;
  &.mgt56 {
    margin-top: 56px;
  }
  .landing-first-cont {
    .landing-first-wrapper {
      height: 720px;
      .landing-first-swiper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        text-align: center;
        z-index: 1;
        overflow: hidden;
        .swiper-wrapper {
          display: flex;
          .swiper-slide {
            width: 100%;
            height: 100%;
            background: url(../image/landing/landing-first-bnbg01.png) no-repeat top center/cover;
            background-position: 100% 100%;
            &.nth-02-bg {
              background: url(../image/landing/landing-first-bnbg02.png) no-repeat top center/cover;
            }
            &.nth-03-bg {
              background: url(../image/landing/mb/landing-first-bnbg03.png) no-repeat top center/cover;
            }

            &.nth-04-bg {
              background: url(../image/landing/landing-first-bnbg04.png) no-repeat;
              background-size: cover;
              background-position: 85% 0;
            }
            &.nth-05-bg {
              background: url(../image/landing/landing-first-bnbg05.png) no-repeat;
              background-size: cover;
              background-position: 65% 68px;
            }
            &.nth-06-bg {
              background: url(../image/landing/landing-first-bnbg06.png) no-repeat;
              background-size: cover;
              // @media all and (max-width: 760px) {
              //   background-position: -704px 46px;
              // }
            }
            &.nth-07-bg {
              background: url(../image/landing/landing-first-bnbg07.png) no-repeat;
              background-size: cover;
              // @media all and (max-width: 760px) {
              //   background-position: -547px 0;
              // }
            }
            &.nth-08-bg {
              background: url(../image/event/enterprise/bg_ent_01.png) no-repeat;
              background-size: cover;
              .text-active {
                background-image: linear-gradient(90deg, #9dfaaa 0%, #68def8 100%);
                background-clip: text;
                color: transparent;
                font-weight: 700;
                font-size: 34px;
              }
              .sm-tit {
                background: none !important;
              }
            }

            div.bn-content {
              width: 100%;
              position: absolute;
              top: 49%;
              left: 50%;
              transform: translate(-50%, -50%);
              z-index: 100;
              .tit-box {
                span {
                  display: block;
                  &.sm-tit {
                    padding: 5px 15px;
                    border-radius: 30px;
                    background-color: #607fff1a;
                    font-size: var(--font-12);
                    font-weight: 600;
                    text-align: center;
                    color: #0046ff;
                    display: inline-block;
                    margin-bottom: 10px;
                  }
                  &.bt-txt {
                    font-size: 14px;
                    font-weight: 500;
                    color: #6a7c8f;
                    text-align: center;
                    padding-bottom: 66px;
                  }
                }
                .lg-xl-tit {
                  font-size: var(--font-30);
                  font-weight: 700;
                  color: #222222;
                  padding-bottom: 5px;
                }
                h3.lg-tit {
                  font-size: var(--font-30);
                  font-weight: 700;
                  color: #222222;
                  &.f20 {
                    font-size: var(--font-20);
                    line-height: 26px;
                  }
                  .txt-inner {
                    span {
                      display: inline-block;
                      &.gradiation-txt {
                        display: inline-block;
                      }
                    }
                  }
                  span {
                    display: inline-block;
                    &.gradiation-txt {
                      background-image: var(--gra);
                      -webkit-background-clip: text;
                      background-clip: text;
                      color: transparent;
                      padding: 0 0 12px 7px;
                      &.event {
                        background: linear-gradient(258.88deg, #009eb6 9.84%, #08b7af 48.25%, #39c8b7 86.65%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        color: transparent;
                      }
                    }
                  }
                }
              }
              .img {
                padding-top: 20px;
                img {
                  max-width: 227px;
                  height: auto !important;
                  display: block;
                  margin: 0 auto;
                }
              }
              div.btn-wrap {
                display: flex;
                justify-content: center;
                button.credit-rating-btn {
                  display: block;
                  width: 187px;
                  height: 44px;
                  background-color: var(--c-bg);
                  border-radius: 12px;
                  margin-top: 10px;
                  &.gradiation {
                    width: 144px;
                    height: 44px;
                    background: linear-gradient(90deg, #0046ff 0%, #8e48ff 100%);
                    border-radius: 24px;
                    span {
                      color: #fff;
                      position: relative;
                      font-size: var(--font-15);
                      font-weight: 500;
                      &::after {
                        content: '';
                        width: 14px;
                        height: 15px;
                        background: url(../image/landing/ic_arrow_w_btn.png) no-repeat;
                        position: absolute;
                        top: 2px;
                      }
                    }
                  }
                  span {
                    font-size: var(--font-15);
                    font-weight: 500;
                    color: var(--fc-default);
                    position: relative;
                    display: inline-block;
                    padding: 0 25px 0 0;
                    &::after {
                      content: '';
                      width: 14px;
                      height: 15px;
                      background: url(../image/landing/ic_arrow_btn.png) no-repeat center center;
                      background-size: 10px;
                      position: absolute;
                      top: 2px;
                      right: 0;
                    }
                  }
                }
              }
              &.event-type {
                .tit-box {
                  h3.lg-tit {
                    .gradiation-txt {
                      display: block;
                    }
                  }
                  span {
                    &.sm-tit {
                      background-color: var(--c-bg);
                      color: #222222;
                      &.t02 {
                        background-color: rgba(0, 155, 135, 0.1);
                        color: #009b87;
                      }
                      &.dark {
                        background-color: #222222;
                        color: #fff;
                      }
                      &.mgb0 {
                        margin-bottom: 0;
                      }
                    }
                    &.sm-tit-sub {
                      font-size: var(--font-14);
                      font-weight: 600;
                      color: #222222;
                      font-style: normal;
                      display: block;
                      padding: 5px 0 10px 0;
                    }
                  }
                  .bt-txt {
                    padding-top: 10px;
                    padding-bottom: 0px;
                  }
                  .txt-flex {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    span {
                      display: inline-block;
                      color: #6a7c8f;
                      &.tit {
                        font-size: var(--font-14);
                        font-weight: 500;
                        padding-right: 10px;
                      }
                      &.bt-txt {
                        padding-top: 0;
                      }
                    }
                  }
                }
                .img {
                  padding-top: 0px;
                  &.pdt10 {
                    padding-top: 10px;
                  }
                }
                div.btn-wrap {
                  button.credit-rating-btn {
                    margin-top: 0px;
                    &.gradiation {
                      margin-top: 30px;
                    }
                    &.mgt10 {
                      margin-top: 10px;
                    }
                  }
                }
              }
              &.type02 {
                .tit-box {
                  span {
                    &.sm-tit {
                      border: 1px solid #fff;
                      background: rgba(255, 255, 255, 0.1);
                      color: #fff;
                      margin-bottom: 16px;
                    }
                    &.crediview-logo {
                      width: 67px;
                      height: 18px;
                      background: url(../image/landing/bn-c-logo.png) no-repeat center;
                      display: block;
                      margin: 0 auto 8px auto;
                    }
                  }
                  .lg-tit {
                    color: #fff;
                    text-align: center;
                    font-size: var(--font-30);
                    font-weight: 600;
                    line-height: 40px;
                    letter-spacing: -0.09px;
                    em {
                      font-weight: 800;
                    }
                    &.x-lg {
                      color: #fff;
                      font-size: 42px;
                      font-weight: 800;
                      line-height: 130%; /* 54.6px */
                    }
                  }
                  .bt-txt {
                    color: rgba(255, 255, 255, 0.8);
                    text-align: center;
                    font-size: var(--font-14);
                    font-style: normal;
                    font-weight: 500;
                    line-height: 140%;
                    letter-spacing: -0.042px;
                    padding: 10px 0 35px 0;
                    em {
                      color: #fff;
                    }
                    .date-desc {
                      display: block;
                      font-style: normal;
                      padding-top: 16px;
                      color: #d2dced;
                      font-size: var(--font-12);
                      font-weight: 500;
                      line-height: 130%; /* 15.6px */
                      letter-spacing: -0.036px;
                    }
                  }
                }
                .img {
                  padding-top: 0px;
                  height: 250px;
                  position: relative;
                  img {
                    max-width: 100%;
                    position: absolute;
                    left: 50%;
                    transform: translate(-56%, 0px);
                  }
                  .btn-wrap {
                    position: absolute;
                    bottom: -10px;
                    left: 50%;
                    transform: translate(-50%, 0);
                    &.custom-ps {
                      bottom: -15px;
                    }
                    &.custom-ps02 {
                      bottom: -30px;
                    }
                    .credit-rating-btn {
                      width: 200px;
                      span {
                        font-size: var(--font-15);
                        font-weight: 500;
                        &::after {
                          background-size: 10px;
                          top: 2px;
                        }
                      }
                    }
                  }
                  &.img-custom-st01 {
                    height: 284px;
                    img {
                      transform: translate(-44%, 0px);
                    }
                  }
                  &.img-custom-st02 {
                    height: 284px;
                    img {
                      transform: translate(-50%, 0px);
                    }
                  }
                  &.img-custom-st03 {
                    img {
                      width: 282px;
                      transform: translate(-50%, 0px);
                    }
                  }
                }
              }
            }

            div.btn-wrap {
              display: flex;
              justify-content: center;
              button.credit-rating-btn {
                display: block;
                width: 187px;
                height: 44px;
                background-color: var(--c-bg);
                border-radius: 12px;
                margin-top: 10px;
                &.gradiation {
                  width: 144px;
                  height: 44px;
                  background: linear-gradient(90deg, #0046ff 0%, #8e48ff 100%);
                  border-radius: 24px;
                  span {
                    color: #fff;
                    position: relative;
                    font-size: var(--font-15);
                    font-weight: 500;
                    &::after {
                      content: '';
                      width: 14px;
                      height: 15px;
                      background: url(../image/landing/ic_arrow_w_btn.png) no-repeat;
                      position: absolute;
                      top: 2px;
                    }
                  }
                }
                span {
                  font-size: var(--font-15);
                  font-weight: 500;
                  color: var(--fc-default);
                  position: relative;
                  display: inline-block;
                  padding: 0 25px 0 0;
                  &::after {
                    content: '';
                    width: 14px;
                    height: 15px;
                    // background: url(../image/landing/ic_arrow_btn.png)
                    background: url(../image/landing/ic_arrow_btn.png) no-repeat center center;
                    background-size: 10px;
                    position: absolute;
                    top: 2px;
                    right: 0;
                  }
                }
              }
              &.custom-btn-ps {
                position: absolute;
                bottom: 120px;
                left: 50%;
                z-index: 100;
                transform: translate(-50%, 0);
              }
            }
          }
        }
        ul.landing-first-pagination {
          position: absolute;
          bottom: 110px;
          z-index: 1;
          span.swiper-pagination-bullet {
            width: 50px;
            height: 2px;
            background-color: #fff;
            border: none;
            border-radius: 0;
            &-active {
              background-color: #607fff;
            }
          }
        }
        .landing-first-navigation {
          width: 100%;
          height: 100%;
          button {
            width: 32px;
            height: 32px;
            background: url(../image/landing/swiper-bn-navbtn.png) no-repeat center;
            position: absolute;
            top: 50%;
            left: 20px;
            transform: translate(0, -50%);
            z-index: 10;
            &.my-next {
              right: 20px;
              left: auto;
              transform: translate(0, -50%) rotate(180deg);
            }
          }
        }
      }
    }
  }

  .landing-intro-top {
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #fdfcff;
    padding: 17px 22px;
    box-sizing: border-box;
    z-index: 1;
    p {
      font-size: var(--font-12);
      font-weight: 500;
      color: #6c6c6c;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-flow: wrap;
      line-height: 150%;
      span {
        display: block;
        width: 100%;
        &.logo-bk {
          width: 86px;
          height: 28px;
          background: url('../image/landing/logo_public_2.png') no-repeat;
          text-indent: -9999px;
        }
        i.bold {
          font-style: normal;
          font-weight: 700;
        }
      }
    }
  }
  .landing-intro-bottom {
    width: 100%;
    position: absolute;
    bottom: 0;
    background-color: #262c3d;
    z-index: 1;
    padding: 17px 20px;
    span.tit {
      display: block;
      text-align: center;
      font-size: var(--font-12);
      font-weight: 500;
      padding-bottom: 7px;
      color: rgb(255, 255, 255);
      opacity: 0.6;
    }
    p.img {
      width: 360px;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}

.landing-intro {
  width: 100%;
  height: 584px;
  position: relative;
  .landing-intro-cont {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    .landing-intro-title {
      font-size: var(--font-28);
      font-weight: 700;
      color: #242a30;
      text-align: center;
      span {
        display: block;
      }
    }
    .text-active {
      background-image: var(--gra);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent;
      font-size: var(--font-20);
      font-weight: 700;
      text-align: center;
      padding-top: 12px;
    }
    .desc {
      font-size: var(--font-14);
      font-weight: 500;
      color: #6a7c8f;
      text-align: center;
      padding: 16px 0 50px 0;
    }
  }

  .landing-intro-motion-wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100vh;
    .landing-intro-motion {
      position: absolute;
      top: 0%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      box-shadow: 0 10px 20px rgba(38, 58, 99, 0.15);
      background-color: #f0dbf5;
      overflow: hidden;
      video {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
        opacity: 0.7;
      }
    }
  }
}

.landing-third {
  position: relative;
  background-color: #eeefff;

  .landing-third-cont {
    padding: 60px 0;
    .landing-third-title {
      font-size: 25px;
      font-weight: 700;
      color: #242a30;
      padding-bottom: 40px;
      text-align: center;
      line-height: 140%;
      p {
        .text-active {
          background-image: var(--gra);
          -webkit-background-clip: text;
          background-clip: text;
          color: transparent;
          display: block;
        }
      }
    }
    ul.landing-third-card {
      width: 360px;
      margin: 0 auto;
      li {
        width: 100%;
        border: solid 1px #fff;
        border-radius: 8px;
        background-color: #f6f8ff;
        padding: 24px 30px;
        margin-bottom: 16px;
        p {
          width: 100%;
          position: relative;
          strong {
            font-size: 20px;
            font-weight: 700;
            color: #242a30;
            span {
              display: block;
              font-size: 17px;
              font-weight: 400;
              padding-bottom: 5px;
            }
          }
          &:after {
            content: '';
            width: 109px;
            height: 100px;
            background: url('../image/landing/third_icon_01.png') no-repeat;
            background-size: 109px;
            position: absolute;
            top: -28px;
            right: -15px;
          }
        }
        &:nth-child(2) {
          p {
            display: flex;
            justify-content: center;
            padding: 0 0 0 95px;
            &::after {
              content: '';
              width: 109px;
              height: 100px;
              background: url('../image/landing/third_icon_02.png') no-repeat;
              background-size: 109px;
              position: absolute;
              top: -28px;
              left: 0px;
            }
          }
        }
        &:nth-child(3) {
          margin-bottom: 0px;
          p {
            &::after {
              content: '';
              width: 109px;
              height: 100px;
              background: url('../image/landing/third_icon_03.png') no-repeat;
              background-size: 109px;
              position: absolute;
              top: -28px;
              right: -15px;
            }
          }
        }
      }
    }
  }
}

.landing-fourth {
  position: relative;
  height: 100vh;
  background-color: #fff;

  .landing-section-inner {
    background: linear-gradient(146deg, #e6eefb -62%, #ecf1fd 70%);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.82), rgba(255, 255, 255, 0) 45%);
    }
  }

  .landing-fourth-title {
    z-index: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 0.7em;
    text-align: center;
    transform: translate(-50%, -50%);
    width: 100%;

    .line1 {
      margin-top: -9em;
      font-size: 25px;
    }
  }

  &-cont {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .icon {
      position: absolute;

      > * {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &.i01 {
        z-index: 9;
        top: -151px;
        left: 44px;
        img {
          width: 120px;
        }
      }
      &.i02 {
        z-index: 9;
        top: 143px;
        left: -137px;
        img {
          width: 120px;
        }
      }
      &.i03 {
        z-index: 9;
        top: 149px;
        left: 111px;
        img {
          width: 120px;
        }
      }
      &.b01 {
        z-index: 8;
        top: 204px;
        left: -76px;

        > * {
          width: 112px;
          height: 71px;
          border-radius: 10px;
          border: 1px solid #acc3f4;
          background-color: rgba(177, 203, 251, 0.76);
          box-shadow: 0 20px 60px rgba(30, 47, 118, 0.2);
          padding: 10px;
          color: #fff;
          font-size: var(--font-12);
          font-weight: 500;
          display: flex;
          flex-direction: column;
          gap: 0px;

          .num {
            font-size: 1.05em;
          }
          .text {
            position: relative;
            width: 35px;
            height: 2px;
            background-color: #d6e1f9;
            margin-top: 5px;

            &::before {
              content: '';
              position: absolute;
              top: 6px;
              left: 0;
              width: 22px;
              height: 2px;
              background-color: #d6e1f9;
            }

            &::after {
              content: '';
              position: absolute;
              top: 12px;
              left: 0;
              width: 22px;
              height: 2px;
              background-color: #d6e1f9;
            }
          }
        }
      }

      &.b02 {
        z-index: 8;
        top: -200px;
        left: -200px;

        > * {
          width: 59px;
          height: 40px;
          border-radius: 10px;
          border: 1px solid #fff;
          background: rgba(255, 255, 255, 0.64) url(../image/landing/fourth_icon_05.svg) no-repeat 55% 57%;
          box-shadow: 0 20px 60px rgba(30, 47, 118, 0.15);
          background-size: 48px;
        }
      }

      &.b03 {
        z-index: 8;
        top: -111px;
        left: 100px;

        > * {
          width: 52px;
          height: 52px;
          border-radius: 10px;
          border: 1px solid #fff;
          background: rgba(255, 255, 255, 0.6) url(../image/landing/fourth_icon_04.svg) no-repeat center center;
          box-shadow: 0 20px 60px rgba(30, 47, 118, 0.15);
          background-size: 32px;
        }
      }

      &.b04 {
        z-index: 8;
        top: -248px;
        left: 159px;

        > * {
          width: 42px;
          height: 52px;
          border-radius: 10px;
          border: 1px solid #fff;
          background-color: rgba(255, 255, 255, 0.6);
          background-image: url(../image/landing/fourth_icon_08_1.svg), url(../image/landing/fourth_icon_08_2.svg);
          background-size: 30px;
          background-repeat: no-repeat;
          background-position:
            center top 33px,
            center bottom 19px;
          box-shadow: 0 20px 60px rgba(30, 47, 118, 0.15);
        }
      }

      &.c01 {
        top: -138px;
        left: -99px;

        > * {
          width: 32px;
          height: 32px;
          background: rgba(134, 225, 252, 0.34) url(../image/landing/fourth_icon_06.svg) no-repeat center center;
          background-size: 14px;
          border-radius: 50%;
        }
      }

      &.c02 {
        top: 257px;
        left: 54px;

        > * {
          width: 39px;
          height: 39px;
          background: rgba(75, 152, 255, 0.16) url(../image/landing/fourth_icon_07.svg) no-repeat center center;
          background-size: 23px;
          border-radius: 50%;
        }
      }

      &.c05 {
        top: 0;
        left: 0;
        transform: rotate(15deg);

        > * {
          top: 50%;
          left: 50%;
          margin-left: calc(1620px / -2);
          width: 72px;
          height: 72px;
          transform: translate(-50%, -50%);
          background-color: rgba(255, 255, 255, 0.36);
          border-radius: 50%;
        }
      }

      &.c03 {
        top: 0;
        left: 0;
        animation: key-circle 20s linear infinite;
        display: none;

        > * {
          top: 240px;
          left: 97px;
          width: 22px;
          height: 22px;
          background-color: rgba(222, 62, 235, 0.18);
          border-radius: 50%;
        }
      }

      &.c04 {
        top: 0;
        left: 0;
        animation: key-circle2 40s 10s ease-in-out infinite;
        display: none;

        > * {
          top: -377px;
          left: 0px;
          width: 47px;
          height: 47px;
          background-color: #ecebff;
          border-radius: 50%;
        }
      }

      &.c06 {
        top: 233px;
        left: -95px;

        > * {
          width: 52px;
          height: 52px;
          background: rgba(75, 152, 255, 0.3) url(../image/landing/fourth_icon_09.svg) no-repeat center center;
          background-size: 21px;
          border-radius: 50%;
          opacity: 0.6;
        }
      }
    }
  }

  &-revolve {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .bg-wrap {
      overflow-x: hidden;
      width: 100vw;
      max-width: 100%;
      .bg {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: auto;
        border: 2px solid rgba(189, 195, 204, 0.1);
        border-radius: 50%;

        &::after {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 328px;
          height: 328px;
          border: 3px solid rgba(189, 195, 204, 0.13);
          border-radius: 50%;
        }

        &::before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 520px;
          height: 520px;
          border: 2px dashed rgba(189, 195, 204, 0.2);
          border-radius: 50%;
        }

        .icon {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }

    .work {
      position: absolute;
      top: 50%;
      left: 50%;
    }

    .group01 {
      scale: 0;
      opacity: 0.5;
    }
  }

  &-certi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-top: 0vh;

    .box {
      position: relative;
      width: 175px;
      height: 217px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      padding: 35px 20px 50px;
      border-radius: 16px;
      box-shadow: 0 10px 40px 0 rgba(98, 118, 188, 0.3);
      border: solid 1px #fff;
      background-image: linear-gradient(178deg, #fff 30%, #f4f9ff 102%);
      text-align: center;

      &::before {
        content: '';
        position: absolute;
        top: 20px;
        right: 20px;
        bottom: 20px;
        left: 20px;
        border: 1px solid #eae1d0;
        border-radius: 11px;
      }

      .badge {
        position: absolute;
        top: -37px;
        right: -37px;
        width: 70px;
        height: 70px;
        background: url(../image/landing/fourth_badge.png) no-repeat left top / contain;
      }

      .logo {
        position: absolute;
        top: 59%;
        left: -35px;
        width: 70px;
        height: 70px;
        border-radius: 20px;
        background: #0046ff url(../image/logo/logo_crediview_app_w.svg) no-repeat center center / 82%;
      }
    }

    .title {
      font-size: var(--font-18);
      font-weight: 700;
      letter-spacing: -1.4px;
      padding-bottom: 50px;
    }

    .name {
      font-size: var(--font-16);
      color: #bebebe;
      display: none;
    }

    .grade {
      position: relative;
      margin-top: -10px;
      font-size: 25px;
      font-weight: 800;
      letter-spacing: -0.9px;
      color: #bb8837;

      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 132px;
        height: 132px;
        background: url(../image/landing/img_wreath.png) no-repeat center center / contain;
        transform: translate(-50%, -50%);
      }
    }

    .desc {
      font-size: var(--font-18);
      opacity: 0.5;
      margin-top: 24px;
      text-align: center;
      display: none;
    }

    .deco {
      position: absolute;
      top: 50%;
      left: 50%;
      opacity: 0;
    }
  }
}
.landing-fifth {
  padding: 60px 0;
  .landing-fifth-title {
    text-align: center;
    margin-bottom: 50px;
    h2 {
      font-size: 25px;
      font-weight: 700;
      color: #242a30;
      line-height: 140%;
      span {
        color: #0046ff;
      }
    }
  }
  .landing-fifth-wrapper {
    position: relative;
    height: 425px;
    .landing-fifth-swiper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1;
      overflow: hidden;
      .swiper {
        overflow: visible !important;
      }
      .swiper-wrapper {
        display: flex;
        overflow: visible;
        .swiper-slide {
          width: 100%;
          &.swiper-slide-active {
            transform: scale(1);
          }
          .fifth-con {
            span.tit {
              display: inline-block;
              align-items: center;
              font-size: 18px;
              font-weight: 700;
              width: auto;
              height: 43px;
              border-radius: 20px;
              color: #9b9ba0;
              margin: 0 auto;
              padding: 10px 20px;
              display: flex;
              justify-content: center;
              align-items: center;
              .number {
                font-style: normal;
                font-weight: 500;
                display: inline-block;
                width: 26px;
                height: 26px;
                border-radius: 100%;
                background-color: #9b9ba0;
                color: #fff;
                padding-top: 3px;
                font-size: 16px;
                margin-right: 3px;
              }
            }
            .img {
              padding-top: 10px;
              img {
                display: block;
                max-width: 100%;
                margin: 0 auto;
              }
            }
          }
        }
      }
      ul.landing-fifth-pagination {
        position: absolute;
        bottom: 0px;
        left: 50%;
        transform: translate(-50%, 0);
        z-index: 1;
        span.swiper-pagination-bullet {
          width: 50px;
          height: 2px;
          background-color: #e5e5e5;
          border: none;
          border-radius: 0;
          &-active {
            background-color: #607fff;
          }
        }
      }
    }
  }
}

.landing-sixth {
  padding: 60px 0 0 0;
  background-color: #f8f9fa;
  .landing-sixth-cont {
    width: 360px;
    margin: 0 auto;
    .sixth-small-title {
      font-size: var(--font-16);
      color: #0046ff;
      font-weight: 700;
      padding-bottom: 18px;
    }
    .landing-sixth-title {
      font-size: 25px;
      font-weight: 700;
      color: #242a30;
      line-height: 34px;
    }
    ul.list-desc {
      padding-top: 32px;
      li {
        font-size: var(--font-14);
        font-weight: 500;
        color: #7b7b7b;
        padding: 0 0 8px 25px;
        position: relative;
        &::before {
          content: '';
          width: 16px;
          height: 16px;
          background: url(../image/landing/sixth-list-ico01.png) no-repeat;
          background-size: 16px;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:nth-child(2)::before {
          background: url(../image/landing/sixth-list-ico02.png) no-repeat;
          background-size: 16px;
        }
        &:nth-child(3)::before {
          background: url(../image/landing/sixth-list-ico03.png) no-repeat;
          background-size: 16px;
        }
        span.bold {
          color: #242a30;
        }
      }
    }
  }
  .landing-sixth-wrapper {
    padding-top: 48px;
    .landing-sixth-swiper {
      height: 198px;
      overflow: hidden;
      .swiper {
        overflow: visible !important;
      }
      .swiper-wrapper {
        overflow: visible;
        display: flex;
        .swiper-slide {
          &.swiper-slide-active {
            transform: scale(1);
          }
          .img-wrapper {
            width: 235px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

.landing-seventh {
  padding: 60px 0 0 0;
  background: linear-gradient(180deg, #ece2ff00 0%, #d9e1ff 100%);
  .landing-seventh-cont {
    width: 360px;
    margin: 0 auto;
    .seventh-small-title {
      font-size: var(--font-16);
      color: #0046ff;
      font-weight: 700;
      padding-bottom: 18px;
      display: flex;
      align-items: center;
      gap: 5px;
      .gradiation-txt {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 44px;
        height: 21px;
        background: linear-gradient(135.56deg, #4075ff 15.55%, #f632ff 87.46%);
        border-radius: 22px;
        i {
          display: block;
          font-style: normal;
          font-size: var(--font-11);
          font-weight: 600;
          color: #fff;
          text-align: center;
        }
      }
    }
    .landing-seventh-title {
      font-size: 25px;
      font-weight: 700;
      color: #242a30;
      line-height: 34px;
    }
    ul.list-desc {
      padding-top: 32px;
      li {
        font-size: var(--font-14);
        font-weight: 500;
        color: #7b7b7b;
        padding: 0 0 8px 25px;
        position: relative;
        &::before {
          content: '';
          width: 16px;
          height: 16px;
          background: url(../image/landing/ic-paper-stack-filled-24.png) no-repeat;
          background-size: 16px;
          position: absolute;
          top: 0;
          left: 0;
        }
        &:nth-child(2)::before {
          background: url(../image/landing/ic-doc-check-filled-24.png) no-repeat;
          background-size: 16px;
        }
        &:nth-child(3)::before {
          background: url(../image/landing/ic-doc-increase-filled-24.png) no-repeat;
          background-size: 16px;
        }
        span.bold {
          color: #242a30;
        }
      }
    }
  }
  .landing-seventh-wrapper {
    padding-top: 48px;
    .landing-seventh-swiper {
      height: 198px;
      overflow: hidden;
      .swiper {
        overflow: visible !important;
      }
      .swiper-wrapper {
        overflow: visible;
        display: flex;
        .swiper-slide {
          &.swiper-slide-active {
            transform: scale(1);
          }
          .img-wrapper {
            width: 235px;
            img {
              width: 100%;
            }
          }
        }
      }
    }
  }
}
.landing-eighth {
  padding: 60px 0;
  background-color: #fff;
  .landing-eighth-title {
    padding-bottom: 48px;
    h2 {
      font-size: 25px;
      font-weight: 700;
      color: #242a30;
      text-align: center;
      span {
        color: #0046ff;
      }
    }
    span.sub-tit {
      font-size: var(--font-14);
      font-weight: 500;
      color: #6a7c8f;
      display: block;
      text-align: center;
      padding-top: 16px;
    }
  }
  .landing-eighth-wrapper {
    position: relative;
    height: 370px;
    .landing-eighth-swiper {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      text-align: center;
      z-index: 1;
      overflow: hidden;
      .swiper-wrapper {
        .swiper-slide {
          .bn-content {
            a {
              color: #333;
              .img {
                img {
                  max-width: 100%;
                }
              }
              h4.title {
                font-size: var(--font-16);
                font-weight: 700;
                line-height: 24px;
                padding-top: 16px;
              }
              .date {
                font-size: 13px;
                font-weight: 400;
                color: #9b9ba0;
                display: block;
                text-align: center;
                padding-top: 8px;
              }
            }
          }
        }
      }
      ul.landing-eighth-pagination {
        position: absolute;
        left: 50%;
        bottom: 0px;
        transform: translate(-50%, 0);
        z-index: 1;
        span.swiper-pagination-bullet {
          width: 50px;
          height: 2px;
          background-color: #e5e5e5;
          border: none;
          border-radius: 0;
          &-active {
            background-color: #607fff;
          }
        }
      }
    }
  }
}
.landing-shortcut {
  padding: 0 0 60px 0;
  .landing-shortcut-cont {
    ul.shortcut-box {
      display: flex;
      flex-direction: column;
      gap: 10px;
      li {
        width: 100%;
        background-color: #dcecff;
        border-radius: 12px;
        padding: 18px 22px;
        a {
          display: block;
          position: relative;
          h3.tit {
            font-size: 18px;
            font-weight: 600;
            color: #000000;
            span {
              color: #0046ff;
              display: block;
            }
          }
          div {
            padding-top: 12px;
            p {
              span {
                font-size: 12px;
                font-weight: 500;
                color: #4e5262;
              }
            }
          }

          &::before {
            content: '';
            width: 95px;
            height: 77px;
            background: url('../image/landing/landing-shortcut-img02.png') no-repeat;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        &.event {
          background: linear-gradient(180deg, #fcf7e3 0%, #fcf4d7 100%);
          padding: 18px 22px 40px 22px;
          a {
            h3.tit {
              span.sub-tit {
                font-size: 14px;
                font-weight: 500;
                color: #b2761b;
                display: block;
                padding-bottom: 7px;
              }
            }
            &::before {
              width: 98px;
              height: 59px;
              background: url('../image/landing/landing-shortcut-img01.png');
              position: absolute;
              bottom: -40px;
              top: auto;
            }
            &::after {
              content: '';
              width: 177px;
              height: 123px;
              background: url('../image/landing/landing-shortcut-bg01.png');
              position: absolute;
              top: -18px;
              right: -27px;
            }
          }
        }
      }
    }

    ul.shortcut-event-box {
      li {
        a {
          img {
            display: block;
            margin: 0 auto;
            max-width: 100%;
          }
        }
        &:last-child {
          padding-top: 10px;
        }
      }
    }

    .landing-bottomBn-swiper-wrapper {
      position: relative;
      height: 125px;
      margin: 16px 0 30px 0;
      .landing-bottomBn-swiper {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        height: 100%;
        overflow: hidden;
        text-align: center;
        .swiper-slide {
          a {
            img {
              width: 320px;
              height: 125px;
            }
          }
        }
      }
      .landing-bottomBn-pagination {
        position: absolute;
        width: auto;
        left: 50%;
        bottom: -20px;
        transform: translate(-50%, 0);
        z-index: 1;
        .swiper-pagination-bullet {
          width: 50px;
          height: 2px;
          background-color: #e5e5e5;
          border: none;
          border-radius: 0;
          &-active {
            background-color: #607fff;
          }
        }
      }
    }
  }
}
.landing-ques {
  width: 100%;
  padding: 60px 0;
  background-color: #f8f9fa;
  h3.tit {
    font-size: var(--font-22);
    font-weight: 600;
    text-align: center;
    padding-bottom: 24px;
  }
  .ques-list {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 7px;
    li {
      a {
        display: block;
        width: 60px;
        .img {
          max-width: 100%;
          img {
            display: block;
            margin: 0 auto;
          }
        }
        .ques-list-tit {
          display: block;
          text-align: center;
          padding-top: 7px;
          color: #000000;
        }
      }
    }
  }
}
