@keyframes fadeIn {
    from { opacity: 0 }
    to { opacity: 1 }
}

@keyframes toastIn {
    from {
        opacity: 0;
        // filter: blur(10px)
        transform: translateY(50%);
    }
    to {
        opacity: 1;
        // filter: none
        transform: none;
    }
}

@keyframes toastOut {
    to {
        opacity: 0;
        // filter: blur(5px)
        transform: translateY(50%);
    }
}

@keyframes refresh {
    to { transform: rotate(1turn) }
}

@keyframes scrollDown {
    0% {
        top: 12px;
        height: 2px;
        opacity: 1;
    }
    33% {
        top: 12px;
        height: 10px;
    }
    66% {
        top: 22px;
        height: 10px;
        opacity: 1;
    }
    100% {
        top: 30px;
        height: 2px;
        opacity: 0;
    }
}

@keyframes scrollDown2 {
    0% {
        margin-top: -10px;
        opacity: 1;
    }
    33% {
        margin-top: 10px;
    }
    66% {
        opacity: 1;
    }
    100% {
        margin-top: 10px;
        opacity: 0;
    }
}

@keyframes prixClipFix {
    0%   {clip-path:polygon(50% 50%,0 0,0 0,0 0,0 0,0 0)}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0,100% 0,100% 0)}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0 100%,0 0)}
}

@keyframes spin {
    to { transform: rotate(1turn) }
}
@keyframes spin-reverse {
    from { transform: rotate(1turn) }
}

@keyframes progressbar {
    0% {
        left: 0;
        transform: translateX(-100%)
    }
    100% {
        left: 100%;
        transform: translateX(0%);
    }
}

@keyframes scale {
    from { scale: 1.2 }
    to { scale: 1 }
}

@keyframes gradient {
    0% { background-position: 0% 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0% 50% }
}

@keyframes key-wheel {
    0% {
        margin-top: -7px;
        opacity: 0;
    }
    40% {
        margin-top: 5px;
        opacity: 1;
    }
    60% {
        margin-top: 5px;
        opacity: 1;
    }
    99% {
        margin-top: -7px;
        opacity: 0;
    }
}

@keyframes key-circle {
    0% { transform: rotate(0) }
    100% { transform: rotate(360deg) }
}

@keyframes key-circle2 {
    0% { transform: rotate(0) }
    90% { transform: rotate(-360deg) }
    100% { transform: rotate(-360deg) }
}

@keyframes label-opa {
    0% { opacity: 0 }
    100% { opacity: 1 }    
}

@keyframes top-move {
    0% {
        top: 6px;
        opacity: 0;
    }
    50% {
        top: 2px;
        opacity: 1;
    }
    70% {
        top: 2px;
        opacity: 1;
    }
    100% {
        top: 2px;
        opacity: 0;
    }
}

@keyframes logoSwap {
    0% {
        opacity: 1;
        transform: scaleY(1);
    }
    46% {
        opacity: 1;
        transform: scaleY(1);
    }
    50% {
        opacity: 0;
        transform: scaleY(0);
    }
    96% {
        opacity: 0;
        transform: scaleY(0);
    }
    100% {
        opacity: 1;
        transform: scaleY(1);
    }
}
@keyframes logoSwap2 {
    0% {
        opacity: 0;
        transform: scaleY(0);
    }
    46% {
        opacity: 0;
        transform: scaleY(0);
    }
    50% {
        opacity: 1;
        transform: scaleY(1);
    }
    96% {
        opacity: 1;
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        transform: scaleY(0);
    }
}

@keyframes snackIn {
    from {
        transform: translateY(100%)
    }
    to {
        transform: translateY(0)
    }
}