@charset "UTF-8";
.AidataReport {
  &-cover {
    padding: 7.5rem 7.5rem;
    height: 100%;
    &::before {
      content: "";
      width: 561px;
      height: 704px;
      background: url("/static/crediview/crediview-w/image/views/aireport/cover-bg-top.png")
        no-repeat;
      position: absolute;
      top: 0;
      right: 0;
    }
    &::after {
      content: "";
      width: 561px;
      height: 1163px;
      background: url("/static/crediview/crediview-w/image/views/aireport/cover-bg-bottom.png")
        no-repeat;
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &-contents {
      .title-box {
        .qr-mark-wrap {
          display: flex;
          justify-content: flex-start;
          align-items: center;
          .qr-mark {
            font-size: var(--font-14);
            font-weight: 500;
            color: #000000;
            position: relative;
            padding: 2rem 0 0 0.625rem;
            display: block;
          }
        }

        .t1 {
          font-size: 2.5rem;
          font-weight: 500;
          color: #292d36;
          padding: 7.728rem 0 2rem 0;
        }
        .t2 {
          font-size: 6.313rem;
          font-weight: 400;
          display: flex;
          align-items: center;
          .text-gradient {
            width: 248px;
            height: 74px;
            background: url(/static/crediview/crediview-w/image/views/aireport/cover-gradation-txt.png)
              no-repeat;
            display: inline-block;
            margin-right: 1.25rem;
            // background: linear-gradient(
            //   90deg,
            //   #8c2fff 0%,
            //   #225eff 50%,
            //   #22d6ff 100%
            // );
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // display: inline-block;
            // font-weight: 700;
            // padding: 0 1.25rem 0 0;
          }
          .gradient-bg {
            width: 73px;
            height: 50px;
            border-radius: 0.5rem;
            background: linear-gradient(
              90deg,
              #8c2fff 0%,
              #225eff 50%,
              #22d6ff 100%
            );
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin: 1.25rem 0 0 0.625rem;
            i {
              font-size: 1.938rem;
              text-align: center;
              font-style: normal;
              display: block;
              color: #fff;
            }
          }
        }
        .t3 {
          display: block;
          font-size: var(--font-20);
          font-weight: 400;
          color: #292d36;
          letter-spacing: 0.188rem;
        }
        .t4 {
          font-size: var(--font-20);
          font-weight: 500;
          color: #406eff;
          line-height: 1.75rem;
          padding-top: 3.125rem;
          display: block;
        }
      }
      .infor-box {
        display: flex;
        justify-content: flex-end;
        padding-top: 155px;
        .infor-wrap {
          width: 590px;
          .title {
            font-size: var(--font-22);
            font-weight: 700;
            color: #292d36;
            padding-bottom: 0.5rem;
            border-bottom: solid 2px #8e95a9;
          }
          .infor-list {
            padding-top: 2.5rem;
            li {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              padding-bottom: 2rem;
              span {
                display: inline-block;
                &.tit {
                  width: 121px;
                  font-size: var(--font-20);
                  font-weight: 500;
                  color: #686b71;
                }
                &.con {
                  font-size: var(--font-20);
                  font-weight: 700;
                  color: #292d36;
                  padding-left: 40px;
                }
              }
            }
          }
          .infor-txt {
            font-size: var(--font-18);
            font-weight: 500;
            color: #292d36;
            border-top: solid 1px #8e95a9;
            border-bottom: solid 2px #8e95a9;
            padding: 1.5rem;
            line-height: 1.75rem;
          }
          .company-signture {
            display: block;
            font-size: var(--font-28);
            font-weight: 400;
            color: #292d36;
            text-align: center;
            padding: 5.5rem 8.125rem 0 0;
            position: relative;
            &::before {
              content: "";
              width: 105px;
              height: 105px;
              background: url("/static/crediview/crediview-w/image/views/aireport/company-sign.png")
                no-repeat;
              background-size: 105px;
              position: absolute;
              top: 3rem;
              right: 6.3rem;
            }
          }
        }
      }
      .bottom-infor-txt {
        position: absolute;
        bottom: 6.25rem;
        left: 7.5rem;
        font-size: var(--font-16);
        font-weight: 500;
        line-height: 1.5rem;
        color: #000000;
      }
    }
    //표지버전 v-2
    &.v2-odd {
      padding: 4.75rem 6.25rem 6.25rem 6.25rem;
      &::before {
        width: 100%;
        height: 100%;
        background: url(/static/crediview/crediview-w/image/views/aireport/cover-bg-top-v2.png)
          no-repeat;
        top: 0;
        left: 0;
        z-index: 0;
      }
      &::after {
        content: none;
      }
      .AidataReport-cover-contents {
        position: relative;
      }
    }
  }
}
