@charset "UTF-8";
.aireport-landing {
  &-root {
    transition: all 0.5s ease-in-out;
    .SOLHeader-root {
      //   &.t--landing {
      //     background: none;
      //     &.bg-active {
      //       &::before {
      //         content: "";
      //         background: rgba(12, 25, 56, 1);
      //       }
      //       .SOLHeader-logo {
      //         .logo {
      //           .kr {
      //             &.ai {
      //               background: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_w_kr.svg)
      //                 no-repeat !important;
      //             }
      //           }
      //         }
      //       }
      //     }
      //     .SOLHeader-nav {
      //       a {
      //         color: #fff;
      //       }
      //     }
      //     .SOLHeader-nav-submenu {
      //       background-color: rgba(12, 25, 56, 0.5);
      //       .SOLHeader-nav-submenu-inner {
      //         ul {
      //           li {
      //             a {
      //               &:hover {
      //                 color: #fff;
      //               }
      //             }
      //           }
      //         }
      //       }
      //     }
      //     .SOLHeader-logo {
      //       .logo {
      //         width: 100px;
      //         background-size: 100px;
      //         .kr {
      //           background: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_w_kr.svg)
      //             no-repeat;
      //         }
      //         .eng {
      //           background: url(/static/crediview/crediview-w/image/views/logo/bi_crediview_w.svg)
      //             no-repeat;
      //         }
      //       }
      //     }
      //     .SOLHeader-global {
      //       a {
      //         border: solid 1px rgba(255, 255, 255, 0.2);
      //         color: rgba(255, 255, 255, 1);
      //       }
      //     }
      //   }
      .SOLHeader-inner {
        max-width: 1200px;
        .SOLHeader-logo {
        }
        .SOLHeader-nav-submenu-inner {
          width: 1200px;
        }
      }
    }
  }
  &-inner {
    width: 1100px;
    margin: 0 auto;
    &.h100 {
      height: 100%;
    }
  }
  &-section01 {
    width: 100%;
    height: 100vh;
    position: relative;
    .video-wrap {
      &::before {
        content: "";
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #0c1938;
        z-index: 1;
        opacity: 0.5;
      }
      video {
        position: absolute;
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: center center;
        object-position: center center;
        z-index: 0;
      }
    }
    .sec01-content {
      position: relative;
      z-index: 1;
      padding-top: 234px;
      .sec01-title {
        color: var(--c-bg);
        .tit-align {
          display: flex;
          align-items: center;
          gap: 10px;
          span.open-tit {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 130px;
            height: 54px;
            background: url("/static/crediview/crediview-w/image/views/intro/btn-gradt.png")
              no-repeat;
            background-color: rgba(5, 10, 19, 0.5);
            border-radius: 30px;
            font-size: var(--font-26);
            font-weight: 700;
            text-align: center;
          }
          .open-desc {
            font-size: var(--font-20);
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            display: inline-block;
          }
        }

        span.sub-tit01 {
          font-size: 38px;
          font-weight: 400;
          display: block;
          padding: 43px 0 10px 0;
        }
        span.sub-tit02 {
          font-size: 80px;
          font-weight: 700;
          position: relative;
          padding-right: 90px;
          // &::after {
          //   content: "AI";
          //   position: absolute;
          //   top: 35px;
          //   right: 0;
          //   width: 70px;
          //   height: 43px;
          //   background: linear-gradient(
          //     113.73deg,
          //     #22d6ff -0.36%,
          //     #225eff 62.03%,
          //     #8c2fff 105.39%
          //   );

          //   font-size: 25px;
          //   font-weight: 700;
          //   color: var(--c-bg);
          //   border-radius: 8px;
          //   text-align: center;
          //   display: flex;
          //   justify-content: center;
          //   align-items: center;
          // }
          i {
            font-style: normal;
            display: inline-block;
          }
          i.f-wt {
            font-weight: 400;
          }
        }
      }
      p.sec01-desc {
        font-size: var(--font-20);
        font-weight: 400;
        color: var(--c-bg);
        padding-top: 20px;
        line-height: 140%;
        span {
          font-weight: 700;
        }
      }
    }
    .ai-reprot-floating-wrap {
      width: 1200px;
      position: fixed;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      z-index: 10;
      background: linear-gradient(90deg, rgb(0, 70, 255), rgb(142, 72, 255));
      padding: 2px 2px 0 2px;
      border: solid 1px rgba(0, 70, 255, 1);
      border-bottom: none;
      border-radius: 20px 20px 0 0;
      .ai-reprot-floating-inner {
        border-radius: 17px 17px 0 0;
        background-color: #fff;
        padding: 20px 40px;
        .flex-box {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .floating-title {
            font-size: var(--font-22);
            font-weight: 700;
            color: #1d2129;
          }
          .floating-btn-wrap {
            display: flex;
            justify-content: center;
            gap: 10px;
            button {
              &.diagnosis-btn {
                background: #fff;
                border: solid 1px #3b5dfb;
                border-radius: 8px;
                padding: 18px 20px;
                width: 167px;
                transition: all 0.5s ease-in-out;
                span {
                  display: block;
                  color: #3b5dfb;
                  font-size: var(--font-16);
                  font-weight: 700;
                  text-align: center;
                }
                &:hover {
                  background: linear-gradient(
                    85.05deg,
                    #0046ff 9.96%,
                    #8e48ff 99.38%
                  );
                  span {
                    color: #fff;
                  }
                }
              }
              &.company-diagnosis-btn {
                width: 245px;
                background: linear-gradient(
                  85.05deg,
                  #0046ff 9.96%,
                  #8e48ff 99.38%
                );
                border-radius: 8px;
                span {
                  display: inline-block;
                  font-size: var(--font-16);
                  font-weight: 700;
                  color: #fff;
                  text-align: center;
                  padding-right: 25px;
                  position: relative;
                  &:before {
                    content: "";
                    width: 14px;
                    height: 15px;
                    background: url(/static/crediview/crediview-w/image/icon/ic_arrow_w_btn.png)
                      no-repeat;
                    position: absolute;
                    top: 50%;
                    right: 0;
                    transform: translate(0, -50%);
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  &-section02 {
    padding: 120px 0 0 0;
    width: 100%;
    height: 100%;
    background: url(/static/crediview/crediview-w/image/views/aireport/report-sv-sec02-bg01.png)
      no-repeat center bottom / cover;
    .tit-box {
      padding-bottom: 80px;
      .tit {
        font-size: var(--font-34);
        font-weight: 400;
        text-align: center;
        padding-bottom: 24px;
        span {
          display: inline-block;

          &.bold01 {
            font-weight: 700;
            color: #3b5dfb;
          }
          &.bold02 {
            font-weight: 700;
          }
        }
      }
      .desc {
        display: block;
        font-size: var(--font-22);
        font-weight: 500;
        color: rgba(36, 42, 48, 0.6);
        text-align: center;
      }
    }
    .img-box {
      display: flex;
      justify-content: center;

      .img {
        width: 1100px;
        aspect-ratio: 1100 / 514;
        background: url("/static/crediview/crediview-w/image/views/aireport/report-sv-sec02-img01.png")
          no-repeat center center;
        background-size: cover;
      }
    }
  }
  &-section03 {
    padding: 130px 0;
    .tit-box {
      .tit {
        font-size: var(--font-34);
        font-weight: 700;
        color: #242a30;
        text-align: center;
        .gradient-txt {
          background: linear-gradient(85.38deg, #0046ff -0.49%, #8e48ff 92.52%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
      .desc {
        display: block;
        font-size: var(--font-22);
        font-weight: 500;
        padding-top: 24px;
        text-align: center;
        color: rgba(36, 42, 48, 0.6);
        line-height: 32px;
      }
    }
    .list-infor {
      padding-top: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      li {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #f6f7fb;
        padding: 80px 0;
        height: 386px;
        border-radius: 16px;
        &:nth-child(2) {
          background-color: #f6f3ff;
        }
        &:nth-child(3) {
          background-color: #f0f9fb;
        }
        &:nth-child(4) {
          background-color: #f3f6ff;
        }
        .img {
          height: 80px;
        }

        span {
          display: block;
          text-align: center;
          &.tit {
            font-size: var(--font-22);
            font-weight: 700;
            color: #242a30;
            padding-top: 34px;
          }
          &.desc {
            font-size: var(--font-16);
            font-weight: 500;
            color: rgba(36, 42, 48, 0.6);
            padding-top: 24px;
            line-height: 140%;
          }
        }
      }
    }
  }
  &-section04 {
    width: 100%;
    height: 900px;
    background: url(/static/crediview/crediview-w/image/views/aireport/report-sv-sec04-bg01.png)
      no-repeat center center;
    background-size: cover;
    .tit-box {
      .tit {
        font-size: var(--font-34);
        font-weight: 700;
        color: #222222;
        text-align: center;
        line-height: 140%;
        padding-top: 168px;
        position: relative;
        span {
          display: block;
          color: #7b7b7b;
        }
        &::before {
          content: "";
          width: 54px;
          height: 54px;
          background: url(/static/crediview/crediview-w/image/views/aireport/report-sv-sec04-img01.png)
            no-repeat;
          position: absolute;
          top: 90px;
          left: 50%;
          transform: translate(-50%, 0);
        }
      }
    }
  }
  &-section05 {
    width: 100%;
    height: 900px;
    background: url(/static/crediview/crediview-w/image/views/aireport/report-sv-sec05-bg01.png)
      no-repeat center center;
    background-size: cover;
    .center-inner {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
    .con {
      position: relative;
      padding: 18px 0 0 340px;
      &::before {
        content: "";
        width: 278px;
        height: 279px;
        background: url(/static/crediview/crediview-w/image/views/aireport/report-sv-sec05-img01.png)
          no-repeat;
        position: absolute;
        top: 30px;
        left: 0;
      }
      .tit-box {
        .tit {
          span {
            display: block;
            &.tit-sm {
              font-size: var(--font-22);
              font-weight: 700;
              color: #4e5262;
              padding-bottom: 12px;
            }
            &.tit-sl {
              font-size: 2.5rem;
              font-weight: 700;
              color: #1d2129;
              line-height: 150%;
              em {
                color: #0046ff;
                display: block;
              }
            }
          }
        }
      }
      .price-box {
        display: flex;
        align-items: center;
        gap: 60px;
        background: #fff;
        border-radius: 10px;
        padding: 24px 60px;
        margin-top: 20px;
        .price {
          display: flex;
          align-items: center;
          gap: 30px;
          span {
            display: inline-block;
            &.tit {
              font-size: var(--font-24);
              font-weight: 700;
              color: #222222;
            }
            &.discount-num {
              font-size: 36px;
              font-weight: 600;
              color: #9b9ba0;
              text-decoration: line-through;
            }
          }
        }
        .price-txt {
          span {
            display: inline-block;
            font-size: 2.063rem;
            font-weight: 700;
            color: #222222;
            em {
              font-size: var(--font-16);
              font-weight: 400;
              display: inline-block;
              padding: 0 0 0 3px;
            }
          }
        }
      }
      .infor-list {
        padding: 17px 0 0 10px;
        li {
          &:first-child {
            padding-bottom: 5px;
          }
          span {
            display: block;
            font-size: var(--font-15);
            font-weight: 400;
            color: #7b7b7b;
            padding: 0 0 0 10px;
            position: relative;
            &:before {
              content: "";
              width: 3px;
              height: 3px;
              border-radius: 100%;
              background: #7b7b7b;
              position: absolute;
              top: 7px;
              left: 0;
            }
          }
        }
      }
    }
  }
}
