.BizInsightReport {
  &-root {
    header {
      width: 100%;
      padding: 2.5rem 3.75rem;
      .h-top-con {
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 1;
        .logo-tit {
          font-size: var(--font-20);
          em {
            font-weight: 700;
          }
          span {
            font-weight: 500;
            display: inline-block;
          }
        }
        .h-page-con {
          display: flex;
          align-items: center;
          span {
            display: inline-block;
            color: #000;
            font-size: var(--font-16);
            font-weight: 500;
            &.page-num {
              padding-right: 10px;
            }
          }
        }
      }
      &.company-type {
        background: linear-gradient(94.09deg, #dfe5f8 11.94%, #d6dffc 62.51%);
        height: 420px;
        position: relative;
        z-index: 1;
        overflow: hidden;
        &::before {
          content: "";
          width: 546px;
          height: 420px;
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/header/header-bg01.png)
            no-repeat center;
          position: absolute;
          bottom: 10px;
          right: -19px;
          z-index: -1;
        }
        &::after {
          content: "";
          width: 798px;
          height: 420px;
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/header/header-bg02.png)
            no-repeat center;
          position: absolute;
          top: 0;
          left: -9px;
          z-index: -1;
        }
        .h-contents {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 9.9rem;
          .tit-box {
            span {
              display: block;
              font-weight: 700;
              &.date-tit {
                font-size: 2.625rem;
                color: rgba(0, 70, 255, 1);
                padding-bottom: 1rem;
              }
              &.tit {
                font-size: 2.875rem;
                color: #000000;
              }
            }
          }
          .company-infor-list {
            padding-right: 4.563rem;
            li {
              display: flex;
              align-items: center;
              gap: 25px;
              padding-bottom: 0.75rem;
              &:last-child {
                padding-bottom: 0rem;
              }
              span {
                display: block;
                font-size: var(--font-16);
                color: #000000;

                &.tit {
                  width: 6.25rem;
                  font-weight: 400;
                }
                &.con {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }
      &.h-type02 {
        background: #c6e8ea;
        &.bg-02 {
          background: #cde5fc;
          .h-contents {
            .tit-box {
              .tit {
                .num {
                  background: #22afea;
                }
              }
            }
          }
          .infor-txt02 {
            background: #22afea;
          }
        }
        &.bg-03 {
          background: #c7d4ef;
          padding: 2.5rem 3.75rem 6.25rem 3.75rem;
          .h-contents {
            .tit-box {
              .tit {
                .num {
                  background: #4e7ad9;
                }
              }
            }
          }
        }
        &.bg-04 {
          background: #f2e9c1;
          padding: 2.5rem 3.75rem 6.25rem 3.75rem;
          .h-contents {
            .tit-box {
              .tit {
                .num {
                  background: #eebc33;
                }
              }
            }
          }
        }
        &.bg-05 {
          background: #cfe5bd;
          .h-contents {
            .tit-box {
              .tit {
                .num {
                  background: #73b130;
                }
              }
            }
          }
          .infor-txt02 {
            background: #73b130;
          }
        }

        &.bg-06 {
          background: #dbccff;
          padding: 2.5rem 3.75rem 6.25rem 3.75rem;
          .h-contents {
            .tit-box {
              .tit {
                .num {
                  background: #7158da;
                }
              }
            }
          }
        }

        &.bg-07 {
          background: #d9dce6;
          .h-contents {
            .tit-box {
              .tit {
                .num {
                  background: #888fc2;
                }
              }
            }
          }
          .infor-txt02 {
            background: #888fc2;
          }
        }

        .h-contents {
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding-top: 3.438rem;
          .tit-box {
            .tit {
              display: flex;
              align-items: center;
              gap: 16px;
              color: #000;
              font-size: 44px;
              font-weight: 700;
              letter-spacing: -0.44px;
              .num {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 52px;
                height: 52px;
                border-radius: 100%;
                background: #0ab9c9;
                font-size: var(--font-32);
                font-weight: 700;
                color: #fff;
                text-align: center;
              }
            }
          }
          .infor-txt {
            color: #000;
            font-size: var(--font-16);
            font-weight: 400;
            line-height: 26px; /* 162.5% */
            letter-spacing: -0.16px;
            color: #000000;
            @media print {
              //line-height: 20px;
            }
          }
        }
        .infor-txt02 {
          width: 100%;
          background: #0ab9c9;
          border-radius: 8px;
          margin-top: 2.688rem;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 1rem 1rem;
          @media print {
            margin-top: 0.625rem;
            padding: 0.325rem 1rem;
          }
          span {
            display: block;
            color: #fff;
            font-size: var(--font-24);
            font-weight: 400;
            text-align: center;
          }
        }
      }
      &.h-type-default {
        padding: 2.5rem 3.75rem 0rem 3.75rem;
      }
    }
  }
}

@media print {
  .BizInsightReport {
    &-root {
      header {
        padding: 1.5rem 2rem;
        &.company-type {
          height: 310px;
          &::before {
            bottom: 0px;
          }
          .h-top-con {
            padding-top: 2rem;
            .logo-tit {
              display: none;
            }
            .h-page-con {
              display: none;
            }
          }
          .h-contents {
            padding-top: 6rem;
            .tit-box {
              padding-left: 2.5rem;
              span {
                &.date-tit {
                  font-size: 2.3rem;
                }
                &.tit {
                  font-size: 2.3rem;
                }
              }
            }
          }
        }
        &.h-type02 {
          .h-top-con {
            display: none;
          }
          .h-contents {
            padding: 2.5rem 1.5rem 1rem 1.5rem;
            align-items: flex-start;
          }
          &.bg-02 {
            .h-top-con {
              display: none;
            }
            .h-contents {
              padding: 2.5rem 1.5rem 1rem 1.5rem;
            }
          }

          .h-contents {
            padding-top: 2.5rem;
            .tit-box {
              .tit {
                gap: 8px;
                font-size: 32px;
                .num {
                  width: 32px;
                  height: 32px;
                  font-size: var(--font-20);
                }
              }
            }
          }
          .infor-txt02 {
            padding: 0.625rem 1rem;
            margin-top: 1rem;
            span {
              font-size: var(--font-20);
            }
          }
          &.bg-03 {
            padding: 1.5rem 0rem 1.5rem 0rem;
            .h-top-con {
              display: none;
            }
            .h-contents {
              padding: 4.875rem 2rem 4.875rem 2rem;
            }
          }
          &.bg-04 {
            padding: 1.5rem 0rem 1.5rem 0rem;
            .h-top-con {
              display: none;
            }
            .h-contents {
              padding: 4.875rem 2rem 4.875rem 2rem;
            }
          }

          &.bg-05 {
            .h-top-con {
              display: none;
            }
            .h-contents {
              padding: 2.5rem 1.5rem 1rem 1.5rem;
            }
          }

          &.bg-06 {
            padding: 1.5rem 0rem 1.5rem 0rem;
            .h-top-con {
              display: none;
            }
            .h-contents {
              padding: 4.875rem 2rem 4.875rem 2rem;
            }
          }
          &.bg-07 {
            .h-top-con {
              display: none;
            }
            .h-contents {
              padding: 2.5rem 1.5rem 1rem 1.5rem;
            }
          }
        }
        &.h-type-default {
          padding: 2.5rem 2rem 0rem 2rem;
        }
      }
    }
  }
}
