.insight-level {
  &-root {
    .assets-total-box {
      display: flex;
      align-items: center;
      gap: 12px;
      span {
        display: block;
        &.total-price {
          font-size: var(--font-32);
          font-weight: 700;
          color: #000000;
        }
        &.percent {
          font-size: var(--font-16);
          font-weight: 500;
          color: #000;
          position: relative;
          &.up {
            color: #1eb98b;
            padding: 0 0 0 25px;
            &::before {
              content: "";
              width: 20px;
              height: 20px;
              background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/up-ico.svg)
                no-repeat center;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(0, -50%);
            }
          }
          &.dwn {
            color: #ee6368;
            padding: 0 0 0 25px;
            &::before {
              content: "";
              width: 20px;
              height: 18px;
              background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/dwn-ico.svg)
                no-repeat center;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translate(0, -50%);
            }
          }
        }
      }
    }
    .insight-level-grapth-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1.875rem;
      .insight-level-grapth {
        width: 253px;
        height: 186px;
        position: relative;
        transition: all 0.3s;
        margin-top: 1.25rem;
        &.level {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level.png)
            no-repeat center;
        }

        &.level1 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level01.png)
            no-repeat center;
        }
        &.level2 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level02.png)
            no-repeat center;
        }
        &.level3 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level03.png)
            no-repeat center;
        }
        &.level4 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level04.png)
            no-repeat center;
        }
        &.level5 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level05.png)
            no-repeat center;
        }
        &.level6 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level06.png)
            no-repeat center;
        }
        &.level7 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level07.png)
            no-repeat center;
        }
        &.level8 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level08.png)
            no-repeat center;
        }
        &.level9 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level09.png)
            no-repeat center;
        }
        &.level10 {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level10.png)
            no-repeat center;
        }
        &.empty {
          background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/insight-level.png)
            no-repeat center;
          .insight-level-txt {
            bottom: 60px;
            .flex-box {
              span.level-num {
                color: #9da3aa;
              }
              span.level-sub-num {
                display: none;
              }
            }
            .previous-year-txt {
              display: none;
            }
          }
        }
        .insight-level-txt {
          width: 100%;
          position: absolute;
          left: 50%;
          bottom: 30px;
          transform: translate(-50%, 0);
          &.none-year-txt {
            bottom: 60px;
          }
          .flex-box {
            display: flex;
            align-items: center;
            justify-content: center;
            span {
              display: block;
              &.level-num {
                color: #000;
                font-size: var(--font-32);
                font-weight: 700;
              }
              &.level-sub-num {
                color: #000;
                font-size: var(--font-16);
                font-weight: 500;
                letter-spacing: -0.16px;
                padding-left: 3px;
                display: flex;
                align-items: center;
                gap: 3px;
                em {
                  display: inline-block;
                  padding: 2px 0 0 0;
                }
                i {
                  display: inline-block;
                  position: relative;
                }
                &.up {
                  color: #1eb98b;
                }
                &.dwn {
                  color: #ee6368;
                }
              }
            }
          }
          .previous-year-txt {
            display: block;
            color: #333;
            font-size: var(--font-15);
            font-weight: 400;
            line-height: 20px;
            letter-spacing: -0.15px;
            text-align: center;
            padding-top: 10px;
          }
        }
        .grade-based {
          width: 100%;
          position: absolute;
          bottom: -25px;
          left: 0;
          display: flex;
          span {
            display: block;
            position: absolute;
            bottom: 0;
            left: 0;
            &.decrease-grade {
              left: -10px;
              color: var(--c-decrease);
            }
            &.excellent-grade {
              right: 0;
              left: auto;
              color: var(--c-excellent);
            }
          }
        }
      }
    }
  }
}

.grapth {
  &-root {
    .unit-flex-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1.25rem 0 0.625rem 0;
      .sub-tit {
        display: block;
        color: #000;
        font-size: var(--font-15);
        font-weight: 400;
        padding-left: 0.625rem;
        letter-spacing: -0.15px;
      }
    }

    .grapth-box {
      width: 100%;
      margin-top: 1.25rem;

      &.h188 {
        height: 188px;
      }
      &.h210 {
        height: 210px;
      }
      //empty grapth
      .empty-box {
        img {
          display: block;
          margin: 0 auto;
        }
        .empty-txt {
          display: block;
          font-size: var(--font-15);
          font-weight: 400;
          color: #000000;
          text-align: center;
          line-height: 23px;
          padding-top: 1.25rem;
        }
      }
    }

    .grapth-flex-box {
      display: flex;
      align-items: flex-start;
      &:has(.grapth-box) {
        .grapth-box {
          width: 58%;
          @media print {
            width: 58%;
          }
        }
      }
      .grapth-change-value {
        width: 42%;
        padding-left: 0.625rem;
        @media print {
          width: 42%;
        }
        .tit {
          display: block;
          color: #000;
          font-size: var(--font-15);
          font-weight: 400;
          letter-spacing: -0.15px;
          padding-bottom: 0.625rem;
        }
        p {
          display: flex;
          align-items: center;
          flex-flow: wrap;
          gap: 8px;
          span {
            display: block;
            &.num-percent {
              color: #000;
              font-size: var(--font-32);
              font-weight: 700;
              display: inline-block;
            }
            &.state {
              display: inline-block;
              height: 26px;
              padding: 4px 10px;
              border-radius: 16px;
              display: flex;
              justify-content: center;
              align-items: center;
              i {
                color: #fff;
                font-size: var(--font-14);
                font-weight: 700;
              }

              &.adequate {
                background: var(--c-adequate);
              }
              &.excellent {
                background: var(--c-excellent);
              }
              &.decrease {
                background: var(--c-decrease);
              }
              &.judgment {
                background: var(--c-judgment);
              }
              &.profitability {
                background: var(--c-profitability);
              }
              &.diagnosis {
                background: var(--c-diagnosis);
              }
            }
          }
        }
      }
    }

    .grade-title-box {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      margin-top: 16px;
      span {
        display: block;
        &.title {
          color: #000;
          font-size: var(--font-16);
          font-weight: 500;
          line-height: normal;
          letter-spacing: -0.16px;
          padding: 0 0 0 18px;
          position: relative;
          &::before {
            content: "";
            width: 8px;
            height: 8px;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
          }
          &.c-gray01 {
            &::before {
              background: var(--c-gray01);
            }
          }
          &.c-blue01 {
            &::before {
              background: var(--c-blue01);
            }
          }
        }
      }
    }
  }
  &-infor-root {
    .grapth-infor-box {
      padding-top: 1rem;
      &.pdt0 {
        padding-top: 0;
      }
      dt {
        display: flex;
        align-items: center;
        @media print {
          font-size: var(--font-13);
        }
        &.flow {
          flex-flow: wrap;
        }
        em {
          display: inline-block;
          &.ic {
            padding: 0.125rem 0.375rem 0 0;
          }
          &.bold {
            padding-right: 0.375rem;
            width: auto;
            &.default-w-116 {
              max-width: 116px;
            }
          }
        }
        .br {
          width: 100%;
          display: block;
          font-size: var(--font-15);
          font-weight: 400;
          color: #000000;
          padding: 0.313rem 0 0 1.65rem;
        }
      }
      dd {
        padding: 5px 0 0 22px;
        display: flex;
        align-items: flex-start;
        @media print {
          padding: 2px 0 0 22px;
        }
        span {
          display: block;
          position: relative;
          padding: 0 0 0 7px;
          font-size: var(--font-14);
          font-weight: 400;
          @media print {
            font-size: var(--font-13);
            letter-spacing: -0.2px;
          }
          &::before {
            content: "";
            width: 2px;
            height: 2px;
            background: #000000;
            border-radius: 100%;
            position: absolute;
            top: 50%;
            left: 0;
            transform: translate(0, -50%);
          }
          &.tit {
            min-width: 66px;
          }
          &.sub-t-list {
            line-height: 17px;
            padding: 0 0 0 0.188rem;
            &::before {
              content: none;
            }
            i {
              display: block;
            }
          }
        }
      }
    }
    .impor-txt {
      font-family: Pretendard;
      font-size: var(--font-14);
      font-weight: 400;
      letter-spacing: -0.7px;
      @media print {
        font-size: var(--font-13);
        letter-spacing: -0.14px;
      }
    }
    .grapth-df-infor-txt {
      display: flex;
      align-items: center;
      gap: 6px;
      &.pdb10 {
        padding-bottom: 0.625rem;
      }
      span {
        display: inline-block;
        &.txt {
          color: #696c71;
          font-size: var(--font-15);
          font-weight: 400;
          letter-spacing: -0.15px;
          @media print {
            font-size: var(--font-13);
          }
          br {
            @media print {
              display: none;
            }
          }
        }
      }
      &.align-top {
        align-items: flex-start;
      }
      &.mgt12 {
        margin-top: 0.75rem;
      }
    }
  }

  &-unit-title-root {
    display: flex;
    gap: 20px;
    &.center {
      justify-content: center;
      flex-flow: wrap;
      gap: 10px;
      width: 360px;
    }
    &.mgt30 {
      margin-top: 1.875rem;
    }
    span {
      display: block;
      color: #000;
      font-size: var(--font-16);
      font-weight: 400;
      position: relative;
      padding: 0 0 0 1.125rem;
      @media print {
        font-size: var(--font-15);
      }

      &::before {
        content: "";
        width: 8px;
        height: 8px;
        border-radius: 10px;
        border: 2px solid #7a8aa5;
        background: #fff;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
      &.c-blue01 {
        &::before {
          border: 2px solid #3f59d3;
        }
      }
      &.c-yellow01 {
        &::before {
          border: 2px solid #f1a400;
        }
      }
      &.c-pupple01 {
        &::before {
          border: 2px solid #6050d8;
        }
      }

      &.type02 {
        &::before {
          content: "";
          width: 8px;
          height: 8px;
          border-radius: 10px;
          background: #7a8aa5;
          border: none;
        }
        &.c-blue01 {
          &::before {
            content: "";
            background: #3c55d2;
          }
        }
        &.c-blue02 {
          &::before {
            content: "";
            background: #4682eb;
          }
        }

        &.c-pupple01 {
          &::before {
            content: "";
            background: #3f59d3;
          }
        }

        &.c-green01 {
          &::before {
            content: "";
            background: #10aec5;
          }
        }
        &.c-green02 {
          &::before {
            content: "";
            background: #54b879;
          }
        }
        &.c-yellow01 {
          &::before {
            content: "";
            background: #e8c257;
            border: none;
          }
        }
        &.c-gray01 {
          &::before {
            content: "";
            background: #8697b5;
          }
        }
        &.c-custome {
          &::before {
            content: "";
            background: var(--c-color, #7a8aa5);
          }
        }
      }
      em {
        display: inline-block;
        color: #696c71;
        font-size: var(--font-16);
        font-weight: 500;
        letter-spacing: -0.16px;
        padding: 0 0 0 0.313rem;
      }
    }
  }

  &-blue-bg-box {
    width: 100%;
    background: #e6f0ff;
    padding: 1.875rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    margin-top: 60px;
    @media print {
      margin-top: 50px;
    }
    .grapth-unit-title-root {
      width: 100%;
      span {
        display: flex;
        em {
          display: inline-block;
          &.company-tit {
            color: #000;
          }
        }
      }
    }
  }

  &-blue-bgno-box {
    width: 100%;
    padding: 1.875rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
  }

  &-empty-root {
    span {
      display: block;
      &.empty-ico {
        width: 80px;
        height: 80px;
        background: url(/static/crediview/crediview-w/image/views/aireport-v2/page/empty-ico.png)
          no-repeat center;
        margin: 0 auto;
      }
      &.empty-txt {
        color: #333;
        text-align: center;
        font-size: var(--font-15);
        font-weight: 400;
        letter-spacing: -0.15px;
        padding: 1.25rem 0 0 0;
      }
      &.desc {
        color: #333;
        font-size: var(--font-12);
        font-weight: 400;
        line-height: 140%; /* 16.8px */
        letter-spacing: -0.12px;
        padding: 0.625rem 0 0 0.425rem;
        text-align: center;
        position: relative;
        &::before {
          content: "";
          width: 2px;
          height: 2px;
          background: #000;
          aspect-ratio: 1/1;
          border-radius: 100%;
          position: absolute;
          top: 15px;
          left: 0;
        }
      }
    }
  }

  @media print {
    .grapth {
      &-infor-root {
        .grapth-infor-box {
          padding-top: 0.425rem;
          dt {
            font-size: var(--font-13);
            letter-spacing: -0.8px;
            .br {
              letter-spacing: -0.6px;
            }
          }
        }
      }
    }
  }
}
