.SOLCheck-root {
  display: flex;
  align-items: center;
  gap: 20px;
  min-height: 2em;
  line-height: 18px;
  font-size: var(--font-14);
  &.mgt-15 {
    margin-top: 15px;
  }

  &.s--lg {
    font-size: var(--font-16);
    line-height: 24px;

    .SOLCheck-label {
      gap: 10px;

      [type="checkbox"] {
        width: 24px;
        height: 24px;

        &::after {
          width: 8px;
          height: 11px;
        }
      }
    }
  }

  &.s--sm {
    font-size: var(--font-13);
  }

  .SOLText-note {
    display: block;
  }

  &.agreement {
    .SOLCheck-label {
      [type="checkbox"] {
        border-radius: 100%;
      }
    }
  }
}

table .SOLCheck-root {
  display: inline-flex;
}

.members-loginbox,
.SOLCheck-root.t--terms {
  input[type="checkbox"] {
    border-radius: 50%;
    background-color: #fff;
  }
}

.SOLCheck-label {
  display: inline-flex;
  align-items: center;
  gap: 6px;

  [type="checkbox"] {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid rgba(10, 43, 88, 0.1);
    border-radius: 3px;
    background-color: var(--c-bg);
    color: var(--c-disabled);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      // width: 10px;
      // height: 7px;
      // border-left: 2px solid currentColor;
      // border-bottom: 2px solid currentColor;
      // margin-top: -1px;
      // border-radius: 1px;
      width: 10px;
      height: 8px;
      background: url(/static/techfin-hompage/techfin-w/image/icon/check-ico.png) no-repeat
        center center;
    }

    &:checked {
      border-color: transparent;
      background-color: var(--c-active) !important;
      &::after {
        color: #fff;
        background: url(/static/techfin-hompage/techfin-w/image/icon/checked-ico.png)
          no-repeat center center;
      }

      &:disabled {
        background-color: var(--c-disabled) !important;
      }
    }

    &:hover,
    &:hover + span {
      cursor: pointer;
    }

    &:disabled,
    &:disabled + span {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:disabled {
      background-color: #f5f5f5;
    }
  }
  span {
    em.impor {
      display: inline-block;
      font-weight: 400;
      color: #fc5356;
      padding: 0 0 0 3px;
    }
  }
}
