.TMBtn-root {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  height: var(--form-h);
  min-height: var(--form-h);
  padding: 0 var(--form-pd);
  border-radius: var(--form-round);
  border: 1px solid rgba(10, 43, 88, 0.18);
  background-color: #fff;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--fc-default);
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  transition: color 0.2s, background-color 0.2s;

  &:focus,
  &:active {
    background-color: var(--form-c-bg-dis);
  }

  &:disabled,
  &.disabled {
    background-color: var(--form-c-bg-dis);
    color: rgba(55, 56, 60, 0.28);
    border-color: rgba(112, 115, 124, 0.28);
    box-shadow: none;
  }

  // type
  &.t {
    &--contained {
      background-color: var(--c-active);
      color: #fff;
      font-weight: 400;
      border: 0;
      box-shadow: none;

      &:focus,
      &:active {
        background-color: #365ecd;
      }
      &.focus {
        background-color: #365ecd;
      }

      &:disabled,
      &.disabled {
        opacity: 0.25;
      }

      &.c--dark {
        height: 48px;
        background-color: #222;
        border-radius: 8px;
      }
    }

    &--outlined {
      color: var(--c-active);
      border-color: currentColor;
      box-shadow: none;

      &:disabled,
      &.disabled {
        background-color: transparent;
        border: 1px solid rgba(10, 43, 88, 0.1);
        color: rgba(55, 56, 60, 0.28);
      }

      &:focus,
      &:active {
        background-color: var(--bc-hover);
      }
    }

    &--inverse {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent;
      color: #fff;

      &:focus,
      &:active {
        background-color: rgba(255, 255, 255, 0.05);
      }

      &:disabled,
      &.disabled {
        opacity: 0.4;
      }
    }
  }

  // icon only
  &.t--icon {
    padding: 0;
    width: var(--form-h);
  }

  // size
  &.s {
    &--lg {
      height: 48px;
      min-height: 48px;
      font-size: 16px;
    }

    &--sm {
      height: 30px;
      min-height: 30px;
      padding: 0 10px;
      font-size: 13px;
    }

    &--xl {
      height: 56px;
      font-size: 16px;
      font-weight: 700;
    }
  }

  //width
  &.w {
    &--full {
      width: 100%;
      flex: 1 1;
      // &:only-child { width: 100% }
    }
    &--grow {
      flex: 1 0 auto;
    }
  }

  &.bottom {
    border: none;
  }

  &.add-btn {
    position: relative;
    padding: 0 1em 0 34px;
    &::before {
      content: '+';
      font-size: 28px;
      font-weight: 100;
      position: absolute;
      top: 44%;
      transform: translate(0, -50%);
      left: 12px;
    }
  }
}

.TMIconBtn-root {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  height: 2rem;
  min-width: 40px;
  min-height: 40px;
  padding: 0 0.5em;
  border-radius: var(--form-round);
  border: 0;
  background-color: transparent;
  font-size: 14px;
  white-space: nowrap;
  transition: color 0.2s, background-color 0.2s;
  color: inherit;

  &.s {
    &--lg {
      font-size: 16px;
    }
  }

  &.c {
    &--dark {
      color: var(--fc-default);
    }
    &--light {
      color: var(--fc-gray);
    }
  }

  &.t--card {
    width: 22px !important;
    height: 22px !important;
    min-width: unset;
    min-height: unset;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: var(--fc-gray);

    .TMIcon-root {
      &::after {
        width: 7px;
        height: 7px;
      }
    }
  }

  // &:focus,
  // &:active {
  //   color: var(--fc-default);
  // }

  // &:hover:not(:disabled),
  // &:focus {
  //     color: rgba(77,124,254,0.1)
  // }

  &:disabled,
  &.disabled {
    color: rgba(34, 34, 34, 0.4);
    cursor: not-allowed;
  }

  i + i {
    margin-left: -15px;
  }
}

.loginbox-terms-list .TMIconBtn-root {
  min-height: unset;
}

.TMCard-item.t--submit {
  .TMIconBtn-root.t--card {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.2);
    border-color: rgba(255, 255, 255, 0.2);
  }
}

.TMTextBtn-root {
  height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 13px;
  text-decoration: underline;
  color: var(--fc-gray);
  transition: color 0.2s, background-color 0.2s;
  white-space: nowrap;
  font-weight: 500;

  &:focus,
  &:active {
    color: var(--fc-default);
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:disabled,
  &.disabled {
    opacity: 0.4;
  }

  &.t {
    &--action {
      color: var(--c-active);

      &:focus,
      &:active {
        color: var(--c-active);
        background-color: var(--bc-hover);
      }
    }
    &--inverse {
      color: #fff;

      &:focus,
      &:active {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &.s {
    &--sm {
      font-size: 12px;
    }

    &--lg {
      font-size: 15px;
      text-decoration: none;
    }
  }

  &.w--full {
    width: 100%;
  }

  &.s--noline {
    font-size: 12px;
    text-decoration: none;
    font-weight: 600;
  }

  em {
    font-weight: 600;
  }
}

.TMGroupBtn-root {
  display: flex;
  padding: 4px;
  border-radius: 8px;
  background-color: #f5f6f9;

  button {
    flex: 1 0 auto;
    height: 36px;
    border-radius: 6px;
    font-size: 14px;
    color: var(--fc-gray);
    font-weight: 500;
    transition: 0.2s;

    &.st--active {
      background-color: #fff;
      color: var(--c-active);
      box-shadow: 0px 1px 4px 0px #00000012;
    }
  }
}
