.TMCheck-root {
  display: flex;
  align-items: center;
  gap: 20px;
  text-align: left;
  flex-wrap: wrap;
  min-height: 2em;
  line-height: 1.4;
  font-size: 14px;
  word-break: keep-all;
}

.TMCheck-label {
  position: relative;
  display: inline-flex;
  // align-items: center;
  gap: 6px;

  [type='checkbox'] {
    appearance: none;
    flex-shrink: 0;
    position: relative;
    width: 18px;
    height: 18px;
    border: 1px solid var(--c-border);
    border-radius: 3px;
    background-color: #fff;
    color: var(--c-disabled);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      width: 6px;
      height: 9px;
      border-right: 2px solid currentColor;
      border-bottom: 2px solid currentColor;
      margin-top: -1px;
      border-radius: 1px;
      color: transparent
    }

    &:checked {
      border-color: transparent;
      background-color: var(--c-component);
      &::after {
        color: #fff;
      }

      &:disabled {
        background-color: var(--c-disabled) !important;
      }
    }

    &:disabled,
    &:disabled + span {
      opacity: 0.7;
      cursor: not-allowed;
    }

    &:disabled {
      background-color: #f5f5f5;
    }
  }
}

.TMCheck-root {
  &.t--terms {
    font-size: 16px;
    font-weight: 500;

    .TMCheck-label {
      gap: 10px;
    }

    [type='checkbox'] {
      border-radius: 50%;
    }

    small {
      font-size: 14px;
      font-weight: 600;
    }
  }

  &.t--column {
    flex-direction: column;
    align-items: stretch;
    margin-bottom: 24px;
    padding-left: 4px;

    .TMCheck-label {
      gap: 15px
    }
  }
}

table .TMCheck-root {
  display: inline-flex;
}
