.TMSnackbar-root {
  z-index: 1003;
  position: fixed;
  inset: auto 0 0;
  display: none;
  &.show {
    display: block;
  }
}

.TMSnackbar-backdrop {
  @include backdrop;
  position: fixed;
  inset: 0;
}

.TMSnackbar-box {
  position: absolute;
  inset: auto 0 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: calc(100svh - 50px);
  background-color: #fff;
  border-radius: 16px 16px 0 0;
  box-shadow: 0px -2px 12px 0px rgba(0, 0, 0, 0.07);
  word-break: keep-all;
  animation: snackIn 0.8s 0.2s var(--ease) both;
}

.TMSnackbar-header {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-height: 69px;
  padding: 24px var(--spc-w);
  border-radius: 16px 16px 0 0;
  background-color: #fff;
  font-size: 12px;
  color: var(--fc-gray);
  line-height: 1.3;
}

.TMSnackbar-close {
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  color: var(--fc-default);
}

.TMSnackbar-body {
  flex-grow: 1;
  overflow-y: auto;
}

.TMSnackbar-cont {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px var(--spc-w);
}

.TMSnackbar-footer {
  z-index: 99;
  position: sticky;
  bottom: 0;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 24px var(--spc-w);
  box-shadow: 0px -2px 12px 0px #00000012;
}
