.mypage-menulist {
  li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 5px 0;
    font-size: var(--font-15);
  }

  .SOLIconBtn-root {
    font-size: inherit;

    .SOLIcon-root {
      width: 1em;
    }
  }

  .disabled {
    color: var(--fc-gray2);
  }

  .label {
    display: inline-flex;
    align-items: center;
    gap: 8px;
  }
}

.mypage-coupon-list {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-size: var(--font-16);

  li {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 20px;
    border: 1px solid var(--tb-border);
    border-radius: 12px;
    background-color: #fff;

    .sort {
      display: flex;
      align-items: center;
      gap: 6px;
      font-size: var(--font-12);
    }

    .date {
      display: flex;
      align-items: center;
      gap: 8px;
      margin: 10px 0 -3px;
      border-top: 1px dashed var(--tb-border);
      padding-top: 16px;
      font-size: var(--font-12);
      color: var(--fc-gray1);

      & > * {
        display: inline-flex;
        align-items: center;
        height: 10px;
        &:not(:first-child) {
          padding-left: 8px;
          border-left: 1px solid #d8dbe2;
        }
      }
    }

    .title {
      position: relative;
      font-weight: 700;
    }

    .SOLIconBtn-root {
      position: absolute;
      top: 50%;
      right: -20px;
      width: 60px;
      height: 60px;
      transform: translateY(-50%);
      color: #95989b;
    }
  }

  .active {
    border-color: var(--c-component);
    box-shadow: 0px 3px 12px 0px rgba(55, 29, 110, 0.07);
  }

  .disabled {
    border-color: transparent;

    .date,
    .sort {
      opacity: 0.5;
    }
    .title {
      color: rgba(34, 34, 34, 0.4);
    }
    .SOLLabel-root {
      background-color: #929292;
    }
  }

  .SOLTable-small {
    th,
    td {
      height: 20px;
      padding-top: 0;
      padding-bottom: 0;
      font-weight: 400;
    }
  }
}

.mypage-terms-list {
  margin-bottom: 10px;
  .list-item {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-top: 1px solid var(--tb-border);
    padding: 22px 0;
    word-break: keep-all;
  }

  .code {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: var(--font-12);
    color: var(--fc-gray2);

    & > * {
      display: inline-flex;
      align-items: center;
      height: 10px;
      &:not(:first-child) {
        padding-left: 8px;
        border-left: 1px solid #d8dbe2;
      }
    }
  }

  .tit {
    font-size: var(--font-15);
    font-weight: 700;
  }

  .state {
    font-size: var(--font-12);
    font-weight: 600
  }
}

.mypage-member-list {
  .list-item {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom: 1px solid var(--tb-border);
    padding-bottom: 20px;
    margin-top: 20px;
    font-size: var(--font-15);

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      // padding-bottom: 0;
      border-bottom: 0;
    }
  }

  .SOLLabel-root {
    position: absolute;
    // top: -2px;
    right: 0;
  }

  .SOLSelect-root {
    margin-top: 4px;
  }

  .disabled {
    color: var(--fc-gray2);
  }

  .time {
    font-size: var(--font-12);
    color: var(--fc-gray2);
    padding-right: 8px;
  }

  .tit {
    font-size: var(--font-15);
    font-weight: 700;
  }

  .SOLTable-small th,
  .SOLTable-small td {
    height: 24px;
    padding: 0;
  }

  .SOLTable-small td {
    font-weight: 500;
  }

  .list-btns {
    display: flex;
    gap: 8px;
    margin-top: 12px;
  }

  .list-detail {
    display: flex;
    justify-content: space-between;
    border-left: 1px solid var(--tb-border);

    .SOLTable-small th {
      width: auto;
      padding: 0 12px;
    }
    .SOLTable-small td {
      width: 90%;
      font-size: var(--font-13);
    }
    .SOLIconBtn-root {
      height: 30px;
      align-self: flex-start;
    }
  }
}

.mypage-email-list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid var(--tb-border);
  border-bottom: 1px solid var(--tb-border);
  padding: 8px 0;

  .list-item {
    min-height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 0;
  }

  .icon {
    padding-left: 28px;
    background: url(../image/icon/ic_email.svg) no-repeat left center;
    word-break: break-all;
  }

  .SOLIconBtn-root {
    min-height: 30px;
  }
}

.mypage-switchlist {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.mypage-switchlist-terms {
  display: flex;
  justify-content: space-between;
}

.mypage-accountlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: -6px 0;
  min-height: 30px;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:first-of-type) {
      padding-top: 12px;
      margin-top: 12px;
      border-top: 1px solid var(--tb-border);
    }
  }

  .utils {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: var(--font-13);
  }
}

.mypage-header {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-top: 6px;
}
