@media all and (min-width: 768px) {
  .intro-root {
    .intro-container {
      .sec-two {
        .con {
          .img {
            img {
              width: auto;
            }
          }
        }
      }
    }
  }
}

@include mobile {
  .intro-root .intro-container .sec-two .bottom-bn .txt {
    width: 100%;
  }

  .intro-root .intro-container .credit-get-sec02 .bt-bn .tit {
    width: 100%;
  }

  .intro-root
    .intro-container
    .credit-get-sec03
    .con
    .get-sec03-swiper-wrapper
    .get-sec03-swiper {
    width: 100%;
  }

  .intro-root .intro-container .credit-get-sec03 .con .price-box .box {
    width: 100%;
  }

  .intro-root .intro-container .credit-get-sec03 .con .infor-list {
    width: 100%;
  }

  .intro-root .intro-container .sec-two .con .history-list-box {
    width: 100%;
  }

  .intro-root
    .intro-container
    .sec-fifth
    .con
    .intro-fifth-swiper-wrapper
    .intro-fifth-swiper
    .swiper-wrapper
    .swiper-slide
    .bn-content
    .hash-tag-box
    .wrap {
    justify-content: flex-start;
  }

  .intro-root
    .intro-container
    .sec-fifth
    .con
    .intro-fifth-swiper-wrapper
    .intro-fifth-swiper {
    width: 100%;
  }
}

@include mobile-w360 {
  .intro-root .intro-container .sec-two .bottom-bn .txt {
    width: 100%;
  }

  .intro-root .intro-container .credit-get-sec02 .bt-bn .tit {
    width: 100%;
  }

  .intro-root
    .intro-container
    .credit-get-sec03
    .con
    .get-sec03-swiper-wrapper
    .get-sec03-swiper {
    width: 100%;
  }

  .intro-root .intro-container .credit-get-sec03 .con .price-box .box {
    width: 100%;
  }

  .intro-root .intro-container .credit-get-sec03 .con .infor-list {
    width: 100%;
  }

  .intro-root .intro-container .sec-two .con .history-list-box {
    width: 100%;
  }

  .intro-root
    .intro-container
    .sec-fifth
    .con
    .intro-fifth-swiper-wrapper
    .intro-fifth-swiper
    .swiper-wrapper
    .swiper-slide
    .bn-content
    .hash-tag-box
    .wrap {
    justify-content: flex-start;
  }

  .intro-root
    .intro-container
    .sec-fifth
    .con
    .intro-fifth-swiper-wrapper
    .intro-fifth-swiper {
    width: 100%;
  }
}
