.SOLTable-small {
  width: 100%;
  min-height: 50px;

  th {
    width: 100px;
    height: 28px;
    padding: 4px 20px 4px 0;
    vertical-align: middle;
    font-size: var(--font-13);
    color: var(--fc-gray2);
    font-weight: 400;
    text-align: left;
    white-space: nowrap;
    line-height: 20px;
  }

  td {
    min-height: 28px;
    padding-top: 4px;
    padding-bottom: 4px;
    vertical-align: middle;
    font-size: var(--font-14);
    font-weight: 600;
    text-align: left;
    line-height: 1.5;

    & > * {
      vertical-align: middle;
    }
  }

  em {
    color: var(--c-active);
  }

  .SOLIconBtn-root {
    min-height: 28px;
  }

  &.t--list {
    th {
      padding-left: 8px;
      &::before {
        content: '·';
        padding-right: 4px;
      }
    }
    td {
      padding-right: 8px;
    }
  }

  &.t--coupon {
    th {
      line-height: 26px;
    }
    td {
      min-height: 38px;
      font-weight: 500;
    }
  }

  &.t--mypage td {
    text-align: right;
    em {
      color: inherit;
    }
  }

  &.t--account td {
    text-align: right;
    height: 38px;
    font-weight: 500;

    em {
      color: inherit;
    }
  }

  &.t--report {
    td {
      font-weight: 400;
    }
    em {
      color: inherit;
    }
  }

  &.s--lg {
    th {
      font-size: var(--font-14);
    }
    td {
      font-size: var(--font-15);
    }
  }

  &.t--notify {
    th {
      width: 50px;
      padding-right: 0;
    }
    th,
    td {
      height: 20px;
      min-height: 20px;
    }
  }
}

.service-result-box {
  .SOLTable-small {
    min-width: 280px;
    white-space: nowrap;

    th,
    td {
      padding-top: 0;
      padding-bottom: 0;
    }

    em {
      color: inherit;
    }

    .c--success,
    .c--active,
    .c--disabled {
      font-weight: 700;
    }

    .desc {
      white-space: wrap;
      word-break: keep-all;
    }
  }
}
