.SOLFilter-root {
    display: flex;
    gap: 8px;
    margin: 16px 0;

    &.s--lg {
        margin-bottom: 20px;

        .SOLFilter-btn {
            min-width: 70px;
            height: 42px;
            padding: 5px 14px;
            border-radius: 8px;
            font-size: var(--font-15);
            border: 1px solid rgba(10,43,88,0.18);
            background-color: #fff;

            &:hover { background-color: #e9eff3 }
        
            &.st--active {
                border-color: transparent;
                background-color: #222;
                color: #fff
            }
        }
    }
}

.SOLFilter-swiper {
    position: relative;
    flex-grow: 1;
    overflow: hidden;
    display: flex;
    transition: flex .2s;

    &.p--end { justify-content: flex-end }
}

.SOLFilter-wrap {
    display: flex;
    gap: 8px;
}

.SOLFilter-btn {
    height: 32px;
    padding: 5px 12px;
    border-radius: 2em;
    background-color: var(--c-bg);
    font-size: var(--font-13);
    line-height: 1.2;
    white-space: nowrap;
    transition: background-color .3s, color .3s;

    &:hover { background-color: #e9eff3 }

    &.st--active {
        background-color: #222;
        color: #fff
    }
}

.SOLFilter-navi {
    z-index: 1;
    position: relative;
    flex-shrink: 0;
    display: flex;
    gap: 4px;
    margin-left: auto
}

.SOLFilter-navi-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid #e4e7ec;
    transition: background-color .2s;

    &:hover { background-color: #f9fafb }
}