.SOLTab-root {
  &.ps-relative {
    position: relative;
  }
}

.SOLTab-menu {
  display: flex;
  gap: 32px;
  border-bottom: 1px solid var(--tb-border);
  &.f--lg {
    .SOLTab-btn {
      font-size: var(--font-20);
    }
  }
}

.SOLTab-btn {
  position: relative;
  height: 48px;
  padding-bottom: 6px;
  font-size: var(--font-18);
  color: var(--fc-gray2);
  font-weight: 700;
  transition: border-color 0.3s, color 0.3s;

  &:not(:first-child) {
    margin-left: -1px;
  }

  &.st--active {
    z-index: 1;
    color: #222;

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    border-bottom: 2px solid currentColor;
    transform: translateX(-50%);
    transition: width 0.3s var(--ease);
  }
}

.SOLTab-container {
  margin-top: 30px;
}

.SOLTab-content {
  overflow: hidden;
  height: 0;

  &.st--active {
    height: auto;
    overflow: visible;
  }

  .SOLFilter-root {
    margin-top: 0;
  }
}
