.SOLLabel-root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  min-width: 53px;
  height: 24px;
  padding: 0 10px;
  border-radius: 1.85em;
  border: 1px solid rgba(56, 105, 252, 1);
  font-size: var(--font-13);
  font-weight: 700;
  overflow: hidden;
  color: rgba(56, 105, 252, 1);
  white-space: nowrap;
  &.pupple-type {
    border: 1px solid rgba(128, 56, 252, 1);
    color: rgba(128, 56, 252, 1);
  }

  &.t--contained {
    border: 0;
    color: #fff !important;
    background-color: #ced4da;

    &::before {
      content: none;
    }

    &.c--success {
      background-color: var(--c-success);
    }
  }
  &.s--lg {
    min-width: 72px;
    height: 31px;
    font-size: var(--font-18);
    font-weight: 700;
  }
}
