.no-touch-action {
  overflow: hidden;
  touch-action: none;
}

.SOLFullpage-root {
  @extend .console-root;
  z-index: 1003;
  position: fixed;
  inset: 0;
  overflow-y: auto;

  .SOLFullpage-container {
    // padding-top: var(--header-h);
    padding-top: 0
  }
}

.SOLFullpage-header {
  flex-shrink: 0;
  z-index: 99;
  // position: fixed;
  // inset: 0 0 auto;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  min-height: var(--header-h);
  padding: 20px 55px 20px var(--spc-w);
  background-color: #fff;

  .SOLTitle-t2 {
    line-height: 1.2;
  }

  .SOLIconBtn-root {
    position: absolute;
    top: 9px;
    right: 12px;
  }
}

.SOLFullpage-container {
  @extend .console-container;
}

.SOLFullpage-contents {
  padding: 0 var(--spc-w);
}

.SOLFullpage-footer {
  @extend .console-footer;

  .footer-btns {
    @extend .console-footer-btns;
  }

  &:not(:has(.footer-btns)) {
    .footer-topBtn {
      top: auto;
      bottom: 20px;

      &.show {
        top: auto;
      }
    }
  }
}

.loginbox-wrap {
  position: relative;
  padding: 16px var(--spc-w) 0;

  .service-result {
    padding-top: 65px;
  }
}

.loginbox-inputs {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &:not(:first-child) {
    margin-top: 30px;
  }
}

.loginbox-inputs-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.SOLFullpage-progress {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  height: 6px;
  background-color: #f8fafa;
  display: flex;
  align-items: stretch;
}

.SOLFullpage-progress-bar {
  background-color: var(--c-component);
  transition: width 0.2s;
}

.SOLTerms-root {
  display: flex;
  flex-direction: column;
  gap: 0.6em;
  font-size: var(--font-15);
  line-height: 1.4;

  h3:not(:first-of-type) {
    margin-top: 1em;
  }
  h4 {
    font-weight: 500;
  }

  small {
    font-size: var(--font-12);
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 10px solid #f8f9fa;
    background-color: #f8f9fa;
    font-size: var(--font-14);
    font-weight: 500;

    th {
      width: 30%;
      min-width: 110px;
      padding: 0 10px;
      font-size: var(--font-13);
      color: #9b9ba0;
      font-weight: 400;
      text-align: left;
    }

    td {
      padding: 5px;
    }
  }
}
