.SOLToast-root {
  z-index: 1005;
  position: fixed;
  inset: auto var(--spc-w) 34px;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: flex-end;
  gap: 24px;
}

.SOLToast-backdrop {
  @include backdrop;
  position: fixed;
  inset: 0;
}

.SOLToast-box {
  position: relative;
  display: flex;
  gap: 24px;
  width: 100%;
  max-width: 768px;
  min-height: 52px;
  padding: 14px 24px;
  background-color: #283556;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  color: #fff;
  word-break: keep-all;
  // animation: toastIn .8s .2s var(--ease) both, toastOut .4s 3s var(--ease) both;
  animation: toastIn 0.8s 0.2s var(--ease) both;

  &.c--error {
    background-color: #ffeded;
    color: var(--fc-default);

    .SOLToast-icon::before {
      content: "!";
      background: #fc5356;
      color: #fff;
    }
  }
}

.SOLToast-icon {
  display: flex;
  align-items: center;

  &::before {
    content: "";
    flex-shrink: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: #fff url(../image/icon/ic_info.svg) no-repeat center
      center / 5px;
    color: #283556;
    margin-right: 10px;
    font-size: 10px;
  }
}
