.SOLLabel-root {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 54px;
    height: 1.85em;
    padding: 0 10px;
    border-radius: 1.85em;
    border: 1px solid currentColor;
    font-size: var(--font-13);
    font-weight: 700;
    overflow: hidden;
    color: #797a88;
    white-space: nowrap;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: currentColor;
        opacity: 0.05;
    }

    &.t--contained {
        border: 0;
        color: #fff !important;        
        background-color: #ced4da;

        &::before {
           content: none;
        }

        &.c--success {
            background-color: var(--c-success);
        }
    }
}