.SOLSwitch-root {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    line-height: 2;
    font-size: var(--font-14);
    white-space: nowrap;
    
    [type="checkbox"] {
        appearance: none;
        flex-shrink: 0;
        position: relative;
        width: 56px;
        height: 24px;
        border: 0;
        border-radius: 24px;
        background-color: #c6cbd1;
        color: var(--c-disabled);
        transition: background-color .2s;

        &::before {
            content: 'OFF';
            position: absolute;
            top: 3px;
            left: 20px;
            z-index: 2;
            color: #fff;
            font-size: var(--font-13);
            font-weight: 600;
            width: 34px;
            height: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            left: 2px;
            transform: translateY(-50%);
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: #fff;
            transition: left .2s;
        }

        &:checked {
            background-color: var(--c-active);
    
            &::after {
                left: 34px
            }

            &::before {
                content: 'ON';
                left: 2px;
            }
        }

        &:hover,
        &:hover + span {
            cursor: pointer
        }

        &:disabled,
        &:disabled + span {
            opacity: 0.7;
            cursor: not-allowed;
        }
    }
    
    &.t--appr {
        [type="checkbox"] {
            &::before {
                content: '거절';
            }

            &:checked {
                &::before {
                    content: '승인';
                }
            }
        }
    }
}

.SOLSwitch-label {
    display: inline-flex;
    align-items: center;
    gap: 0 0.2em
}