.SOLTextarea-root {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: var(--font-14);
  line-height: 1.4;
  overflow: hidden;
}

.SOLTextarea-field {
  flex-grow: 1;
  display: block;
  resize: none;
  @include formStyle;
  height: auto;
  padding: 8px var(--form-pd);
  &.c--error {
    border-color: var(--c-error);
  }
}
