.board-root {
}

.board-header {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1em;
  padding-bottom: 36px;

  .sort {
    color: var(--c-primary);
    font-weight: 700;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
  }

  .date {
    display: flex;
    align-items: center;
    color: var(--c-gray2);

    & > * {
      display: inline-flex;
      align-items: center;
      height: 12px;

      &:not(:first-child) {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid #d4d4d9;
      }
    }
  }

  .label-comm {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.board-file {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1.5em;
  gap: 0.7em 1em;
  font-size: 13px;
}

.board-file-item {
  flex: 1;
  display: inline-flex;
  align-items: center;
  gap: 0.4em;
  min-width: calc(50% - 1em);
  overflow: hidden;

  a {
    display: inline-flex;
    align-items: center;
    gap: 0.4em;
    min-width: 0;
    color: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  small {
    flex-shrink: 0;
    color: var(--c-gray2);
    text-transform: uppercase;
  }
}

.board-file-root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  .btn-text {
    height: 33px;
  }
}

.board-file-list {
  display: flex;
  flex-wrap: wrap;
  gap: 4px 8px;
  color: var(--c-gray2);
  font-size: 13px;

  &:not(:last-child) {
    margin-bottom: 8px;
  }

  li {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  a {
    display: flex;
    align-items: center;
    gap: 6px;
    color: var(--c-black);
    font-weight: 500;

    &:hover {
      text-decoration: underline;
    }
  }

  .btn-icon {
    width: 32px;
    height: 18px;

    .i--close.s--sm {
      opacity: 1;
    }
  }
}

.board-body {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding: 40px 0 80px;

  border-top: 1px solid var(--c-border);
  font-size: 16px;
  line-height: 1.5;

  img {
    display: block;
    max-width: 100%;
    // margin: 10px auto;
  }
}

.board-navi {
  padding-top: 30px;
  border-top: 1px solid var(--c-border2);
  white-space: nowrap;
}

.board-navi-item {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 16px;
  border-top: 1px solid var(--c-border2);
  color: var(--c-gray2);
  line-height: 1.6;
  color: #666;
  font-size: 14px;

  .navi-prev,
  .navi-next {
    flex-shrink: 0;
    position: relative;
    padding-right: 2em;
    color: var(--c-black);
    font-weight: 700;

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      margin-top: -3px;
      border-style: solid;
      border-color: transparent transparent var(--c-primary) transparent;
      border-width: 7px 5px;
      border-radius: 2px;
    }
  }

  .navi-next::after {
    transform: scaleY(-1);
  }

  .title {
    flex: 1;
    display: flex;
    align-items: center;
    max-width: 500px;
    padding-left: 1em;

    // border-left: 1px solid var(--c-border);
  }

  .date {
    flex-shrink: 0;
    margin-left: auto;
    color: var(--c-gray2);
  }

  a {
    display: flex;
    align-items: center;
    color: var(--c-black);
  }
}

.board-footer {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 30px;
  padding-top: 30px;
  margin-bottom: 30px;
  border-top: 1px solid var(--c-border);
}

.board-term {
  display: flex;
  align-items: center;
  gap: 8px;

  .radiocheck-root,
  .radiochk-root {
    font-size: 16px;
  }
}

.board-reply {
  padding: 20px;
  border-radius: 12px;
  background-color: var(--c-bg);
}

.board-reply-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;

  .title {
    font-size: 16px;
    font-weight: 700;
  }

  .date {
    display: flex;
    align-items: center;
    color: var(--c-gray2);

    & > * {
      display: inline-flex;
      align-items: center;
      height: 12px;

      &:not(:first-child) {
        margin-left: 8px;
        padding-left: 8px;
        border-left: 1px solid #d4d4d9;
      }
    }
  }
}

.board-reply-body {
  display: flex;
  flex-direction: column;
  gap: 28px;
  padding-top: 24px;
  margin-top: 24px;
  border-top: 1px solid var(--c-border);
  font-size: 16px;
  line-height: 1.5;
}


