.explore-container {
  position: relative;
  flex-grow: 1;
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.explore-contents {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-self: stretch;

  .cont-headline-sub {
    margin-top: 0;
  }
}

.explore-filter.v1 {
  flex-direction: row;
  gap: 24px;
  padding: 0
}

.explore-filter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px;

  .cont-headline-sub {
    margin-top: 20px;
  }
}

.explore-filter-item {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;

  .tag {
    display: inline-flex;
    align-items: center;
    height: 24px;
    padding: 0 8px;
    border-radius: 4px;
    border: 1px solid #d4d4d9;
    background-color: #fff;
    font-size: 13px;
    font-weight: 500;
    transition:
      background-color 0.2s,
      border-color 0.2s,
      color 0.2s;
    cursor: pointer;

    &.ac--active {
      color: var(--c-primary);
      border-color: #7d98ff;
      background-color: #f0f4ff;
    }

    &:hover {
      color: var(--c-primary);
      border-color: #7d98ff;
      background-color: #d8e0ff;
    }
  }
}

///////////////////////////// PANEL
.explore-scroll-wrap {
  position: relative;
  flex-grow: 1;
}

.explore-panel-scroll {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  margin-right: -20px;
  padding-right: 14px;
  overflow-y: scroll;
}

.explore-panel {
  position: sticky;
  top: 32px;
  margin-bottom: -16px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 320px;
  min-height: calc(100vh - 260px);
  // min-height: calc(100vh - 72px);
  max-height: 839px;
  padding: 8px 20px 20px;
  border-radius: 12px;
  border: 1px solid #d4d4d9;
  box-shadow: 8px 12px 30px 0px #00000005;
  background-color: var(--c-bg);

  ::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }

  .company-list,
  .template-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .tabmenu-filter {
    margin: 0;
  }

  .tabmenu-content {
    gap: 16px;
  }

  .switch-root {
    align-self: start;
  }

  .textfield-root {
    .icon-comm.i--search {
      width: 16px;
      right: auto;
      left: 10px;
    }

    .textfield-form {
      height: 32px;
      font-size: 13px;
      padding-left: 32px;
    }
  }
}

.explore-result-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 20px 24px;
  margin: 12px 0 8px;
  font-size: 16px;
  font-weight: 700;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .name {
    font-size: 14px;
  }

  .value {
    color: var(--c-primary);
  }
}
