.company-list,
.template-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
  gap: 16px;

  & > li {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    border: 1px solid #e8e8eb;
  }

  .sort {
    display: inline-flex;
    align-items: center;
    margin-bottom: 4px;
    font-size: 12px;
    color: var(--c-primary);

    & > * {
      display: inline-flex;
      align-items: center;
      height: 9px;

      &:not(:first-child) {
        margin-left: 6px;
        padding-left: 6px;
        border-left: 1px solid #d4d4d9;
      }
    }
  }

  .tit {
    font-size: 20px;
    font-weight: 700;
  }

  .btn-fav,
  .btn-del {
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    font-size: 16px;
    font-weight: 500;

    li {
      display: flex;
      align-items: center;
      gap: 12px;
    }

    .label {
      font-weight: 400;
      color: var(--c-gray2);
    }
  }

  .history {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
  }

  .desc {
    font-size: 14px;
  }
  
  &.t--selectable {
    & > li {
      cursor: pointer;
      transition: border-color .2s, background-color .2s;
      
      &:hover {
        border-color: var(--c-border);
        background-color: var(--c-bg);
      }
      &.ac--active {
        border-color: var(--c-primary);
        background-color: var(--c-primary-bg);
      }
    }
  }
}

.company-list {
  & > li {
    background-color: var(--c-bg);
  }
}

.template-list {
  font-size: 13px;

  & > li {
    gap: 6px;
    padding: 16px;
    background-color: #fff;
  }

  .tit {
    font-size: 16px;
  }

  .btn-fav,
  .btn-del {
    top: 12px;
    right: 12px;
  }

  .btns {
    position: absolute;
    top: 12px;
    right: 12px;
    display: flex;
    align-items: center;

    .btn-fav,
    .btn-del {
      position: static;
    }
  }

  .plan-guide,
  .plan-cs {
    padding-left: 80px;
    background: no-repeat 19px center;
  }
  .plan-guide {
    background-image: url(../image/icon/ic_plan_guide.svg);
  }
  .plan-cs {
    background-image: url(../image/icon/ic_plan_cs.svg);
  }
}

.mypage-list {
  display: flex;
  gap: 20px;

  & > li {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
  }

  .tit {
    display: flex;
    align-items: center;
  }
}

//////////////////////// 플랜 이용 관리
.planlist-wrap {
  display: flex;
  gap: 20px;
}

.planlist-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 28px 24px;
  margin-top: 8px;
  border-radius: 12px;
  border: 1px solid var(--c-border2);
  background-color: var(--c-bg);
  font-size: 16px;
  color: var(--c-gray1);

  .progress-wrap {
    gap: 27px;

    .label em {
      font-size: 1.2em;
    }
    .tit {
      font-size: 18px;
      font-weight: 700;
    }
  }

  &:has(.planlist-title) {
    .progress-wrap {
      gap: 8px;
    }

    .desc em {
      font-weight: 700;
    }
  }

  .cont {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
  }

  .desc em {
    font-weight: 500;
  }

  .btn-text {
    color: inherit;
  }
}

.planlist-title {
  display: flex;
  align-items: center;
  min-height: 32px;
  margin-bottom: 16px;

  .utils {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;

    .count {
      display: inline-flex;
      align-items: center;
      gap: 2px;
      font-weight: 500;

      em {
        color: var(--c-primary);
        font-size: 20px;
      }
    }
  }
}

.planlist-cont {
  display: flex;
  flex-direction: column;
  gap: 8px;

  .planlist-title {
    margin-bottom: 0;
  }
}

.planlist-list {
  display: flex;

  li {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 64px;
    padding: 4px 12px;

    &:not(:first-of-type) {
      padding-left: 24px;
      border-left: 1px solid var(--c-border2);
    }
  }

  .value {
    color: var(--c-black);
    font-size: 20px;
  }
}

.plan-service-wrap {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-top: 24px;

  .plan-service-section:first-child {
    grid-column: span 2;
  }
}

.plan-service-section {
  display: flex;
  flex-direction: column;

  .box-panel {
    flex-grow: 1;
  }
}

.plan-service-list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 24px;
  color: var(--c-gray1);
  font-size: 14px;
  line-height: 1.5;

  li {
    display: flex;
    align-items: center;
    justify-content: space-between;

    &:not(:first-of-type) {
      padding-top: 20px;
      border-top: 1px solid var(--c-border2);
    }

    &.disabled .cont {
      opacity: 0.4;
    }
  }

  .tit {
    font-size: 16px;
    font-weight: 700;
    color: var(--c-black);
  }

  .cont {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .utils {
    display: flex;
    align-items: center;
    gap: 16px;
    white-space: nowrap;
    color: var(--c-black);
  }

  .textfield-form {
    width: 120px;
  }

  &.s--sm {
    .tit {
      font-size: 14px;
    }

    .cont {
      gap: 2px;
    }
  }
}

.plan-payment-wrap {
  display: flex;
  flex-direction: column;
  padding: 24px;
}

.plan-payment-list {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 16px;
  color: var(--c-gray1);
  line-height: 1.5;
  font-weight: 500;

  li {
    display: flex;
    justify-content: space-between;
  }

  .value {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: 4px;
    color: var(--c-black);

    small {
      font-size: 14px;
      color: var(--c-gray1);
      font-weight: 400;
    }
  }
}

.plan-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 24px;
  font-size: 16px;
  font-weight: 700;

  .price {
    display: inline-flex;
    align-items: center;
    gap: 0.4em;

    em {
      color: var(--c-primary);
    }
  }
}

////////////////////// 플랜 안내
.console-contents:has(.cont-headline.t--guide) {
  background-color: var(--c-bg);
  .console-contents-inner {
    max-width: 1432px;
    gap: 40px;
  }
}
.cont-headline.t--guide {
  flex-direction: column;
  border-bottom: 0;
  text-align: center;
  margin-bottom: 0;
}

.plan-guide-list {
  display: flex;
  gap: 16px;
  line-height: 1.5;
  font-size: 14px;
  word-break: keep-all;

  & > li {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 28px 24px;
    border-radius: 16px;

    &.t--selected {
      border-color: #d8e0ff;
      background: linear-gradient(302.82deg, #ffffff -33%, #f0f4ff 65.13%);

      box-shadow:
        0px 1px 1px 0.5px #29292908,
        0px 3px 3px -1.5px #29292904,
        0px 6px 6px -3px #29292908,
        0px 12px 12px -6px #29292908,
        0px 24px 24px -12px #29292908,
        0px 48px 48px -24px #29292908;

      .list {
        border-top-color: #d8e0ff;
      }
    }

    &.align-top {
      align-self: flex-start;
    }
  }

  .title {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 6px;

    .tit {
      font-size: 20px;
      font-weight: 700;
    }

    .label-comm {
      position: absolute;
      top: 3px;
      right: 0;
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 20px 0 auto;
    padding: 20px 0;
    border-top: 1px solid var(--c-border2);
    font-weight: 500;
    color: var(--c-black);

    &:last-child {
      padding-bottom: 0;
    }

    li {
      position: relative;
      display: flex;
      flex-direction: column;
      gap: 4px;

      &:has(.icon-comm) {
        padding-left: 24px;
      }

      &:has(.num) {
        flex-direction: row;
      }
    }

    .num {
      margin-left: auto;
    }

    .desc {
      font-weight: 500;
      color: var(--c-gray1);
    }

    .icon-comm {
      position: absolute;
      top: 2px;
      left: -2px;
    }
  }
}

.plan-guide-comm {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 40px 32px;
  border-radius: 16px;
  line-height: 1.5;
  font-size: 14px;
  color: var(--c-gray1);

  & > li {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-left: 24px;

    &:not(:first-of-type) {
      padding-left: 48px;
      &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        height: 40px;
        margin-top: -20px;
        border-left: 1px solid var(--c-border2);
      }
    }
  }

  .tit {
    position: relative;
    display: flex;
    align-items: center;

    .icon-comm {
      position: absolute;
      top: 2px;
      left: -24px;
    }
  }
}

.plan-inquiry-wrap {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 600px;
  margin: 0 auto;
  padding: 36px 32px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow:
    0px -1px 1px -0.5px #3333330f inset,
    0px 1px 1px 0.5px #29292908,
    0px 3px 3px -1.5px #29292904,
    0px 6px 6px -3px #29292908,
    0px 12px 12px -6px #29292908,
    0px 24px 24px -12px #29292908,
    0px 48px 48px -24px #29292908,
    0px 0px 0px 1px #29292914;
}

.plan-inquiry-header {
  padding-bottom: 12px;

  border-bottom: 1px solid var(--c-border2);

  .tit {
    font-size: 20px;
  }
}

.plan-inquiry-section {
  display: flex;
  flex-direction: column;
  gap: 16px;

  .desc {
    font-size: 14px;
    color: var(--c-gray3);
    margin-top: -8px;
  }

  .radiocheck-list,
  .radiocheck-root.t--btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .radiocheck-root.t--btns {
    .radiocheck-label {
      justify-content: flex-start;
    }
  }

  .radiochk-root.t--box,
  .radiochk-root.t--btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;
  }

  .msg-err {
    font-size: 14px;
    grid-column: span 2;
  }
}

.plan-inquiry-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  color: var(--c-gray1);
}

.summary-wrap {
  border-radius: 12px;
  background-color: var(--c-bg);

  .btn-summary.ac--open {
    transform: scaleY(-1);
  }

  .summary-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 24px;
    color: var(--c-gray2);

    .radiocheck-label em {
      color: var(--c-black);
      font-weight: 500;
      font-size: 16px;
    }
  }

  .summary-detail {
    width: auto;
    margin: 0 24px;
    overflow-y: auto;

    &.ac--open {
      max-height: 400px;
      box-shadow: inset 0 1px 0 var(--c-border2);
    }
  }

  .term-wrap {
    padding: 20px 0;
    font-size: 14px;
    color: var(--c-gray2);
    line-height: 1.6;
  }
}

.plan-enter-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  & > li {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-top: 1px solid var(--c-border2);
    padding-top: 4px;
  }

  .modal-headline {
    opacity: 0.8;
  }
}
