.SOLTitle {
  &-t1,
  &-t2,
  &-t3,
  &-t4 {
    line-height: 1.5;
    color: var(--fc-default);

    em {
      color: var(--c-active);
    }
    small {
      font-weight: 400;
    }
    .msg {
      padding-left: 0.4em;
      font-size: var(--font-14);
      color: var(--fc-gray2);
    }
  }

  &-t1 {
    font-size: var(--font-20);
    font-weight: 600;
  }
  &-t2 {
    font-size: var(--font-18);
    font-weight: 600;
  }
  &-t3 {
    font-size: var(--font-16);
    font-weight: 700;
  }
  &-t4 {
    font-size: var(--font-15);
    font-weight: 700;
  }
  &-t5 {
    font-size: var(--font-14);
    font-weight: 700;
  }
  &-headline {
    font-size: var(--font-22);
    font-weight: 700;
    line-height: 1.45;
    color: var(--fc-default);
    small {
      font-weight: 400;
    }
  }
}

.SOLText-body {
  font-size: var(--font-16);
  line-height: 1.6;
  color: var(--fc-default);
}

.SOLText-desc {
  font-size: var(--font-14);
  line-height: 1.5;
  color: var(--fc-default);

  &.small {
    font-size: var(--font-13);
    color: var(--fc-gray2);
  }
}

.SOLText-caption {
  font-size: var(--font-16);
  line-height: 1.5;
  color: var(--fc-gray2);
}

.SOLText-note {
  font-size: var(--font-13);
  line-height: 1.5;
  color: var(--fc-gray1);
}

.SOLText--em {
  font-weight: 700 !important;
}
.SOLText--require {
  &::after {
    content: '*';
    color: var(--c-error);
  }
}

.a--left {
  text-align: left !important;
}
.a--right {
  text-align: right !important;
}
.a--center {
  text-align: center !important;
}

.SOLText-icon {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  white-space: nowrap;
  line-height: 1;
}
