.TMTitle-headline {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.5;
  color: #222
}

.TMTitle-headline2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  color: #222
}

.TMTitle-h1 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.5;
  color: #222
}

.TMTitle-h2 {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  color: #222
}

.TMTitle-h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
  color: #222
}

.TMTitle-h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  color: #222
}

.TMTitle-h5 {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  color: #222
}