.SOLBtn-root {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  height: var(--form-h);
  padding: 0 var(--form-pd);
  border-radius: var(--form-round);
  border: 1px solid rgba(10, 43, 88, 0.18);
  background-color: #fff;
  font-size: var(--font-14);
  white-space: nowrap;
  color: var(--fc-default);
  transition: color 0.2s, background-color 0.2s;

  &:hover:not(:disabled, .disabled),
  &:focus {
    background-color: var(--bc-hover);
  }

  &:disabled,
  &.disabled {
    background-color: var(--form-c-bg-dis);
    color: rgba(34, 34, 34, 0.2);
    border-color: rgba(10, 43, 88, 0.1);
    cursor: not-allowed;
  }

  // type
  &.t {
    &--contained {
      background-color: var(--c-active);
      color: #fff;

      &:hover:not(:disabled, .disabled),
      &:focus {
        background-color: rgb(77, 124, 254);
      }

      &:disabled,
      &.disabled {
        background-color: #a4b4e0;
        border-color: rgba(10, 43, 88, 0.1);
        color: rgba(255, 255, 255, 0.5);
      }
    }

    &--outlined {
      color: var(--c-active);
      border-color: currentColor;

      &:disabled,
      &.disabled {
        background-color: rgba(255, 255, 255, 0.5);
        color: rgba(59, 93, 251, 0.5);
      }
    }

    &--inverse {
      border-color: rgba(255, 255, 255, 0.3);
      background-color: transparent;
      color: #fff;

      &:hover:not(:disabled, .disabled),
      &:focus {
        background-color: rgba(255, 255, 255, 0.05);
      }

      &:disabled,
      &.disabled {
        opacity: 0.4;
      }
    }
  }

  // icon only
  &.t--icon {
    padding: 0;
    width: var(--form-h);
  }

  // size
  &.s {
    &--lg {
      height: 48px;
      font-size: var(--font-15);
    }

    &--xl {
      height: 56px;
      font-size: var(--font-16);
    }

    &--sm {
      height: 28px;
      padding: 0 10px;
      font-size: var(--font-12);
    }

    &--xs {
      height: 24px;
      padding: 0 8px;
      font-size: var(--font-12);
      i {
        font-style: normal;
        display: inline-block;
        padding-top: 3px;
      }
    }
  }

  &.SOLBtn-download {
    .download {
      display: inline-block;
      padding: 0 0 0 20px;
      position: relative;
      font-style: normal;
      &:before {
        content: "";
        width: 14px;
        height: 15px;
        background: url(/static/crediview/crediview-w/image/icon/ic_dwn.png) no-repeat center
          center;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0, -50%);
      }
    }
  }
}

.SOLIconBtn-root {
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0.4em;
  height: 2rem;
  padding: 0 0.5em;
  border-radius: var(--form-round);
  border: 0;
  background-color: transparent;
  font-size: var(--font-14);
  white-space: nowrap;
  transition: color 0.2s, background-color 0.2s;
  color: inherit;

  &.s {
    &--lg {
      font-size: var(--font-16);
    }
  }

  &.c {
    &--dark {
      color: var(--fc-default);
    }
    &--light {
      color: var(--fc-gray2);
    }
  }

  &:hover:not(:disabled, .disabled) {
    color: var(--fc-default);
  }

  // &:hover:not(:disabled),
  // &:focus {
  //     color: rgba(77,124,254,0.1)
  // }

  &:disabled,
  &.disabled {
    color: rgba(34, 34, 34, 0.2);
    cursor: not-allowed;
  }

  i + i {
    margin-left: -15px;
  }
}

.SOLTextBtn-root {
  height: 24px;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: var(--font-13);
  text-decoration: underline;
  color: var(--fc-gray1);
  transition: color 0.2s, background-color 0.2s;
  white-space: nowrap;

  &:hover:not(:disabled, .disabled) {
    color: var(--fc-default);
    background-color: rgba(0, 0, 0, 0.04);
  }

  &:disabled,
  &.disabled {
    opacity: 0.4;
  }

  &.t {
    &--action {
      color: var(--c-active);

      &:hover:not(:disabled, .disabled) {
        color: var(--c-active);
        background-color: var(--bc-hover);
      }
    }
    &--inverse {
      color: #fff;

      &:hover:not(:disabled, .disabled) {
        color: #fff;
        background-color: rgba(255, 255, 255, 0.5);
      }
    }
  }

  &.s {
    &--sm {
      font-size: var(--font-12);
    }
  }
}
