.btn-comm,
.btn-contained,
.btn-outlined,
.btn-cta,
.btn-link,
.btn-box {
  position: relative;
  flex-shrink: 0;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 6px;
  height: 32px;
  padding: 0 12px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-size: 13px;
  font-weight: 500;
  white-space: nowrap;
  color: var(--c-black);
  transition:
    color 0.2s,
    background-color 0.2s,
    border-color 0.2s;

  &:disabled {
    color: #b1b1b4;
    border: 1px solid var(--c-border2);
    background-color: var(--c-bg);
    font-weight: 500;
    cursor: not-allowed;

    .icon-comm {
      opacity: 0.4;
    }
  }

  &.s--xs {
    height: 24px;
    padding: 0 7px;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 13px;
  }

  &.s--sm {
    min-width: 50px;
    height: 26px;
    padding: 0 5px;
    box-sizing: border-box;
  }

  &.s--md {
    height: 40px;
    font-size: 14px;
    padding: 0 20px;
  }

  &.s--lg {
    height: 48px;
    font-size: 16px;
    min-width: 90px;
  }

  &.s--bd {
    min-width: 160px;
    height: 48px;
    border-radius: 6px;
    font-size: 16px;
  }

  &.w--full {
    width: 100%;
  }

  &:has(.icon-comm) {
    padding: 0 12px;
  }

  .icon-comm {
    min-width: 20px;
    margin-left: -4px;

    &:first-child {
      margin-right: -4px;
    }
  }

  &:has(.icon-comm:only-child),
  &:has(.blind) {
    aspect-ratio: 1;
    padding: 0;

    .icon-comm {
      margin: 0;
    }

    &.s--md {
      width: 40px;
    }
  }
}

.btn-comm,
.btn-link {
  border-color: var(--c-border);
  background-color: #fff;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    &:not(:disabled) {
      background-color: var(--c-bg);
    }
  }

  &.t--round {
    border-radius: 32px;
  }

  &.ac--active {
    border-color: var(--c-primary);
    background-color: #f0f4ff;
    color: var(--c-primary);

    &:hover {
      background-color: #d8e0ff;
    }
  }
}

.btn-contained {
  border-color: #1c3bdb;
  background-color: var(--c-primary);
  color: #fff;
  font-weight: 400;

  &:disabled,
  &.disabled {
    background-color: #f0f4ff;
    border-color: #d8e0ff;
    color: #bac7ff;
  }

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    &:not(:disabled) {
      background-color: var(--c-primary);
    }
  }

  &.s--xl {
    height: 58px;
    border-radius: 10px;
    font-size: 16px;
  }

  &.t--side {
    gap: 10px;
    width: 100%;
    height: 54px;
    border-radius: 12px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
  }

  &.t--round {
    height: 28px;
    border-radius: 28px;
  }
}

.btn-outlined {
  color: var(--c-primary);
  border-color: currentColor;
  background-color: #fff;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    &:not(:disabled) {
      color: var(--c-primary);
    }
  }

  &.t--round {
    height: 24px;
    border-radius: 24px;
  }
}

.btn-cta {
  background-color: var(--c-fail);
  color: #fff;
  font-weight: 600;

  &:hover,
  &.hover,
  &:focus,
  &.focus,
  &:active,
  &.active {
    &:not(:disabled) {
      background-color: #0e397e;
    }
  }
}

.btn-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  border-radius: 6px;
  color: inherit;
  
  &.btn-search-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
}

.btn-text {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  padding: 4px 0;
  font-size: 13px;
  color: var(--c-black);
  font-weight: 500;
  white-space: nowrap;
  min-height: 24px;

  &:hover {
    text-decoration: none !important;
  }

  &:not(:has(.underline, .hoverline)) {
    border-radius: 6px;
    padding: 0 6px;
    transition: background-color 0.2s;

    &:not(:disabled):hover {
      background-color: rgba(0, 0, 0, 0.025);
    }
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  .underline {
    display: inline-block;
    line-height: 1.05em;
    border-bottom: 1px solid currentColor;
  }

  .hoverline {
    display: inline-block;
    line-height: 1.05em;
    border-bottom: 1px solid transparent;
    transition: border-color 0.2s;
  }

  &:has(.hoverline):hover .hoverline {
    border-color: currentColor;
  }

  &.s--xs {
    font-size: 10px;
    font-weight: 700;
    color: #7e7e88;
  }

  &.s--md {
    font-size: 16px;
  }

  &.s--mmd {
    font-size: 14px;
  }

  .i--gt-r {
    margin: 0 -4px;
  }
}

.btn-link {
  font-weight: 500;
  color: var(--c-gray2);

  .utils {
    margin-left: auto;
    color: var(--c-gray2);
  }
}

.btn-box {
  font-weight: 500;
  color: var(--c-gray2);
  background-color: var(--c-bg);
  border: 0;

  .utils {
    margin-left: auto;
    color: var(--c-gray2);
  }
}

.btn-more {
  display: inline-flex;
  align-items: center;
  gap: 2px;
  color: var(--c-gray2);
  font-size: 12px;
}

.link-go {
  display: inline-flex;
  align-items: center;
  height: 24px;
  border-radius: 24px;
  padding: 0 10px;
  margin-right: auto;
  color: #fff;
  background-color: var(--c-primary);

  .icon-comm {
    background-size: 6px;
    margin-right: -5px;
  }
}

.link-short {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  height: 32px;
  border-radius: 32px;
  border: 1px solid currentColor;
  padding: 0 10px;
  background-color: #fff;
  color: var(--c-primary);
  font-size: 12px;
  font-weight: 600;

  .icon-comm {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: currentColor;
    background-size: 4px;
    margin-right: -2px;
  }
}

.btn-download {
  margin-left: auto;
  text-decoration: underline;
  color: var(--c-primary);
  font-size: 13px;
  font-weight: 500;
  padding-right: 24px;
  background: url(../image/icon/ic_download.svg) no-repeat right center;
}

.btn-fav {
  width: 24px;
  height: 24px;
}

.link-underline {
  color: inherit;
  display: inline-block;
  line-height: 1.05em;
  border-bottom: 1px solid currentColor;
}
