.tabmenu-menu {
  flex-shrink: 0;
  display: flex;
  gap: 32px;
  border-bottom: 1px solid var(--c-border2);
  margin-bottom: 32px;

  .tabmenu-btn {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 50px;
    padding-top: 8px;
    margin-bottom: -1px;
    color: var(--c-gray3);
    font-weight: 500;
    font-size: 18px;
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    transition:
      color 0.2s,
      border-color 0.2s,
      color 0.2s;

    &.ac--active {
      border-bottom-color: currentColor;
      color: var(--c-black);
      font-weight: 700;

      em {
        color: var(--c-primary);
      }
    }

    &:not(:last-child) {
      margin-right: 4px;
    }

    em {
      font-weight: inherit;
    }
  }

  &.s--sm {
    margin-bottom: 4px;
    gap: 12px;

    .tabmenu-btn {
      height: 44px;
      padding-top: 0;
      align-items: center;
      font-size: 16px;
    }
  }

  &.s--full {
    margin-bottom: 0;
    gap: 12px;

    .tabmenu-btn {
      flex-grow: 1;
      height: 44px;
      padding-top: 0;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }
  }
}

.tabmenu-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.tabmenu-filter {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;

  .tabmenu-btn {
    height: 32px;
    padding: 0 12px;
    border-radius: 32px;
    font-size: 14px;
    color: var(--c-gray3);
    background-color: #f1f1f3;
    white-space: nowrap;
    transition:
      color 0.2s,
      background-color 0.2s;

    &.ac--active {
      background-color: #212126;
      color: #fff;
    }
  }
}

.dashboard-tab {
  display: flex;
  gap: 4px;

  .btn {
    flex-grow: 1;
    height: 31px;
    border-radius: 12px;
    border: 1px solid currentColor;
    transition:
      background-color 0.2s,
      border-color 0.2s,
      color 0.2s;

    &:not([class*='g--']) {
      color: #ddd;
      span {
        color: #222;
      }
    }

    &.ac--active,
    &:hover {
      background-color: currentColor;
      span {
        color: #fff;
      }
    }
  }
}

.tabmenu-switch {
  display: flex;
  gap: 8px;
  padding: 5px;
  border-radius: 48px;
  margin: 0 auto;
  border: 1px solid var(--c-border2);
  background-color: #f1f1f3;
  font-size: 14px;
  font-weight: 500;
  
  .tabmenu-btn {
    height: 36px;
    border-radius: 36px;
    padding: 0 12px;
    color: #B1B1B4;
    transition: background-color .2s;
    
    &.ac--active {
    background-color: #fff;
    box-shadow: 0px -1px 1px -0.5px #33333308 inset,0px 1px 1px 0.5px #29292905,0px 3px 3px -1.5px #29292903,0px 6px 6px -3px #29292905,0px 12px 12px -6px #29292905,0px 24px 24px -12px #29292905,0px 48px 48px -24px #29292905,0px 0px 0px 1px #2929290a;
    font-weight: 700;
    color: var(--c-black)
  }
  }

  
}
