.SOLBoard-root {
    .console-footer { margin-top: 40px }
}

.SOLBoard-header {
    display: flex;
    flex-direction: column;
    gap: .5em;
    margin-top: -40px;
    padding: 24px;
    border-bottom: 1px solid var(--tb-border);

    .sort {
        color: var(--c-active);
        font-weight: 700;
    }

    .SOLFile-list {
        flex-direction: column;
        margin-top: 1em
    }
}

.SOLBoard-header-info {
    display: flex;
    gap: .8em;
    margin-top: .5em;
    font-size: var(--font-12);
    color: var(--fc-gray2);

    span {
        display: inline-flex;
        gap: .3em;
        align-items: center;
        height: 1em;

        &:not(:first-child) {
            padding-left: .8em;
            border-left: 1px solid var(--tb-border)
        }        
    }
}

.SOLBoard-file {
    padding: 13px 24px;
    border-bottom: 1px solid #f3f3f3;

    .SOLFile-list {
        margin: 1em 0 0 1.4em
    }
}

.SOLBoard-file-header {
    display: flex;
    align-items: center;
    gap: .8em;
    font-size: var(--font-13);

    .info {
        display: inline-flex;
        
        em {
            font-weight: inherit;
            color: var(--c-active);
            padding-left: .3em
        }

        small {
            color: var(--fc-gray2);
            padding-left: .3em
        }
    }
}

.SOLBoard-file-btn {
    display: inline-flex;
    align-items: center;
    gap: .4em
}

.SOLBoard-body {
    max-width: 1200px;
    overflow-x: scroll;
    padding: 40px 24px 80px;
    border-bottom: 1px solid var(--tb-border);
    font-size: var(--font-15);
    line-height: 1.5em; 

    & > .SOLBoard-body-img:first-child {
        margin-top: 0
    }
}

.SOLBoard-body-img {
    text-align: center;
    margin: 40px auto;

    img { max-width: 100% }
}

.SOLBoard-navi {
    margin-top: 48px;
    border-bottom: 1px solid var(--tb-border);
    white-space: nowrap;
}

.SOLBoard-navi-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    border-top: 1px solid var(--tb-border);
    color: var(--fc-gray2);
    line-height: 1.6;

    .navi-prev,
    .navi-next {
        flex-shrink: 0;
        position: relative;
        padding-right: 3em;
        color: var(--fc-default);

        &::after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%);
            margin-top: -2px;
            border-style: solid;
            border-color: transparent transparent var(--c-active) transparent;
            border-width: 5px 4px;
            border-radius: 2px;
        }
    }

    .navi-next::after {
        transform: scaleY(-1);
    }

    .title {
        flex: 1;
        display: flex;
        align-items: center;
        max-width: 500px;
        padding-left: 1em;
        border-left: 1px solid var(--tb-border);
    }

    .date {
        flex-shrink: 0;
        margin-left: auto;
        color: var(--fc-gray2);
    }

    a {
        display: flex;
        align-items: center;
        color: var(--fc-default);
    }
}

.SOLBoard-searchbox {
    display: flex;
    align-items: stretch;
    gap: 8px;
    margin-bottom: 40px;

    .SOLInput-box {
        height: 100%;
        padding-left: 1em
    }
}

.SOLBoard-searchbox-btns {
    display: flex;
    align-items: stretch;
    gap: 4px;

    .SOLBtn-root:not(.t--icon) {
        width: 96px
    }

    .SOLBtn-root.t--icon {
        width: 48px
    }
}

.SOLBoard-reply {
    margin-top: 80px;
    padding: 24px 24px 48px;
    background-color: var(--c-bg);
    border-radius: 8px;

    & + & { margin-top: 24px }
}

.SOLBoard-reply-header {
    padding-bottom: 1em;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--tb-border)
}