.SOLCard,
.SOLRatingCard {
  &-root {
    display: grid;
    gap: 24px;
  }

  &-item,
  &-root > li {
    display: flex;
    flex-direction: column;
    min-height: 278px;
    border: 1px solid var(--tb-border);
    border-radius: 8px;
    &.pd-tb40 {
      padding: 40px 0;
    }

    &.s--full {
      grid-column: 1 / span 3;
    }
  }

  &-title {
    flex-shrink: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 10px;

    &-option {
      display: flex;
      justify-content: space-between;
      align-items: stretch;
      &.w100 {
        width: 100%;
      }

      .SOLIconBtn-root {
        margin-right: -0.6em;
        height: 100%;
      }
      &-flex {
        display: flex;
        justify-content: space-between;
        flex: 1;
      }
    }
  }

  &-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    &.institution {
      .title-box {
        .img {
          background: url(/static/crediview/crediview-w/image/img/img_card_submit.svg)
            no-repeat center center;
        }
      }
    }
    &.internal-use {
      .title-box {
        .img {
          background: url(/static/crediview/crediview-w/image/img/img_card_submit02.svg)
            no-repeat center center;
        }
      }
    }
    &.private-company {
      .title-box {
        .img {
          background: url(/static/crediview/crediview-w/image/img/img_card_submit03.svg)
            no-repeat center center;
        }
      }
    }
  }

  &-detail {
    display: table;
    table-layout: fixed;
    margin-bottom: auto;

    & > li {
      display: table-row;
    }

    .name {
      display: table-cell;
      vertical-align: middle;
      width: 100px;
      height: 36px;
      color: var(--fc-gray1);
    }

    .value {
      display: table-cell;
      vertical-align: middle;
    }
  }

  &-empty {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    gap: 16px;
    color: #8b8b8f;
    font-size: var(--font-13);

    &::before {
      content: "";
      width: 88px;
      height: 88px;
      background: url(/static/crediview/crediview-w/image/img/img_empty.svg) no-repeat center
        center;
    }

    &-action {
      margin-top: auto;
      text-align: center;
    }

    &.ic--invite::before {
      background-image: url(/static/crediview/crediview-w/image/img/img_empty_user.svg);
    }

    &.ic--submit::before {
      background-image: url(/static/crediview/crediview-w/image/img/img_empty_submit.svg);
    }

    &.ic--submit02::before {
      width: 80px;
      height: 80px;
      background-image: url(/static/crediview/crediview-w/image/img/img_empty_submit02.svg);
    }
    &.ic--submit03::before {
      width: 80px;
      height: 80px;
      background-image: url(/static/crediview/crediview-w/image/img/img_empty_submit03.svg);
    }
    &.ic--submit04::before {
      width: 88px;
      height: 88px;
      background-image: url(/static/crediview/crediview-w/image/img/img_empty_submit05.svg);
    }

    &.ic--cs::before {
      background-image: url(/static/crediview/crediview-w/image/img/img_empty_cs.svg);
    }
    &.ic--grade::before {
      background-image: url(/static/crediview/crediview-w/image/img/img_empty_grade.svg);
    }
    span {
      &.desc {
        color: #222;
        text-align: center;
        font-size: var(--font-14);
        font-weight: 400;
        line-height: 20px;
        letter-spacing: -0.14px;
      }
    }
    .msg-box {
      display: flex;
      flex-direction: column;
      width: 270px;
      padding: 12px 16px;
      justify-content: center;
      align-items: center;
      border-radius: 8px;
      background: #f9fafc;
      span {
        display: block;
        color: #222;
        text-align: center;
        font-size: var(--font-13);
        font-weight: 400;
        line-height: 18px;
        letter-spacing: -0.13px;
        &.bold {
          font-weight: 700;
        }
      }
    }
    .btn-wrap {
      margin-top: 8px;
    }
  }
}

.SOLCard {
  &-root {
    grid-template-columns: repeat(2, 1fr);
  }

  &-item,
  &-root > li {
    padding: 24px;
  }

  &-title {
    padding-bottom: 10px;
    border-bottom: 1px solid #a9b5bf;

    .SOLLabel-root {
      min-width: 65px;
    }
  }

  &-body {
    padding-top: 16px;
  }

  &-detail {
    .name {
      &::before {
        content: "·";
        padding-right: 4px;
      }
    }

    .value {
      font-weight: 700;
    }
  }

  &-action {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 6px;

    .SOLBtn-root {
      min-width: 106px;
    }
  }
}

.SOLRatingCard {
  &-root {
    grid-template-columns: repeat(3, 1fr);

    .date {
      font-size: var(--font-12);
      color: var(--fc-gray1);
    }
    &.mgb32 {
      margin-bottom: 32px;
    }
    &.type02 {
      .SOLRatingCard-item {
        padding: 0 16px 24px 16px;
        .SOLPopper-root {
          .SOLIconBtn-root {
            padding: 0 0;
          }
          .tippy-box[data-theme~="popmenu"] {
            border-radius: 4px;
            position: absolute;
            top: 15px;
            right: 0px;
          }
          .SOLPopper-list {
            border-radius: 4px;
            & > li button {
              padding: 0px 12px;
              width: 93px;
              height: 38px;
            }
          }
        }
      }
      .SOLRatingCard-title {
        padding: 16px 0;
      }
      .SOLRatingCard-body {
        .title-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 16px 0;
          span {
            display: block;
            &.img {
              width: 80px;
              height: 80px;
            }
            &.tit {
              color: #222;
              font-size: var(--font-18);
              font-weight: 700;
              line-height: 100%;
            }
          }
        }
        .SOLRatingCard-detail {
          margin-top: 18px;
          border-radius: 8px;
          background: rgba(248, 249, 251, 0.9);
          padding: 16px;
          .name {
            height: 24px;
          }
          .value {
            text-align: left;
            color: #222;
            font-size: var(--font-12);
            font-weight: 700;
            line-height: normal;
            letter-spacing: -0.12px;
          }
        }
        .impor-txt-box {
          display: flex;
          width: 100%;
          height: 56px;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 0px;
          .impor-txt {
            width: 100%;
            color: #fc5356;
            text-align: center;
            font-size: var(--font-13);
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.39px;
            a {
              display: inline-block;
              text-decoration: underline;
              color: #fc5356;
            }
          }
          .impor-txt02 {
            color: #222;
            text-align: center;
            font-size: var(--font-13);
            font-weight: 400;
            line-height: 18px;
            letter-spacing: -0.39px;
            span {
              color: #0046ff;
            }
          }
          &.mg-t-b {
            margin: 23px 0;
          }
        }

        .SOLRatingCard-action {
          border-top: none;
          padding: 8px 0px 0 0;
          height: auto;
          .SOLRatingCard-action-option {
            width: 100%;
            gap: 8px;

            justify-content: space-between;
            .SOLBtn-root {
              margin-left: unset;
              min-width: 60px;
              &.t--contained {
                flex: 1;
              }
            }
          }
        }
        .additional-box {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          height: 100%;
          span {
            display: block;
            &.additional-img {
              width: 80px;
              height: 80px;
              background: url(/static/crediview/crediview-w/image/img/img_card_submit-empty.svg)
                no-repeat center center;
            }
            &.additional-desc {
              color: #7b7b7b;
              text-align: center;
              font-size: var(--font-13);
              font-weight: 400;
              line-height: 18px;
              letter-spacing: -0.39px;
              padding-top: 16px;
            }
          }
        }
      }
    }
  }

  &-item {
    &.t--submit {
      background: linear-gradient(153.58deg, #398bfd 0.66%, #a241ff 125.96%);
      color: #fff;
      font-weight: 300;

      .date,
      .name {
        color: #fff;
        opacity: 0.8;
      }

      .SOLLabel-root {
        border: 0;
        background-color: rgba(28, 51, 41, 0.5);
        color: #73ffc4 !important;
        font-weight: 500;
        &.c--active {
          background-color: var(--c-bg);
          color: var(--c-active) !important;
        }
      }

      .SOLRatingCard-grade {
        background: linear-gradient(
          278.82deg,
          rgba(0, 0, 0, 0.08) -21.11%,
          rgba(0, 0, 0, 0.16) 108.64%
        );
      }

      .SOLRatingCard-detail .name {
        opacity: 0.6;
      }

      .SOLRatingCard-action {
        border-top: 0;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }

    &.c--disabled .SOLRatingCard-action-option .SOLIconBtn-root {
      color: var(--fc-default);
    }
  }

  &-title {
    padding: 16px;
  }

  &-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 13px;
    margin-top: auto;
    border-top: 1px solid rgba(227, 229, 235, 0.6);
    text-align: right;
    font-size: var(--font-13);
    a {
      text-decoration: underline;
    }
    a.left {
      text-align: left;
    }

    span.left {
      text-align: left;
      padding-right: 5px;
    }

    .SOLBtn-root {
      min-width: 74px;
      margin-left: auto;
    }

    .SOLIconBtn-root {
      width: 36px;
      margin-right: -8px;
    }

    &-option {
      display: flex;
      align-items: center;
      margin-left: auto;
    }
  }

  &-detail {
    padding: 16px 24px;

    .name {
      height: 32px;
      font-size: var(--font-13);
    }
    .value {
      text-align: right;
    }
  }

  &-empty {
    &::before {
      background-image: url(/static/crediview/crediview-w/image/img/img_empty_rating.svg);
    }
  }
}

.SOLRatingCard-grade {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
  margin: 0 16px;
  border-radius: 8px;
  background-color: var(--c-bg);
  font-size: var(--font-28);
  font-weight: 700;
  &.f-26 {
    font-size: var(--font-26);
  }

  small {
    font-weight: 300;
    font-size: var(--font-20);
    padding-left: 6px;
  }
}
