.console {
  &-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    min-width: var(--min-w);
    &.bg-type {
      background: #f7f7f7;
    }
    .SOLHeader-root {
      position: fixed;
      top: 0;
      left: 0;
    }
    &.amaranth-frame {
      .console-container {
        align-items: flex-start;
        .console-inner {
          padding: 0px 0 100px;
          @media screen and (max-width: 1269px) {
            max-width: 1200px;
          }
        }
        .console-content {
          padding: 80px 0 0 0;
        }
        .SOLFooter-root {
          border-top: none;
        }
      }

      .SOLFooter-container {
        max-width: 1180px;
        padding: 24px 0 40px 0;

        .SOLFooter-content {
          border-bottom: 1px solid rgba(0, 0, 0, 0.05);
          padding-bottom: 16px;
        }
        .SOLFooter-content {
          margin-bottom: 12px;
        }
        .SOLFooter-infor {
          p {
            font-size: var(--font-13);
            font-weight: 400;
            line-height: 18px;
            color: #9b9ba0;
            padding-bottom: 16px;
          }
        }
        .SOLFooter-address {
          .line {
            gap: 16px;
            span {
              position: relative;
              color: rgba(155, 155, 160, 1);
              font-size: var(--font-13);
              font-weight: 400;
              &::before {
                content: "";
                width: 1px;
                height: 10px;
                background: rgba(0, 0, 0, 0.1);
                position: absolute;
                top: 50%;
                right: -16px;
                transform: translate(0, -50%);
              }
              &:last-child {
                &::before {
                  display: none;
                }
              }
            }
          }
          .copyright {
            color: rgba(155, 155, 160, 1);
            font-size: var(--font-13);
            font-weight: 400;
          }
        }
      }
    }
  }
  &-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &-inner {
    position: relative;
    flex: 1;
    display: flex;
    gap: var(--side-gap);
    width: 100%;
    max-width: var(--max-w);
    padding: 140px 0 160px;
  }

  &-content {
    flex-grow: 1;
  }

  &-title {
    display: flex;
    align-items: flex-start;
    height: 48px;
    margin-bottom: 40px;
    border-bottom: 1px solid #777;
    &.center {
      justify-content: center;
      border-bottom: none;
      height: auto;
      margin-bottom: 45px;
    }
    &.align-c {
      align-items: center;
      padding-bottom: 24px;
    }

    .SOLTitle-t1 {
      line-height: 1;
    }
  }
}

.invite-box {
  text-align: right;
  padding: 10px 0 0 0;
  &.left {
    text-align: left;
  }
  .invite-code {
    display: block;
    font-size: var(--font-14);
    font-weight: 400;
    em {
      font-weight: 400;
    }
  }
  .link-invite-code {
    color: #222;
    text-decoration: underline;
  }
}

.console-section {
  margin-top: 40px;
  &.center {
    display: flex;
    justify-content: center;
  }
}

.console-header {
  display: flex;
  align-items: center;
  height: 49px;
  padding-bottom: 11px;
  position: relative;

  &.mgt40 {
    margin-top: 40px;
  }

  &-option {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: auto;
    color: var(--fc-gray1);
    font-size: var(--font-13);
    &.align-top {
      align-items: flex-start;
    }

    .date {
      padding: 0 8px;
    }
  }
  &.flex-flow-wrap {
    flex-flow: wrap;
    margin-bottom: 25px;
    .SOLText-desc {
      width: 100%;
    }
  }
  &.mgb30 {
    margin-bottom: 30px;
  }
}

.console-bottom {
  .SOLTitle-t2 {
    margin-top: 30px;
  }
}

.console-footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 80px;

  .SOLBtn-root {
    flex-grow: 1;
    max-width: 200px;
  }
}

.console-line {
  margin: 40px 0;
  border-top: 1px solid var(--tb-border);
}

.console-add {
  margin: 10px 0;

  .SOLTextBtn-root {
    color: inherit;
  }
}

@include tablet {
  .console-inner {
    max-width: 100%;
    padding-left: var(--spc-w);
    padding-right: var(--spc-w);
  }
}
