.doc-root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100%;
  padding-top: 10rem;
  gap: 2rem;
}

.doc-header {
  z-index: 1;
  position: absolute;
  inset: 0 0 auto 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0 4rem;
  width: 100%;
  height: 10rem;
}

.doc-btn-download {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 6rem;
  aspect-ratio: 1;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(0, 0, 0, 0.3);
  transition: color 0.2s;

  &:hover {
    color: #fff;
  }

  svg {
    width: 3.5rem;
  }

  path {
    fill: currentColor;
  }
}

.SOLDOC-root {
  position: relative;
  width: 123.8rem;
  aspect-ratio: 21 / 29.7;
  padding: 14.5rem 10rem 7rem;
  background: #fff url(/static/crediview/crediview-w/image/views/doc/doc_paper.png) no-repeat
    left top / 100%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 72rem;
    height: 88.8rem;
    background-image: url(/static/crediview/crediview-w/image/views/doc/doc_pattern2.png),
      url(/static/crediview/crediview-w/image/views/doc/doc_pattern2.png);
    background-repeat: no-repeat;
    background-size: contain;
  }
  &::after {
    content: "";
    position: absolute;
    bottom: 10rem;
    right: 0;
    width: 33.4rem;
    height: 56.5rem;
    background-image: url(/static/crediview/crediview-w/image/views/doc/doc_pattern1.png),
      url(/static/crediview/crediview-w/image/views/doc/doc_pattern1.png);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: contain;
  }

  & > * {
    position: relative;
    z-index: 1;
  }
}

.SOLDOC-lead {
  position: absolute;
  top: 7rem;
  left: 10rem;
  right: 10rem;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  margin-bottom: 4.4rem;

  .use {
    display: inline-flex;
    align-items: center;
    padding: 0 2.7rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 2rem;
  }

  .num {
    display: inline-flex;
    align-items: center;
    font-size: 1.9rem;
    color: rgba(0, 0, 0, 0.7);
  }
}

.SOLDOC-foot {
  position: absolute;
  bottom: 9.6rem;
  left: 10rem;
  right: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 1.6rem;
  line-height: 1.25;

  .qr-wrapper {
    display: flex;
    gap: 1rem;
    align-items: flex-end;
    text-align: right;
  }

  .qr {
    width: 10.125rem;
    height: 10.125rem;

    img {
      max-width: 100%;
    }
  }
}

.SOLDOC-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  font-size: 2.6rem;
  color: #001a4f;
}

.SOLDOC-title {
  font-size: 5.4rem;
  color: #000;
  font-weight: 700;
  text-align: center;
}

.SOLDOC-title-sub {
  margin-bottom: 0.8rem;
  font-size: 2.2rem;
  line-height: 1.82;
  font-weight: 700;
}

.SOLDOC-rating {
  font-size: 13rem;
  color: #1e479f;
  font-weight: 700;
  text-align: center;
}

.SOLDOC-body {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  margin-top: 2.4rem;
}

.SOLDOC-desc-list {
  margin-top: -0.8rem;
  font-size: 1.7rem;
  line-height: 1.82;
  word-break: keep-all;

  & > li {
    position: relative;
    padding-left: 1.1em;
    counter-increment: number 1;

    &::before {
      content: counter(number) ".";
      position: absolute;
      left: 0;
    }
  }
}

.SOLDOC-company {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  font-size: 2.6rem;

  .stamp {
    height: 7.7rem;

    img {
      max-height: 100%;
    }
  }
}

.SOLDOC-graph-box {
  display: flex;
  flex-direction: column;
  padding: 3rem 5rem 2rem;
  border: 1px solid #ccc;
  border-radius: 1rem;
  background-color: rgba(212, 205, 199, 0.3);

  .desc {
    margin-top: auto;
    font-size: 1.6rem;
  }
}

.SOLDOC-graph-wrapper {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.SOLDOC-graph-canvas {
  position: relative;
  margin-bottom: -1px;

  img,
  svg {
    display: block;
    width: 100%;
  }
}

.SOLDOC-graph-tag {
  position: absolute;
  bottom: 2rem;

  .tag {
    position: absolute;
    bottom: 0;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 7rem;
    height: 5rem;
    padding: 0 2rem;
    border-radius: 0.7rem;
    background-color: #fff;
    font-size: 2.4rem;
    font-weight: 700;
    color: #1e479f;
    line-height: 1.1;
    box-shadow: 0 0.4rem 1rem rgba(0, 0, 0, 0.15);
    transform: translateX(-50%);

    &::before {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      border-style: solid;
      border-color: #fff transparent transparent transparent;
      border-width: 1rem 0.7rem;
      transform: translateX(-50%);
    }
  }
}

.SOLDOC-graph-legend {
  display: flex;
  margin-bottom: 0.8rem;

  & > li {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    font-size: 2rem;

    .bar {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 3rem;
      color: #fff;
      font-size: 1.4rem;
    }

    .legend {
      display: flex;
      justify-content: space-between;
      padding: 0 0.2em;
      line-height: 1.82;
    }

    &:first-of-type .bar {
      border-top-left-radius: 3rem;
      border-bottom-left-radius: 3rem;
      background-color: #182a50;
    }

    &:nth-child(2) .bar {
      background-color: #3f598a;
    }

    &:nth-child(3) .bar {
      background-color: #617cb2;
    }

    &:nth-child(4) .bar {
      background-color: #7299e7;
    }

    &:nth-child(5) .bar {
      border-top-right-radius: 3rem;
      border-bottom-right-radius: 3rem;
      background-color: #ff976e;
    }
  }
}

.SOLDOC-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  border-top: 1px solid #ababab;
  font-size: 1.8rem;

  caption {
    @extend .SOLDOC-title-sub;
    display: flex;
  }

  th {
    width: 17rem;
    background-color: rgba(212, 205, 199, 0.5);
    font-weight: normal;
    text-align: left;
  }

  th,
  td {
    height: 2.7rem;
    padding: 0.8rem 2rem;
    border-bottom: 1px solid #ccc;
    p.flex-txt {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .sm-txt {
        display: inline-block;
        font-size: var(--font-20);
        font-weight: 200;
      }
    }
  }
}

@media print {
  html,
  body {
    font-size: 0.571vh;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
  .doc-root {
    padding-top: 0;
    justify-content: center;
    gap: 0;
  }
  .doc-header {
    display: none;
  }
  .SOLDOC-root {
    padding: 14.5rem 8rem 7rem;
  }
  .SOLDOC-lead {
    top: 5.5rem;
    left: 8rem;
    right: 8rem;
  }

  .SOLDOC-foot {
    bottom: 8rem;
    left: 8rem;
    right: 8rem;
  }

  .SOLDOC-graph-wrapper {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }

  @page {
    size: A4;
    margin: 0;
  }
  //민간기업 제출용
  .doc-root.private-company
    .SOLDOC-root
    .SOLDOC-header
    .rating-root
    .right-box {
    .SOLDOC-table tr td span {
      display: inline-block;
      padding-top: 11px;
    }
  }
}

// 민간기업 제출용
.doc-root {
  &.private-company {
    .SOLDOC-lead {
      top: 3.125rem;
      left: auto;
      right: 10rem;
    }
    .SOLDOC-root {
      background: #fff;

      &::before {
        content: none;
      }
      &:after {
        content: "";
        width: 59.938rem;
        background: url(/static/crediview/crediview-w/image/views/doc/doc_private-bg-pattern.png)
          no-repeat right top/contain;
        bottom: 20rem;
        height: 70.375rem;
      }
    }
    .SOLDOC-root {
      padding: 6.25rem 10rem 7rem;
      .SOLDOC-header {
        display: block;
        padding: 2rem 0 2rem 0;
        .private-tit {
          display: inline-flex;
          padding: 1rem 2rem;
          justify-content: center;
          align-items: center;
          border-radius: 50px;
          border: 1px solid rgba(39, 87, 172, 0.5);
          margin-bottom: 1.75rem;
          span {
            display: block;
            color: #2757ac;
            font-size: 2rem;
            font-weight: 400;
            line-height: 2.5rem; /* 200% */
            letter-spacing: -0.3px;
          }
        }
        .doc-tit {
          color: #2757ac;
          font-size: 5rem;
          font-weight: 700;
          line-height: 150%;
        }
        .rating-root {
          display: flex;
          justify-content: space-between;
          align-items: stretch;
          gap: 0 2.5rem;
          margin-top: 1rem;
          .left-box {
            flex: 1;
            border-top: 2px solid rgba(24, 57, 147, 0.3);
            border-bottom: 2px solid rgba(24, 57, 147, 0.3);
            padding: 4rem 1.25rem 1.313rem 1.25rem;
            .h-title-box {
              display: flex;
              justify-content: space-between;
              align-items: center;

              span {
                display: block;
                &.rating-tit {
                  color: #000;
                  font-size: 2.5rem;
                  font-style: normal;
                  font-weight: 400;
                  line-height: 2.5rem;
                  letter-spacing: -0.023rem;
                }
                &.date {
                  color: #000;
                  font-size: 1.5rem;
                  font-weight: 200;
                  line-height: 1.688rem;
                  letter-spacing: 0.015rem;
                }
              }
            }
            .total-grade {
              color: #000;
              font-size: 13rem;
              font-weight: 700;
              line-height: normal;
            }
          }
          .right-box {
            flex: 1;
            // .SOLDOC-table {
            //   th,
            //   td {
            //     span {
            //       padding: 1.563rem 1.25rem;
            //     }
            //   }
            // }
          }
        }
      }
      .SOLDOC-body {
        .SOLDOC-graph-box {
          border-radius: 0.938rem;
          border: 1px solid rgba(24, 57, 147, 0.1);
          background: #f8f8f8;
        }
      }
      //table
      .SOLDOC-table {
        height: 100%;
        border-top: solid 1px #a9b7cc;
        border-bottom: solid 1px #a9b7cc;
        tr {
          th {
            background: #eceef6;
            color: #1b3366;
            span {
              display: flex;
              align-items: center;
              height: 100%;
              color: #1b3366;
            }
          }
          th,
          td {
            border-bottom: solid 1px #cfd5e4;
          }
          &:last-child {
            th,
            td {
              border-bottom: none;
            }
          }
        }
      }
    }
  }
}

