.guide-body {
  display: flex;
  flex-direction: column;
  font-size: var(--font-16);
  line-height: 1.4;
  word-break: keep-all;

  .SOLTitle-t3 {
    margin: 24px 0 12px;
  }

  .SOLTitle-t4 {
    margin: 24px 0 12px;
  }

  table {
    margin: 24px 0;
    // font-size: var(--font-14);

    caption {
      @extend .SOLTitle-t4;
      margin-top: 0;
      text-align: left;
    }

    & + .footnote {
      margin-top: -24px;
      margin-bottom: 24px;
    }
  }

  .SOLTable-list.s--sm {
    font-size: var(--font-14);
    td {
      height: 3em;
    }
  }

  a {
    color: var(--c-active);
    text-decoration: underline;
  }

  img {
    max-width: 100%;
  }

  .footnote {
    color: var(--fc-gray1);
    font-size: var(--font-14);
  }
}

.guide-list {
  display: flex;
  flex-direction: column;
  gap: 6px;
  padding-left: 1em;
  text-indent: -1em;
  &.pdl-0 {
    padding-left: 0;
    text-indent: 0;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 3px;
    padding-left: 1em;
    text-indent: -1em;
    margin: 9px 0;
    color: var(--fc-gray1);
  }
}

.guide-desc {
  display: flex;
  flex-direction: column;
  gap: 6px;

  ul:not(.guide-list, .footnote) {
    display: flex;
    flex-direction: column;
    gap: 3px;
    margin-bottom: 9px;
    color: var(--fc-gray1);
  }
}

.guide-img {
  margin: 24px 0;
}
