.members {
  &-root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    // min-width: var(--max-w);
  }

  &-container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    background-color: #f7f7f7;
  }

  &-loginbox {
    position: relative;
    width: 100%;
    max-width: 530px;
    padding: 75px;
    border-radius: 12px;
    border: 1px solid #e3e3e3;
    background-color: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);

    .loginbox-nav {
      position: absolute;
      top: 20px;
      left: 20px;
    }

    .loginbox-title {
      display: flex;
      flex-direction: column;
      gap: 20px;
      text-align: center;
    }

    .loginbox-inputs {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-top: 30px;
      &.gap-none {
        .SOLInput-root {
          gap: 0px;
        }
      }

      &-group {
        display: flex;
        flex-direction: column;
        gap: 10px;
      }
      .reset-txt {
        display: inline-block;
        text-align: center;
        text-decoration: underline;
        cursor: pointer;
      }
      //기업명으로 조회 컴포넌트
      .search-company-name {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        background: #f9fafc;
        padding: 10px 16px;
        .infor-box {
          display: flex;
          align-items: center;
          gap: 4px;
          .SOLIcon-info {
            border: solid 1px #9797a0;
            svg {
              path {
                fill: #9797a0 !important;
              }
            }
          }
          .text {
            display: block;
            color: #222;
            font-size: var(--font-13);
            font-weight: 400;
            line-height: 120%; /* 15.6px */
            letter-spacing: -0.39px;
          }
        }
      }
    }

    .loginbox-action {
      display: flex;
      gap: 8px;
      margin-top: 36px;

      .SOLBtn-root {
        flex: 1 1 0;
      }
    }

    .loginbox-util {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 16px;
    }

    .loginbox-bottom {
      display: flex;
      justify-content: center;
      padding-top: 36px;
      gap: 0 16px;
      button {
        color: var(--fc-default);
        text-decoration: underline;
        display: inline-block;
        font-weight: 700;
        &.ceificat {
          position: relative;
          &::before {
            content: '';
            width: 1px;
            height: 10px;
            background: #d9d9d9;
            position: absolute;
            top: 50%;
            right: -8px;
            transform: translate(0, -50%);
          }
        }
      }
    }

    .SOLCaption-root {
      margin: 35px 0 0 0;

      .SOLCaption-title {
        padding: 0px 0px 8px 0px;
        border-bottom: 1px solid #e6e8eb;
      }
    }

    .loginbox-menu {
      display: flex;
      white-space: nowrap;

      li {
        display: flex;
        align-items: center;
        height: 10px;

        &:not(:first-of-type) {
          border-left: 1px solid #d9d9d9;
        }
      }

      a {
        line-height: 24px;
        padding: 0 8px;
        color: inherit;
      }
    }

    .SOLInput-label:not(.t--empty) {
      margin-top: 10px;
    }

    .loginbox-terms {
      margin-top: 20px;

      &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 8px;
        height: 54px;

        .loginbox-terms-btn {
          margin-right: auto;
        }
      }

      &-label {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-box {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 16px 24px;
        margin-top: 4px;
        background-color: var(--c-bg);

        li {
          display: flex;
          align-items: center;
          justify-content: space-between;
        }

        .name {
          font-size: var(--font-13);
          color: var(--fc-gray1);

          &::before {
            content: '· ';
          }
        }
      }
    }

    .loginbox-terms-list {
      display: flex;
      flex-direction: column;
      gap: 8px;

      & > li {
        flex: 1;
        display: flex;
        justify-content: space-between;
        padding: 12px 16px;
        border: 1px solid var(--tb-border);
        border-radius: 8px;

        &.loginbox-terms-all {
          border: 0;
          padding-top: 0;
          padding-bottom: 6px;
        }
      }

      em {
        font-weight: normal;
        color: var(--c-active);
      }
    }

    .loginbox-detail {
      padding: 16px 24px;
      background-color: var(--c-bg);

      li {
        display: flex;
        justify-content: space-between;
        padding: 4px 0;
      }

      .name {
        position: relative;
        display: inline-block;
        padding-left: 0.6em;
        font-size: var(--font-13);
        color: var(--fc-gray1);

        &::before {
          content: '·';
          position: absolute;
          left: 0;
          top: 0;
        }
      }
    }
  }
}

.SOLTerms-root {
  padding: 24px;
  overflow-y: auto;
  background-color: var(--c-bg);
  color: #404252;
  word-break: keep-all;
  text-align: justify;

  h2 {
    font-weight: 700;
    color: #222;
    margin-bottom: 2em;
  }
  h3 {
    font-weight: 500;
    color: #222;
    margin-top: 2em;
  }
  p {
    margin: 1em 0;
  }

  &::-webkit-scrollbar {
    width: 18px;
    height: 18px;
  }

  &::-webkit-scrollbar-thumb {
    border: 6px solid var(--c-bg);
    border-radius: 18px;
    background-color: #dcdbdf;
  }
}

.SOLTerms-individual-root {
  width: 100%;
  background-color: var(--c-bg);
  padding: 25px 30px;
  border-radius: 8px;
  margin-top: 20px;
  &.pd-type {
    padding: 16px 16px;
    ul.list {
      li {
        padding: 0 0 10px 10px;
        line-height: 100%;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
  }
  &.mgt0 {
    margin-top: 0px;
  }
  ul.list {
    padding: 5px 0;
    li {
      font-size: 15px;
      font-weight: 600;
      color: #404252;
      position: relative;
      padding: 0 0 0 10px;
      letter-spacing: -0.14px;
      &:before {
        content: '';
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: var(--fc-default);
        position: absolute;
        top: 6px;
        left: 0;
      }
    }
    &.sm {
      li {
        padding: 0 0 10px 10px;
        font-size: 16px;
        color: #404252;
        font-weight: 400;
        &:last-child {
          padding-bottom: 0;
        }
      }
    }
    &.s-xs {
      li {
        font-size: var(--font-14);
        font-weight: 400;
        line-height: 140%;
        &::before {
          content: '';
          width: 2px;
          height: 2px;
          border-radius: 100%;
          background-color: #222222;
        }
      }
    }
  }

  ul.list-num {
    padding: 0 0 0 10px;
    li {
      font-size: 14px;
      font-weight: 400;
      color: #404252;
      padding-bottom: 5px;
      &:last-child {
        padding-bottom: 0;
      }
    }
  }
}

@include mobile {
  .members-container {
    padding: var(--spc-w);
  }
  .members-loginbox {
    padding: 7vh 7vw;
  }
}
