.welcome-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 8px;
    margin-bottom: 60px;
    text-align: center;

    .SOLText-note {
        margin-top: 8px
    }
}

.welcome-t1 {
    font-size: var(--font-36);
    font-weight: 700;
}
.welcome-t2 {
    font-size: var(--font-22);
    font-weight: 700;
    color: var(--c-active);
    text-decoration: underline;
}
.welcome-t3 {
    line-height: 1.4;
    color: var(--fc-gray1)
}


.welcome-mv {
    position: relative;
    aspect-ratio: 2 / 1;
    display: flex;
    overflow: hidden;
    border-radius: 8px;
    font-size: var(--font-28);
    line-height: 1.4;
    font-weight: 700;
    letter-spacing: -1px;

    &-inner {
        position: absolute;
        inset: 0;
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 24px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to right, #f9f5fe 10%, rgba(255,255,255,0), #ebf2fe 90%);
        }
    }

    &-bg {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        
        video { opacity: .4 }
    }

    &-title {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
        opacity: 0;
    }

    &-cont {
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: flex-end;
        gap: 24px;

        .benefit {
            position: relative;
            transform: translate(50%,50%);
            margin-top: -20px;
            margin-left: -0.5em;
            opacity: 0;

            ul {
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: 0.8em;
                font-size: 1em;
                font-weight: 800;
                white-space: nowrap;
                padding: 0.4em 0;
            }

            li {
                display: flex;
                align-items: center;
                height: 1.2em;
                border-bottom: 3px solid transparent;
                border-image-slice: 1 !important;
                background-clip: text;
                opacity: 0.5;
                transition: color .3s, opacity .3s, border-image .3s background-image .3s;

                &:first-of-type {
                    opacity: 1;
                    color: transparent;
                    border-image: linear-gradient(97deg, #0046ff, #8e48ff 60%);
                    background-image: linear-gradient(97deg, #0046ff, #8e48ff 60%);
                }
            }
        }
    }

    &-fin {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        white-space: nowrap;
        text-align: center;
        scale: .8;
        opacity: 0
    }
}