.SOLRadio-root {
    display: flex;
    align-items: center;
    gap: 20px;

    .SOLTitle-t3 {
        min-width: 130px
    }
}

.SOLRadio-label {
    display: inline-flex;
    align-items: center;
    gap: 6px;
    line-height: 2;
    font-size: var(--font-14);
    white-space: nowrap;
    
    [type="radio"] {
        appearance: none;
        flex-shrink: 0;
        position: relative;
        width: 18px;
        height: 18px;
        border: 1px solid rgba(10,43,88,0.18);
        border-radius: 50%;
        background-color: #fff;
        color: var(--c-disabled);
        transition: border-color .2s;
    
        &:checked {
            &:not(:disabled) { border: 6px solid var(--c-active) }
            &:disabled {
                &::before {
                    content: '';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: #dde1e5;
                    transform: translate(-50%, -50%);
                }
            }
        }

        &:hover,
        &:hover + span {
            cursor: pointer
        }

        &:disabled,
        &:disabled + span {
            opacity: 0.7;
            cursor: not-allowed;
        }

        &:disabled {
            background-color: #f5f5f5;
        }
    } 
}