.SOLTab-container .SOLSearchbox-root {
  margin-top: -30px;
  position: relative;
  z-index: 1;
}

.SOLSearchbox-root {
  &.custom--searchbox {
    .SOLSearchbox-header {
      position: absolute;
      top: 4px;
      right: 0px;
    }
  }
}

.SOLSearchbox-header {
  display: flex;
  align-items: center;
  height: 38px;

  &-option {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
}

.SOLSearchbox-box {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 20px 24px;
  margin: 24px 0 40px 0;
  border-radius: 8px;
  background-color: #f8f8f9;
  white-space: nowrap;

  .SOLInput-label {
    font-weight: normal;
    color: inherit;
  }

  .s--grow {
    flex: 1;
  }
}

.SOLSearchbox-label {
  flex-shrink: 0;
  padding-right: 4px;
}

.SOLSearchbox-group {
  display: flex;
  align-items: center;
  gap: 4px;

  .SOLCombobox-root {
    flex-shrink: 0;
  }
  .SOLInput-root {
    gap: 0px;
  }
}

.SOLSearchbox-btns {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-left: auto;
}

.SOLSearchbox-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.SOLSearchbox-col {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;

  .SOLSearchbox-label {
    min-width: 55px;
    &.w--lg {
      min-width: 91px;
    }
    &.w--md {
      min-width: 79px;
    }
  }
}
