.SOLTextarea-root {
    width: 100%;
    font-size: var(--font-14);
    line-height: 1.4;

    .SOLTextarea_field {
        height: 100%;
    }

    .SOLTextarea_field.error {
        border:solid 1px var(--c-error);
    }
}

.SOLTextarea_field {
    display: block;
    resize: vertical;
    @include formStyle;
    padding: var(--form-pd);
}
