.console-root {
  &.amaranth-frame {
    .ai-service-bn-wrap {
      background-size: cover;
    }
    //경영진단 서비스 신청
    .diagn-apply-sec01 {
      background-size: cover;
    }
    .diagn-apply-sec03 {
      background-size: cover;
    }
  }
}
