.SOLTab-root {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  .service-result-rating {
    border-radius: 10px;
    overflow: hidden;
  }

  .service-result-box {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.SOLTab-menu {
  flex-shrink: 0;
  display: flex;
  gap: 32px;
  padding: 20px var(--spc-w) 0;
  border-bottom: 1px solid var(--tb-border);
  white-space: nowrap;
}

.SOLTab-btn {
  position: relative;
  height: 46px;
  padding-bottom: 6px;
  font-size: var(--font-17);
  color: var(--fc-gray2);
  font-weight: 700;
  transition: border-color 0.3s, color 0.3s;

  &:not(:first-child) {
    margin-left: -1px;
  }

  &.st--active {
    z-index: 1;
    color: #222;

    &::after {
      width: 100%;
    }
  }

  &::after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 50%;
    width: 0;
    border-bottom: 2px solid currentColor;
    transform: translateX(-50%);
    transition: width 0.3s var(--ease);
  }
}

.SOLTab-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.SOLTab-content {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 0;

  &.st--active {
    flex-grow: 1;
    height: auto;
    overflow: visible;
  }
}

.SOLTab-inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.SOLTab-btns {
  padding: 0 var(--spc-w) 24px;
}
